---
openapi: 3.0.0
info:
  description: >-
    This is the interface for interacting with the [Asana
    Platform](https://developers.asana.com). Our API reference
    is generated from our [OpenAPI spec]
    (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
  x-public-description: >-
    This is the interface for interacting with the [Asana
    Platform](https://developers.asana.com). Our API reference
    is generated from our [OpenAPI spec]
    (https://raw.githubusercontent.com/Asana/developer-docs/master/defs/asana_oas.yaml).
  title: Asana
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
servers:
  - url: https://app.asana.com/api/1.0
    description: Main endpoint.
security:
  - personalAccessToken: []
  - oauth2: []
tags:
  - name: Attachments
    description: >-
      An *attachment* object represents any file attached to a task in Asana,
      whether it’s an uploaded file or one associated via a third-party service
      such as Dropbox or Google Drive.
  - name: Batch API
    description: >-
      There are many cases where you want to accomplish a variety of work in
      the Asana API but want to minimize the number of HTTP requests you make.
      For example:


      * Modern browsers limit the number of requests that a single web page can
        make at once.
      * Mobile apps will use more battery life to keep the cellular radio on
        when making a series of requests.
      * There is an overhead cost to developing software that can make multiple
        requests in parallel.
      * Some cloud platforms handle parallelism poorly, or disallow it
        entirely.


      To make development easier in these use cases, Asana provides a **batch
      API** that enables developers to perform multiple “actions” by making
      only a single HTTP request.


      #### Making a Batch Request


      To make a batch request, send a `POST` request to `/batch`. Like other
      `POST` endpoints, the body should contain a `data` envelope. Inside this
      envelope should be a single `actions` field, containing a list of
      “action” objects.  Each action represents a standard request to an
      existing endpoint in the Asana API.


      **The maximum number of actions allowed in a single batch request is 10**.
      Making a batch request with no actions in it will result in a `400 Bad
      Request`.


      When the batch API receives the list of actions to execute, it will
      dispatch those actions to the already-implemented endpoints specified by
      the `relative_path` and `method` for each action. This happens in
      parallel, so all actions in the request will be processed simultaneously.
      There is no guarantee of the execution order for these actions, nor is
      there a way to use the output of one action as the input of another
      action (such as creating a task and then commenting on it).


      The response to the batch request will contain (within the `data`
      envelope) a list of result objects, one for each action. The results are
      guaranteed to be in the same order as the actions in the request, e.g.,
      the first result in the response corresponds to the first action in the
      request.


      The batch API will always attempt to return a `200 Success` response with
      individual result objects for each individual action in the request. Only
      in certain cases (such as missing authorization or malformed JSON in the
      body) will the entire request fail with another status code. Even if
      every individual action in the request fails, the batch API will still
      return a `200 Success` response, and each result object in the response
      will contain the errors encountered with each action.


      #### Rate Limiting


      The batch API fully respects all of our rate limiting. This means that a
      batch request counts against *both* the standard rate limiter and the
      concurrent request limiter as though you had made a separate HTTP request
      for every individual action. For example, a batch request with five
      actions counts as five separate requests in the standard rate limiter,
      and counts as five concurrent requests in the concurrent request limiter.
      The batch request itself incurs no cost.


      If any of the actions in a batch request would exceed any of the enforced
      limits, the *entire* request will fail with a `429 Too Many Requests`
      error. This is to prevent the unpredictability of which actions might
      succeed if not all of them could succeed.


      #### Restrictions


      Not every endpoint can be accessed through the batch API.
      Specifically, the following actions cannot be taken and will result in a
      `400 Bad Request` for that action:


      * Uploading attachments

      * Creating, getting, or deleting organization exports

      * Any SCIM operations

      * Nested calls to the batch API
  - name: Custom Fields
    description: >-
      In the Asana application, Tasks can hold user-specified Custom Fields
      which provide extra information; for example, a priority value or a number
      representing the time required to complete a Task. This lets a user define
      the type of information that each Task within a Project can contain in
      addition to the built-in fields that Asana provides.


      **Note:** Custom Fields are a premium feature. Integrations which work
      with Custom Fields need to handle an assortment of use cases for free and
      premium users in context of free and premium organizations. For a detailed
      examination of to what data users will have access in different
      circumstances, read the section below on
      [access control](#access-control).


      The characteristics of Custom Fields are:


      * There is metadata that defines the Custom Field. This metadata is shared
      across an entire organization or workspace.
      * Projects can have Custom Fields associated with them individually. This
      is conceptually akin to adding columns in a database or a spreadsheet:
      every Task (row) in the Project (table) can contain information for that
      field, including "blank" values, i.e. `null` data.
      * Tasks have Custom Field _values_ assigned to them.


      A brief example: let's imagine that an organization has defined a Custom
      Field for "Priority". This field is of `enum` type and can have
      user-defined values of `Low`, `Medium`, or `High`. This is the field
      metadata, and it is visible within, and shared across, the entire
      organization.


      A Project is then created in the organization, called "Bugs", and the
      "Priority" Custom Field is associated with that Project. This will allow
      all Tasks within the "Bugs" Project to have an associated "Priority".


      A new Task is created within "Bugs". This Task, then, has a field named
      "Priority" which can take on the Custom Field value of one of `[null]`,
      `Low`, `Medium`, and `High`.


      These Custom Fields are accessible via the API through a number of
      endpoints at the top level (e.g. `/custom_fields` and
      `/custom_field_settings`) and through calls on Workspaces, Projects, and
      Tasks resources. The API also provides a way to fetch both the metadata
      and data which define each particular Custom Field, so that a client
      application may render proper UI to display or edit the values.


      Custom Field aware integrations need to be aware of the basic types that
      Custom Fields can adopt. These types are:


      * `text` - an arbitrary, relatively short string of text
      * `number` - a number with a defined level of precision
      * `enum` - a selection from a defined list of options


      Text fields are currently limited to 1024 characters. On Tasks, their
      Custom Field value will have a `text_value` property to represent this
      field.


      Number fields can have an arbitrary `precision` associated with them; for
      example, a precision of `2` would round its value to the second
      (hundredths) place, i.e. 1.2345 would round to 1.23. On Tasks, the Custom
      Field value will have a `number_value` property to represent this field.


      Enum fields represent a selection from a list of options. On the metadata,
      they will contain all of the options in an array. Each option has 4
      properties:


      * `id` - the id of this enum option. Note that this is the id of the
      _option_ - the Custom Field itself has a separate `id`.
      * `name` - the name of the option, e.g. "Choice #1"
      * `enabled` - whether this field is enabled. Disabled fields are not
      available to choose from when disabled, and are visually hidden in the
      Asana application, but they remain in the metadata for Custom Field values
      which were set to the option before the option was disabled.
      * `color` - a color associated with this choice.


      On the Task's Custom Field value, the enum will have an `enum_value`
      property which will be the same as one of the choices from the list
      defined in the Custom Field metadata.
  - name: Custom Field Settings
    description: >-
      Custom fields are attached to a particular project with the Custom
      Field Settings resource. This resource both represents the
      many-to-many join of the Custom Field and Project as well as stores
      information that is relevant to that particular pairing; for instance,
      the `is_important` property determines some possible
      application-specific handling of that custom field.
  - name: Events
    description: >-
      An *event* is an object representing a change to a resource that was
      observed by an event subscription.


      In general, requesting events on a resource is faster and subject to
      higher rate limits than requesting the resource itself. Additionally,
      change events bubble up - listening to events on a project would include
      when stories are added to tasks in the project, even on subtasks.


      Establish an initial sync token by making a request with no sync token.
      The response will be a `412` error - the same as if the sync token had
      expired.


      Subsequent requests should always provide the sync token from the
      immediately preceding call.


      Sync tokens may not be valid if you attempt to go ‘backward’ in the
      history by requesting previous tokens, though re-requesting the current
      sync token is generally safe, and will always return the same results.


      When you receive a `412 Precondition Failed` error, it means that the
      sync token is either invalid or expired. If you are attempting to keep a
      set of data in sync, this signals you may need to re-crawl the data.


      Sync tokens always expire after 24 hours, but may expire sooner,
      depending on load on the service.
  - name: Jobs
    description: >-
      Jobs represent processes that handle asynchronous work.

      Jobs are created when an endpoint requests an action that will be handled
      asynchronously. Such as project or task duplication.

      Only the creator of the duplication process can access the duplication
      status
      of the new object.
  - name: Organization Exports
    description: >-
      An *organization_export* object represents a request to export the
      complete data of an Organization in JSON format.


      To export an Organization using this API:


      * Create an `organization_export`
        [request](#create-an-organization-export-request)
        and store the id that is returned.
      * Request the `organization_export` every few minutes, until the
        `state` field contains ‘finished’.
      * Download the file located at the URL in the `download_url` field.
      * Exports can take a long time, from several minutes to a few hours
        for large Organizations.


      *Note: These endpoints are only available to [Service
      Accounts](https://asana.com/guide/help/premium/service-accounts) of an
      [Enterprise](https://asana.com/enterprise) Organization.*
  - name: Portfolios
    description: >-
      A 'portfolio' gives a high-level overview of the status of multiple
      initiatives in Asana. Portfolios provide a dashboard overview of the
      state of multiple projects, including a progress report and the most
      recent [project status](#asana-project-statuses)
      update.

      Portfolios have some restrictions on size. Each portfolio has a max of 250
      items and, like projects, a max of 20 custom fields.
  - name: Portfolio Memberships
    description: >-
      This object determines if a user is a member of a portfolio.
  - name: Projects
    description: >-
      A `project` represents a prioritized list of tasks in Asana or a board
      with columns of tasks represented as cards. It exists in a single
      workspace or organization and is accessible to a subset of users in that
      workspace or organization, depending on its permissions.


      Projects in organizations are shared with a single team. You cannot
      currently change the team of a project via the API. Non-organization
      workspaces do not have teams and so you should not specify the team of
      project in a regular workspace.


      Followers of a project are a subset of the members of that project.
      Followers of a project will receive all updates including tasks
      created, added and removed from that project. Members of the project
      have access to and will receive status updates of the project. Adding
      followers to a project will add them as members if they are not
      already, removing followers from a project will not affect membership.
  - name: Project Memberships
    description: >-
      With the introduction of “comment-only” projects in Asana, a user’s
      membership in a project comes with associated permissions. These
      permissions (whether a user has full access to the project or
      comment-only access) are accessible through the project memberships
      endpoints described here.
  - name: Project Statuses
    description: >-
      A *project status* is an update on the progress of a particular project,
      and is sent out to all project followers when created. These updates
      include both text describing the update and a color code intended to
      represent the overall state of the project: “green” for projects that
      are on track, “yellow” for projects at risk, and “red” for projects that
      are behind.


      Project statuses can be created and deleted, but not modified.
  - name: Sections
    description: >-
      A *section* is a subdivision of a project that groups tasks together.
      It can either be a header above a list of tasks in a list view or a
      column in a board view of a project.


      Sections are largely a shared idiom in Asana’s API for both list and
      board views of a project regardless of the project’s layout.


      The ‘memberships’ property when
      [getting a task](#get-a-task)
      will return the information for the section or the column under
      ‘section’ in the response.
  - name: Stories
    description: >-
      *See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924)
      for more info on when conditional fields are returned.*


      A *story* represents an activity associated with an object in the
      Asana system. Stories are generated by the system whenever users take
      actions such as creating or assigning tasks, or moving tasks between
      projects. *Comments* are also a form of user-generated story.
  - name: Tags
    description: >-
      A tag is a label that can be attached to any task in Asana. It exists in
      a single workspace or organization.


      Tags have some metadata associated with them, but it is possible that
      we will simplify them in the future so it is not encouraged to rely
      too heavily on it. Unlike projects, tags do not provide any ordering
      on the tasks they are associated with.
  - name: Tasks
    description: >-
      The task is the basic object around which many operations in Asana are
      centered. In the Asana application, multiple tasks populate the
      middle pane according to some view parameters, and the set of selected
      tasks determines the more detailed information presented in the
      details pane.


      Sections are unique in that they will be included in the *memberships*
      field of task objects returned in the API when the task is within a
      section. They can also be used to manipulate the ordering of a task
      within a project.


      [Queries](#get-a-set-of-tasks)
      return a compact representation of each object which is typically the
      id and name fields. Interested in a specific set of fields or all of
      the fields? Use [field selectors](#input-output-options)
      to manipulate what data is included in a response.
  - name: Teams
    description: >-
      A *team* is used to group related projects and people together within an
      organization. Each project in an organization is associated with a team.
  - name: Typeahead
    description: >-
      The typeahead search API provides search for objects from a single
      workspace.
  - name: Users
    description: >-
      A user object represents an account in Asana that can be given access to
      various workspaces, projects, and tasks.


      Like other objects in the system, users are referred to by numerical
      IDs. However, the special string identifier `me` can be used anywhere
      a user ID is accepted, to refer to the current authenticated user.
  - name: User Task Lists
    description: >-
      A user task list represents the tasks assigned to a particular user.


      A user’s “My Tasks” represent all of the tasks assigned to that user.
      It is visually divided into regions based on the task’s
      [`assignee_status`](#tocS_Task)
      for Asana users to triage their tasks based on when they can address
      them. When building an integration it’s worth noting that tasks with
      due dates will automatically move through `assignee_status` states as
      their due dates approach; read up on [task
      auto-promotion](https://asana.com/guide/help/fundamentals/my-tasks#gl-auto-promote)
      for more information.
  - name: Webhooks
    description: >-
      Webhooks allow an application to be notified of changes. This is in
      addition to the ability to fetch those changes directly as
      [Events](#asana-events) - in fact, Webhooks are just a way to receive
      Events via HTTP POST at the time they occur instead of polling for them.
      For services accessible via HTTP this is often vastly more convenient, and
      if events are not too frequent can be significantly more efficient.


      In both cases, however, changes are represented as Event objects - refer
      to the [Events documentation](#asana-events) for more information on what
      data these events contain.


      **NOTE:** While Webhooks send arrays of Event objects to their target, the
      Event objects themselves contain *only IDs*, rather than the actual
      resource they are referencing. So while a normal event you receive via GET
      /events would look like an [Event](/#tocS_Event). In a Webhook payload you
      will instead receive a [WebhookEvent](#tocS_WebhookEvent) (a simplified
      version of the event object).


      [Webhooks](#tocS_Webhook) themselves contain only the information
      necessary to deliver the events to the desired target as they are
      generated.


      #### Receiving Events


      Because multiple events often happen in short succession, a webhook
      payload is designed to be able to transmit multiple events at once. The
      exact model of events is described in the
      [Events documentation](#asana-events).


      The HTTP POST that the target receives contains:


       * An `X-Hook-Signature` header, which allows verifying that the payload
       is genuine.  The signature is a SHA256 HMAC using the shared secret
       (transmitted during the handshake) of the request body. Verification is
       **strongly recommended**, as it would otherwise be possible for an
       attacker to POST a malicious payload to the same endpoint. If the target
       endpoint can be kept secret this risk is mitigated somewhat, of course.
       * A JSON body with a single key, `events`, containing an array of the
       events that have occurred since the last webhook delivery. Note that this
       list may be empty, as periodically we may send a "heartbeat" webhook to
       verify that the endpoint is available.


      Note that events are "skinny" - we expect consumers who desire syncing
      data to make additional calls to the API to retrieve the latest state.
      Because the data may have already changed by the time we send the event,
      it would be misleading to send a snapshot of the data along with the
      event.


      #### Error Handling and Retry


      If we attempt to send a webhook payload and we receive an error status
      code, or the request times out, we will retry delivery with exponential
      backoff. In general, if your servers are not available for an hour, you
      can expect it to take no longer than approximately an hour after they come
      back before the paused delivery resumes. However, if we are unable to
      deliver a message for 24 hours the webhook will be deactivated.
  - name: Workspaces
    description: >-
      A *workspace* is the highest-level organizational unit in Asana. All
      projects and tasks have an associated workspace.


      An *organization* is a special kind of workspace that represents a
      company. In an organization, you can group your projects into teams.
      You can read more about how organizations work on the Asana Guide. To
      tell if your workspace is an organization or not, check its
      `is_organization` property.


      Over time, we intend to migrate most workspaces into organizations and
      to release more organization-specific functionality. We may eventually
      deprecate using workspace-based APIs for organizations. Currently, and
      until after some reasonable grace period following any further
      announcements, you can still reference organizations in any
      `workspace` parameter.
  - name: Workspace Memberships
    description: >-
      This object determines if a user is a member of a workspace.
components:
  parameters:
    fields:
      name: opt_fields
      in: query
      description: >-
        Defines fields to return.

        Some requests return *compact* representations of objects in order to
        conserve resources and complete the request more efficiently. Other times
        requests return more information than you may need. This option allows
        you to list the exact set of fields that the API should be sure to
        return for the objects. The field names should be provided as paths,
        described below.

        The id of included objects will always be returned, regardless of the
        field options.
      example:
        - followers
        - assignee
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    pretty:
      name: opt_pretty
      in: query
      description: >-
        Provides “pretty” output.

        Provides the response in a “pretty” format. In the case of JSON this
        means doing proper line breaking and indentation to make it readable.
        This will take extra time and increase the response size so it is
        advisable only to use this during debugging.
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
      example: true
    limit:
      name: limit
      in: query
      description: >-
        Results per page.

        The number of objects to return per page. The value must be between 1
        and 100.
      example: 50
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: >-
        Offset token.

        An offset to the next page returned by the API. A pagination request
        will return an offset token, which can be used as an input parameter to
        the next request. If an offset is not passed in, the API will return
        the first page of results.

        'Note: You can only pass in an offset that was returned to you via a
        previously paginated request.'
      example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      schema:
        type: string
    archived_query_param:
      name: archived
      in: query
      description: >-
        Only return projects whose `archived` field takes on the value of
        this parameter.
      schema:
        type: boolean
      example: false
    attachment_path_gid:
      name: attachment_gid
      in: path
      description: >-
        Globally unique identifier for the attachment.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: attachment
    custom_field_path_gid:
      name: custom_field_gid
      in: path
      description: >-
        Globally unique identifier for the custom field.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: custom_field
    job_path_gid:
      name: job_gid
      in: path
      description: >-
        Globally unique identifier for the job.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: job
    organization_export_path_gid:
      name: organization_export_gid
      in: path
      description: >-
        Globally unique identifier for the organization export.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: organization_export
    project_path_gid:
      name: project_gid
      in: path
      description: >-
        Globally unique identifier for the project.
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: project
    project_membership_path_gid:
      name: project_membership_path_gid
      in: path
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: project_membership
    project_status_path_gid:
      name: project_status_path_gid
      in: path
      required: true
      description: The project status update to get.
      schema:
        type: string
      example: '321654'
      x-env-variable: project_status
    portfolio_path_gid:
      name: portfolio_gid
      in: path
      description: >-
        Globally unique identifier for the portfolio.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: portfolio
    portfolio_membership_path_gid:
      name: portfolio_membership_path_gid
      in: path
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: portfolio_membership
    portfolio_query_param:
      name: portfolio
      in: query
      description: The portfolio to filter results on.
      schema:
        type: string
      example: '12345'
      x-env-variable: portfolio
    section_path_gid:
      name: section_gid
      in: path
      required: true
      description: The globally unique identifier for the section.
      schema:
        type: string
      example: '321654'
      x-env-variable: section
    story_path_gid:
      name: story_gid
      in: path
      description: Globally unique identifier for the story.
      required: true
      schema:
        type: string
      example: '35678'
      x-env-variable: story
    tag_path_gid:
      name: tag_gid
      in: path
      description: Globally unique identifier for the tag.
      required: true
      schema:
        type: string
      example: '11235'
      x-env-variable: tag
    task_path_gid:
      name: task_gid
      in: path
      required: true
      description: The task to operate on.
      schema:
        type: string
      example: '321654'
      x-env-variable: task
    team_path_gid:
      name: team_gid
      in: path
      description: Globally unique identifier for the team.
      required: true
      schema:
        type: string
      example: '159874'
      x-env-variable: team
    user_query_param:
      name: user
      in: query
      description: The user to filter results on.
      schema:
        type: string
        format: email
      x-env-variable: user
      examples:
        gid:
          summary: A globally unique identifier for the user
          value: '14641'
        me:
          summary: >-
            The keyword 'me' to indicate the current user making the
            request.
          value: me
        email:
          summary: An email address for a user
          value: sashimi@asana.com
    user_path_gid:
      name: user_gid
      in: path
      description: >-
        Globally unique identifier for the user.
      required: true
      schema:
        type: string
      x-env-variable: user
      examples:
        gid:
          summary: A globally unique identifier for the user
          value: 14641
        me:
          summary: >-
            The keyword 'me' to indicate the current user making the
            request.
          value: me
        email:
          summary: An email address for a user
          value: sashimi@asana.com
    user_task_list_path_gid:
      name: user_task_list_gid
      in: path
      description: >-
        Globally unique identifier for the user task list.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: user_task_list
    webhook_path_gid:
      name: webhook_gid
      in: path
      description: >-
        Globally unique identifier for the webhook.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: webhook
    workspace_path_gid:
      name: workspace_gid
      in: path
      description: >-
        Globally unique identifier for the workspace or organization.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace
    workspace_query_param:
      name: workspace
      in: query
      description: The workspace to filter results on.
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace
    workspace_membership_path_gid:
      name: workspace_membership_path_gid
      in: path
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace_membership
  responses:
    GenericErrorResponse:
      description: >-
        Sadly, sometimes requests to the API are not successful. Failures can
        occur for a wide range of reasons. In all cases, the API should return
        an HTTP Status Code that indicates the nature of the failure,
        with a response body in JSON format containing additional information.
        In the event of a server error the response body will contain an error
        phrase. These phrases are automatically generated using the
        [node-asana-phrase
        library](https://github.com/Asana/node-asana-phrase) and can be used by
        Asana support to quickly look up the incident that caused the server
        error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: >-
        This usually occurs because of a missing or malformed parameter. Check
        the documentation and the syntax of your request and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: >-
        A valid authentication token was not provided with the request, so the
        API could not associate a user with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: >-
        The request was valid, but the queried object or object mutation
        specified in the request is above your current premium level.
    Forbidden:
      description: >-
        The authentication and request syntax was valid but the server is
        refusing to complete the request. This can happen if you try to read or
        write to objects or properties that the user does not have access to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: >-
        Either the request method and path supplied do not specify a known
        action in the API, or the object specified by the request does not
        exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: >-
        You have exceeded one of the enforced rate limits in the API. See the
        [documentation on rate
        limiting](https://developers.asana.com/docs/#rate-limits)
        for more information.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: >-
        There was a problem on Asana’s end.
        In the event of a server error the response body should contain an error
        phrase. These phrases can be used by Asana support to quickly look up the
        incident that caused the server error.
        Some errors are due to server load, and will not supply an error phrase.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadGateway:
      description: >-
        There is an issue between the load balancers and Asana's API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: >-
        Either the upstream service is unavailable to the API, or he API has been
        intentionally shut off.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    GatewayTimeout:
      description: >-
        This request took too long to complete.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    body_object_gid_override:
      type: string
      readOnly: false
      x-env-variable: true
      description: >-
        Gid of an object.
      example: '12345'
    body_array_gid_override:
      type: array
      readOnly: false
      description: >-
        Array of object Gids.
      items:
        type: string
        description: >-
          Gid of an object.
      example:
        - '12345'
    AsanaObject:
      description: >-
        A generic Asana Object, containing a globally unique identifier.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
    AsanaNamedObject:
      description: >-
        A generic Asana Object, containing a globally unique identifier.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
        name:
          description: The name of the object.
          type: string
          example: Bug Task
    AsanaObjectArray:
      description: >-
        A generic list of objects, such as those returned by the typeahead search
        endpoint.
      type: object
      properties:
        data:
          type: array
          items:
            description: >-
              A generic Asana Object, containing a globally unique identifier.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: task
              name:
                description: The name of the object.
                type: string
                example: Bug Task
    AsanaSubtype:
      properties:
        resource_subtype:
          description: >-
            The subtype of this resource. Different subtypes retain many of the
            same fields and behavior, but may render differently in Asana or
            represent resources with different semantic meaning.
          type: string
          readOnly: true
    AsanaCreatedAt:
      type: object
      properties:
        created_at:
          description: The time at which this resource was created.
          type: string
          format: date-time
          readOnly: true
          example: '2012-02-22T02:06:58.147Z'
    AsanaCreatedBy:
      properties:
        created_by:
          description: >-
            The user who created this resource.
          type: object
          properties:
            gid:
              description: >-
                Globally unique identifier of the object, as a string.
              type: string
              readOnly: true
              example: '12345'
            resource_type:
              description: The base type of this resource.
              type: string
              readOnly: true
              example: user
            name:
              description: >-
                *Read-only except when same user as requester*. The user’s name.
              type: string
              example: Greg Sanchez
          readOnly: true
          nullable: true
    Attachment:
      description: >-
        An *attachment* object represents any file attached to a task in
        Asana, whether it’s an uploaded file or one associated via a
        third-party service such as Dropbox or Google Drive.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: attachment
        name:
          description: The name of the file.
          type: string
          readOnly: true
          example: Screenshot.png
        created_at:
          description: The time at which this resource was created.
          type: string
          format: date-time
          readOnly: true
          example: '2012-02-22T02:06:58.147Z'
        download_url:
          description: >-
            The URL containing the content of the attachment.

            *Note:* May be null if the attachment is hosted by
            [Box](https://www.box.com/). If present, this URL may only be
            valid for 1 hour from the time of retrieval. You should avoid
            persisting this URL somewhere and just refresh it on demand to
            ensure you do not keep stale URLs.
          type: string
          format: uri
          readOnly: true
          nullable: true
          example: https://www.dropbox.com/s/123/Screenshot.png?dl=1
        host:
          description: >-
            The service hosting the attachment. Valid values are `asana`,
            `dropbox`, `gdrive` and `box`.
          type: string
          readOnly: true
          example: dropbox
        parent: {}
        view_url:
          description: >-
            The URL where the attachment can be viewed, which may be
            friendlier to users in a browser than just directing them to a raw
            file. May be null if no view URL exists for the service.
          type: string
          format: uri
          readOnly: true
          nullable: true
          example: https://www.dropbox.com/s/123/Screenshot.png
    AttachmentCompact:
      description: >-
        An *attachment* object represents any file attached to a task in
        Asana, whether it’s an uploaded file or one associated via a
        third-party service such as Dropbox or Google Drive.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: attachment
        name:
          description: The name of the file.
          type: string
          readOnly: true
          example: Screenshot.png
    AttachmentObject:
      type: object
      properties:
        data:
          description: >-
            An *attachment* object represents any file attached to a task in
            Asana, whether it’s an uploaded file or one associated via a
            third-party service such as Dropbox or Google Drive.
          type: object
          properties:
            gid:
              description: >-
                Globally unique identifier of the object, as a string.
              type: string
              readOnly: true
              example: '12345'
            resource_type:
              description: The base type of this resource.
              type: string
              readOnly: true
              example: attachment
            name:
              description: The name of the file.
              type: string
              readOnly: true
              example: Screenshot.png
            created_at:
              description: The time at which this resource was created.
              type: string
              format: date-time
              readOnly: true
              example: '2012-02-22T02:06:58.147Z'
            download_url:
              description: >-
                The URL containing the content of the attachment.

                *Note:* May be null if the attachment is hosted by
                [Box](https://www.box.com/). If present, this URL may only be
                valid for 1 hour from the time of retrieval. You should avoid
                persisting this URL somewhere and just refresh it on demand to
                ensure you do not keep stale URLs.
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: https://www.dropbox.com/s/123/Screenshot.png?dl=1
            host:
              description: >-
                The service hosting the attachment. Valid values are `asana`,
                `dropbox`, `gdrive` and `box`.
              type: string
              readOnly: true
              example: dropbox
            parent: {}
            view_url:
              description: >-
                The URL where the attachment can be viewed, which may be
                friendlier to users in a browser than just directing them to a raw
                file. May be null if no view URL exists for the service.
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: https://www.dropbox.com/s/123/Screenshot.png
    AttachmentArray:
      type: object
      properties:
        data:
          type: array
          items:
            description: >-
              An *attachment* object represents any file attached to a task in
              Asana, whether it’s an uploaded file or one associated via a
              third-party service such as Dropbox or Google Drive.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: attachment
              name:
                description: The name of the file.
                type: string
                readOnly: true
                example: Screenshot.png
    BatchRequest:
      description: A request object for use in a batch request.
      type: object
      properties:
        relative_path:
          description: >-
            The path of the desired endpoint relative to the API’s base URL. Query
            parameters are not accepted here; put them in `data` instead.
          type: string
          example: /tasks/123
        method:
          description: The HTTP method you wish to emulate for the action.
          type: string
          enum:
            - get
            - post
            - put
            - delete
            - patch
            - head
          example: get
        data:
          description: >-
            For `GET` requests, this should be a map of query parameters you would
            have normally passed in the URL. Options and pagination are not
            accepted here; put them in `options` instead. For `POST`, `PATCH`, and
            `PUT` methods, this should be the content you would have normally put
            in the data field of the body.
          type: object
          example:
            assignee: me
            workspace: '1337'
        options:
          description: >-
            Pagination (`limit` and `offset`) and output options (`fields` or
            `expand`) for the action. “Pretty” JSON output is not an available
            option on individual actions; if you want pretty output, specify that
            option on the parent request.
          type: object
          properties:
            limit:
              description: Pagination limit for the request.
              type: integer
              example: 50
            offset:
              description: Pagination offset for the request.
              type: integer
              example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
            fields:
              description: The fields to retrieve in the request.
              type: array
              items:
                type: string
              example:
                - name
                - gid
                - notes
                - completed
          example:
            limit: 3
            fields:
              - name
              - notes
              - completed
      required:
        - relative_path
        - method
    BatchResult:
      description: A response object returned from a batch request.
      type: object
      properties:
        status_code:
          description: The HTTP status code that the invoked endpoint returned.
          type: integer
          example: 200
        headers:
          description: >-
            A map of HTTP headers specific to this result. This is primarily used
            for returning a `Location` header to accompany a `201 Created`
            result.  The parent HTTP response will contain all common headers.
          type: object
          example:
            location: /tasks/1234
        body:
          description: The JSON body that the invoked endpoint returned.
          type: object
          example:
            data:
              gid: '1967'
              completed: false
              name: Hello, world!
              notes: How are you today?
    BatchResultObject:
      type: object
      properties:
        data:
          description: A response object returned from a batch request.
          type: object
          properties:
            status_code:
              description: The HTTP status code that the invoked endpoint returned.
              type: integer
              example: 200
            headers:
              description: >-
                A map of HTTP headers specific to this result. This is primarily used
                for returning a `Location` header to accompany a `201 Created`
                result.  The parent HTTP response will contain all common headers.
              type: object
              example:
                location: /tasks/1234
            body:
              description: The JSON body that the invoked endpoint returned.
              type: object
              example:
                data:
                  gid: '1967'
                  completed: false
                  name: Hello, world!
                  notes: How are you today?
    BatchResultArray:
      type: object
      properties:
        data:
          type: array
          items:
            description: A response object returned from a batch request.
            type: object
            properties:
              status_code:
                description: The HTTP status code that the invoked endpoint returned.
                type: integer
                example: 200
              headers:
                description: >-
                  A map of HTTP headers specific to this result. This is primarily
                  used
                  for returning a `Location` header to accompany a `201 Created`
                  result.  The parent HTTP response will contain all common headers.
                type: object
                example:
                  location: /tasks/1234
              body:
                description: The JSON body that the invoked endpoint returned.
                type: object
                example:
                  data:
                    gid: '1967'
                    completed: false
                    name: Hello, world!
                    notes: How are you today?
    CustomField:
      description: >-
        Custom Fields store the metadata that is used in order to
        add user-specified information to tasks in Asana. Be sure
        to reference the [Custom Fields](#asana-custom-fields)
        developer documentation for more information about how custom fields
        relate to various resources in Asana.


        Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields),
        which will make them read-only when accessed by other users.
        Attempting to edit a locked custom field will return HTTP error code
        `403 Forbidden`.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: custom_field
        name:
          description: The name of the object.
          type: string
          example: Bug Task
        resource_subtype:
          description: >
            The type of the custom field. Must be one of the given values.
          type: string
          example: text
          enum:
            - text
            - enum
            - number
        type:
          description: >
            *Deprecated: new integrations should prefer the resource_subtype
            field.* The type of the custom field. Must be one of the given
            values.
          type: string
          readOnly: true
          enum:
            - text
            - enum
            - number
        enum_options:
          description: >-
            *Conditional*. Only relevant for custom fields of type `enum`.
            This array specifies the possible values which an `enum` custom
            field can adopt. To modify the enum options, refer to [working
            with enum
            options](#create-an-enum-option).
          type: array
          items:
            description: >-
              Enum options are the possible values which an enum custom field can
              adopt. An enum custom field must contain at least 1 enum option but
              no
              more than 50.


              You can add enum options to a custom field by using the `POST
              /custom_fields/custom_field_gid/enum_options` endpoint.


              **It is not possible to remove or delete an enum option**. Instead,
              enum options can be disabled by updating the `enabled` field to false
              with the `PUT /enum_options/enum_option_gid` endpoint. Other
              attributes can be updated similarly.


              On creation of an enum option, `enabled` is always set to `true`,
              meaning the enum option is a selectable value for the custom field.
              Setting `enabled=false` is equivalent to “trashing” the enum option
              in
              the Asana web app within the “Edit Fields” dialog. The enum option
              will no longer be selectable but, if the enum option value was
              previously set within a task, the task will retain the value.


              Enum options are an ordered list and by default new enum options are
              inserted at the end. Ordering in relation to existing enum options can
              be specified on creation by using `insert_before` or `insert_after`
              to
              reference an existing enum option. Only one of `insert_before` and
              `insert_after` can be provided when creating a new enum option.


              An enum options list can be reordered with the `POST
              /custom_fields/custom_field_gid/enum_options/insert` endpoint.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: enum_option
              name:
                description: The name of the enum option.
                type: string
                example: Low
              enabled:
                description: "The color of the enum option. Defaults to \u2018none\u2019\
                  ."
                type: boolean
                example: true
              color:
                description: >-
                  Whether or not the enum option is a selectable value for the
                  custom field.
                type: string
                example: blue
        enum_value: {}
        enabled:
          description: >-
            *Conditional*. Determines if the custom field is enabled or not.
          type: boolean
          example: true
        text_value:
          description: >-
            *Conditional*. This string is the value of a text custom field.
          type: string
          example: Some Value
        description:
          description: >-
            [Opt
            In](#input-output-options).
            The description of the custom field.
          type: string
          example: Development team priority
        precision:
          description: >-
            Only relevant for custom fields of type ‘Number’. This field
            dictates the number of places after the decimal to round to, i.e.
            0 is integer values, 1 rounds to the nearest tenth, and so on.
            Must be between 0 and 6, inclusive.
          type: integer
          example: 2
        is_global_to_workspace:
          description: >-
            This flag describes whether this custom field is available to
            every container in the workspace. Before project-specific custom
            fields, this field was always true.
          type: boolean
          example: true
          readOnly: true
        has_notifications_enabled:
          description: >-
            This flag describes whether a follower of a task with this field
            should receive inbox notifications from changes to this field.
          type: boolean
          example: true
    CustomFieldCompact:
      description: >-
        Custom Fields store the metadata that is used in order to
        add user-specified information to tasks in Asana. Be sure
        to reference the [Custom Fields](#asana-custom-fields)
        developer documentation for more information about how custom fields
        relate to various resources in Asana.


        Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields),
        which will make them read-only when accessed by other users.
        Attempting to edit a locked custom field will return HTTP error code
        `403 Forbidden`.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: custom_field
        name:
          description: The name of the object.
          type: string
          example: Bug Task
        resource_subtype:
          description: >
            The type of the custom field. Must be one of the given values.
          type: string
          example: text
          enum:
            - text
            - enum
            - number
        type:
          description: >
            *Deprecated: new integrations should prefer the resource_subtype
            field.* The type of the custom field. Must be one of the given
            values.
          type: string
          readOnly: true
          enum:
            - text
            - enum
            - number
        enum_options:
          description: >-
            *Conditional*. Only relevant for custom fields of type `enum`.
            This array specifies the possible values which an `enum` custom
            field can adopt. To modify the enum options, refer to [working
            with enum
            options](#create-an-enum-option).
          type: array
          items:
            description: >-
              Enum options are the possible values which an enum custom field can
              adopt. An enum custom field must contain at least 1 enum option but
              no
              more than 50.


              You can add enum options to a custom field by using the `POST
              /custom_fields/custom_field_gid/enum_options` endpoint.


              **It is not possible to remove or delete an enum option**. Instead,
              enum options can be disabled by updating the `enabled` field to false
              with the `PUT /enum_options/enum_option_gid` endpoint. Other
              attributes can be updated similarly.


              On creation of an enum option, `enabled` is always set to `true`,
              meaning the enum option is a selectable value for the custom field.
              Setting `enabled=false` is equivalent to “trashing” the enum option
              in
              the Asana web app within the “Edit Fields” dialog. The enum option
              will no longer be selectable but, if the enum option value was
              previously set within a task, the task will retain the value.


              Enum options are an ordered list and by default new enum options are
              inserted at the end. Ordering in relation to existing enum options can
              be specified on creation by using `insert_before` or `insert_after`
              to
              reference an existing enum option. Only one of `insert_before` and
              `insert_after` can be provided when creating a new enum option.


              An enum options list can be reordered with the `POST
              /custom_fields/custom_field_gid/enum_options/insert` endpoint.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: enum_option
              name:
                description: The name of the enum option.
                type: string
                example: Low
              enabled:
                description: "The color of the enum option. Defaults to \u2018none\u2019\
                  ."
                type: boolean
                example: true
              color:
                description: >-
                  Whether or not the enum option is a selectable value for the
                  custom field.
                type: string
                example: blue
        enum_value: {}
        enabled:
          description: >-
            *Conditional*. Determines if the custom field is enabled or not.
          type: boolean
          example: true
        text_value:
          description: >-
            *Conditional*. This string is the value of a text custom field.
          type: string
          example: Some Value
    CustomFieldObject:
      type: object
      properties:
        data:
          description: >-
            Custom Fields store the metadata that is used in order to
            add user-specified information to tasks in Asana. Be sure
            to reference the [Custom Fields](#asana-custom-fields)
            developer documentation for more information about how custom fields
            relate to various resources in Asana.


            Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields),
            which will make them read-only when accessed by other users.
            Attempting to edit a locked custom field will return HTTP error code
            `403 Forbidden`.
          type: object
          properties:
            gid:
              description: >-
                Globally unique identifier of the object, as a string.
              type: string
              readOnly: true
              example: '12345'
            resource_type:
              description: The base type of this resource.
              type: string
              readOnly: true
              example: custom_field
            name:
              description: The name of the object.
              type: string
              example: Bug Task
            resource_subtype:
              description: >
                The type of the custom field. Must be one of the given values.
              type: string
              example: text
              enum:
                - text
                - enum
                - number
            type:
              description: >
                *Deprecated: new integrations should prefer the resource_subtype
                field.* The type of the custom field. Must be one of the given
                values.
              type: string
              readOnly: true
              enum:
                - text
                - enum
                - number
            enum_options:
              description: >-
                *Conditional*. Only relevant for custom fields of type `enum`.
                This array specifies the possible values which an `enum` custom
                field can adopt. To modify the enum options, refer to [working
                with enum
                options](#create-an-enum-option).
              type: array
              items:
                description: >-
                  Enum options are the possible values which an enum custom field
                  can
                  adopt. An enum custom field must contain at least 1 enum option
                  but no
                  more than 50.


                  You can add enum options to a custom field by using the `POST
                  /custom_fields/custom_field_gid/enum_options` endpoint.


                  **It is not possible to remove or delete an enum option**. Instead,
                  enum options can be disabled by updating the `enabled` field to
                  false
                  with the `PUT /enum_options/enum_option_gid` endpoint. Other
                  attributes can be updated similarly.


                  On creation of an enum option, `enabled` is always set to `true`,
                  meaning the enum option is a selectable value for the custom field.
                  Setting `enabled=false` is equivalent to “trashing” the enum option
                  in
                  the Asana web app within the “Edit Fields” dialog. The enum option
                  will no longer be selectable but, if the enum option value was
                  previously set within a task, the task will retain the value.


                  Enum options are an ordered list and by default new enum options
                  are
                  inserted at the end. Ordering in relation to existing enum options
                  can
                  be specified on creation by using `insert_before` or `insert_after`
                  to
                  reference an existing enum option. Only one of `insert_before` and
                  `insert_after` can be provided when creating a new enum option.


                  An enum options list can be reordered with the `POST
                  /custom_fields/custom_field_gid/enum_options/insert` endpoint.
                type: object
                properties:
                  gid:
                    description: >-
                      Globally unique identifier of the object, as a string.
                    type: string
                    readOnly: true
                    example: '12345'
                  resource_type:
                    description: The base type of this resource.
                    type: string
                    readOnly: true
                    example: enum_option
                  name:
                    description: The name of the enum option.
                    type: string
                    example: Low
                  enabled:
                    description: "The color of the enum option. Defaults to \u2018\
                      none\u2019."
                    type: boolean
                    example: true
                  color:
                    description: >-
                      Whether or not the enum option is a selectable value for the
                      custom field.
                    type: string
                    example: blue
            enum_value: {}
            enabled:
              description: >-
                *Conditional*. Determines if the custom field is enabled or not.
              type: boolean
              example: true
            text_value:
              description: >-
                *Conditional*. This string is the value of a text custom field.
              type: string
              example: Some Value
            description:
              description: >-
                [Opt
                In](#input-output-options).
                The description of the custom field.
              type: string
              example: Development team priority
            precision:
              description: >-
                Only relevant for custom fields of type ‘Number’. This field
                dictates the number of places after the decimal to round to, i.e.
                0 is integer values, 1 rounds to the nearest tenth, and so on.
                Must be between 0 and 6, inclusive.
              type: integer
              example: 2
            is_global_to_workspace:
              description: >-
                This flag describes whether this custom field is available to
                every container in the workspace. Before project-specific custom
                fields, this field was always true.
              type: boolean
              example: true
              readOnly: true
            has_notifications_enabled:
              description: >-
                This flag describes whether a follower of a task with this field
                should receive inbox notifications from changes to this field.
              type: boolean
              example: true
    CustomFieldArray:
      type: object
      properties:
        data:
          type: array
          items:
            description: >-
              Custom Fields store the metadata that is used in order to
              add user-specified information to tasks in Asana. Be sure
              to reference the [Custom Fields](#asana-custom-fields)
              developer documentation for more information about how custom fields
              relate to various resources in Asana.


              Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields),
              which will make them read-only when accessed by other users.
              Attempting to edit a locked custom field will return HTTP error code
              `403 Forbidden`.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: custom_field
              name:
                description: The name of the object.
                type: string
                example: Bug Task
              resource_subtype:
                description: >
                  The type of the custom field. Must be one of the given values.
                type: string
                example: text
                enum:
                  - text
                  - enum
                  - number
              type:
                description: >
                  *Deprecated: new integrations should prefer the resource_subtype
                  field.* The type of the custom field. Must be one of the given
                  values.
                type: string
                readOnly: true
                enum:
                  - text
                  - enum
                  - number
              enum_options:
                description: >-
                  *Conditional*. Only relevant for custom fields of type `enum`.
                  This array specifies the possible values which an `enum` custom
                  field can adopt. To modify the enum options, refer to [working
                  with enum
                  options](#create-an-enum-option).
                type: array
                items:
                  description: >-
                    Enum options are the possible values which an enum custom field
                    can
                    adopt. An enum custom field must contain at least 1 enum option
                    but no
                    more than 50.


                    You can add enum options to a custom field by using the `POST
                    /custom_fields/custom_field_gid/enum_options` endpoint.


                    **It is not possible to remove or delete an enum option**. Instead,
                    enum options can be disabled by updating the `enabled` field to
                    false
                    with the `PUT /enum_options/enum_option_gid` endpoint. Other
                    attributes can be updated similarly.


                    On creation of an enum option, `enabled` is always set to `true`,
                    meaning the enum option is a selectable value for the custom field.
                    Setting `enabled=false` is equivalent to “trashing” the enum option
                    in
                    the Asana web app within the “Edit Fields” dialog. The enum option
                    will no longer be selectable but, if the enum option value was
                    previously set within a task, the task will retain the value.


                    Enum options are an ordered list and by default new enum options
                    are
                    inserted at the end. Ordering in relation to existing enum options
                    can
                    be specified on creation by using `insert_before` or `insert_after`
                    to
                    reference an existing enum option. Only one of `insert_before`
                    and
                    `insert_after` can be provided when creating a new enum option.


                    An enum options list can be reordered with the `POST
                    /custom_fields/custom_field_gid/enum_options/insert` endpoint.
                  type: object
                  properties:
                    gid:
                      description: >-
                        Globally unique identifier of the object, as a string.
                      type: string
                      readOnly: true
                      example: '12345'
                    resource_type:
                      description: The base type of this resource.
                      type: string
                      readOnly: true
                      example: enum_option
                    name:
                      description: The name of the enum option.
                      type: string
                      example: Low
                    enabled:
                      description: "The color of the enum option. Defaults to \u2018\
                        none\u2019."
                      type: boolean
                      example: true
                    color:
                      description: >-
                        Whether or not the enum option is a selectable value for the
                        custom field.
                      type: string
                      example: blue
              enum_value: {}
              enabled:
                description: >-
                  *Conditional*. Determines if the custom field is enabled or not.
                type: boolean
                example: true
              text_value:
                description: >-
                  *Conditional*. This string is the value of a text custom field.
                type: string
                example: Some Value
    CustomFieldSetting:
      description: >-
        Custom Fields Settings objects represent the many-to-many join of the
        Custom Field and Project as well as stores information that is
        relevant to that particular pairing.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: custom_field_setting
        project: {}
        is_important:
          description: >-
            `is_important` is used in the Asana web application to determine
            if this custom field is displayed in the task list (left pane) of
            a project. A project can have a maximum of 5 custom field settings
            marked as `is_important`.
          type: boolean
          readOnly: true
          example: false
        parent: {}
        custom_field: {}
    CustomFieldSettingCompact:
      description: >-
        Custom Fields Settings objects represent the many-to-many join of the
        Custom Field and Project as well as stores information that is
        relevant to that particular pairing.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: custom_field_setting
    CustomFieldSettingArray:
      type: object
      properties:
        data:
          type: array
          items:
            description: >-
              Custom Fields Settings objects represent the many-to-many join of the
              Custom Field and Project as well as stores information that is
              relevant to that particular pairing.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: custom_field_setting
              project: {}
              is_important:
                description: >-
                  `is_important` is used in the Asana web application to determine
                  if this custom field is displayed in the task list (left pane) of
                  a project. A project can have a maximum of 5 custom field settings
                  marked as `is_important`.
                type: boolean
                readOnly: true
                example: false
              parent: {}
              custom_field: {}
    DependencyArray:
      description: A set of task dependencies.
      type: object
      properties:
        data:
          type: object
          properties:
            dependencies:
              description: An array of task gids that a task should depend on.
              type: array
              items:
                type: string
      example:
        data:
          dependencies:
            - '133713'
            - '184253'
    DependentArray:
      description: A set of dependent tasks.
      type: object
      properties:
        data:
          type: object
          properties:
            dependents:
              description: An array of task gids that are dependents of the given
                task.
              type: array
              items:
                type: string
      example:
        data:
          dependents:
            - '133713'
            - '184253'
    EmptyObject:
      description: An empty object.
      type: object
      properties:
        data:
          type: object
    EnumOption:
      description: >-
        Enum options are the possible values which an enum custom field can
        adopt. An enum custom field must contain at least 1 enum option but no
        more than 50.


        You can add enum options to a custom field by using the `POST
        /custom_fields/custom_field_gid/enum_options` endpoint.


        **It is not possible to remove or delete an enum option**. Instead,
        enum options can be disabled by updating the `enabled` field to false
        with the `PUT /enum_options/enum_option_gid` endpoint. Other
        attributes can be updated similarly.


        On creation of an enum option, `enabled` is always set to `true`,
        meaning the enum option is a selectable value for the custom field.
        Setting `enabled=false` is equivalent to “trashing” the enum option in
        the Asana web app within the “Edit Fields” dialog. The enum option
        will no longer be selectable but, if the enum option value was
        previously set within a task, the task will retain the value.


        Enum options are an ordered list and by default new enum options are
        inserted at the end. Ordering in relation to existing enum options can
        be specified on creation by using `insert_before` or `insert_after` to
        reference an existing enum option. Only one of `insert_before` and
        `insert_after` can be provided when creating a new enum option.


        An enum options list can be reordered with the `POST
        /custom_fields/custom_field_gid/enum_options/insert` endpoint.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: enum_option
        name:
          description: The name of the enum option.
          type: string
          example: Low
        enabled:
          description: "The color of the enum option. Defaults to \u2018none\u2019\
            ."
          type: boolean
          example: true
        color:
          description: >-
            Whether or not the enum option is a selectable value for the
            custom field.
          type: string
          example: blue
    EnumOptionCompact:
      description: >-
        Enum options are the possible values which an enum custom field can
        adopt. An enum custom field must contain at least 1 enum option but no
        more than 50.


        You can add enum options to a custom field by using the `POST
        /custom_fields/custom_field_gid/enum_options` endpoint.


        **It is not possible to remove or delete an enum option**. Instead,
        enum options can be disabled by updating the `enabled` field to false
        with the `PUT /enum_options/enum_option_gid` endpoint. Other
        attributes can be updated similarly.


        On creation of an enum option, `enabled` is always set to `true`,
        meaning the enum option is a selectable value for the custom field.
        Setting `enabled=false` is equivalent to “trashing” the enum option in
        the Asana web app within the “Edit Fields” dialog. The enum option
        will no longer be selectable but, if the enum option value was
        previously set within a task, the task will retain the value.


        Enum options are an ordered list and by default new enum options are
        inserted at the end. Ordering in relation to existing enum options can
        be specified on creation by using `insert_before` or `insert_after` to
        reference an existing enum option. Only one of `insert_before` and
        `insert_after` can be provided when creating a new enum option.


        An enum options list can be reordered with the `POST
        /custom_fields/custom_field_gid/enum_options/insert` endpoint.
      type: object
      properties:
        gid:
          description: >-
            Globally unique identifier of the object, as a string.
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: enum_option
        name:
          description: The name of the enum option.
          type: string
          example: Low
        enabled:
          description: "The color of the enum option. Defaults to \u2018none\u2019\
            ."
          type: boolean
          example: true
        color:
          description: >-
            Whether or not the enum option is a selectable value for the
            custom field.
          type: string
          example: blue
    EnumOptionObject:
      type: object
      properties:
        data:
          description: >-
            Enum options are the possible values which an enum custom field can
            adopt. An enum custom field must contain at least 1 enum option but no
            more than 50.


            You can add enum options to a custom field by using the `POST
            /custom_fields/custom_field_gid/enum_options` endpoint.


            **It is not possible to remove or delete an enum option**. Instead,
            enum options can be disabled by updating the `enabled` field to false
            with the `PUT /enum_options/enum_option_gid` endpoint. Other
            attributes can be updated similarly.


            On creation of an enum option, `enabled` is always set to `true`,
            meaning the enum option is a selectable value for the custom field.
            Setting `enabled=false` is equivalent to “trashing” the enum option in
            the Asana web app within the “Edit Fields” dialog. The enum option
            will no longer be selectable but, if the enum option value was
            previously set within a task, the task will retain the value.


            Enum options are an ordered list and by default new enum options are
            inserted at the end. Ordering in relation to existing enum options can
            be specified on creation by using `insert_before` or `insert_after` to
            reference an existing enum option. Only one of `insert_before` and
            `insert_after` can be provided when creating a new enum option.


            An enum options list can be reordered with the `POST
            /custom_fields/custom_field_gid/enum_options/insert` endpoint.
          type: object
          properties:
            gid:
              description: >-
                Globally unique identifier of the object, as a string.
              type: string
              readOnly: true
              example: '12345'
            resource_type:
              description: The base type of this resource.
              type: string
              readOnly: true
              example: enum_option
            name:
              description: The name of the enum option.
              type: string
              example: Low
            enabled:
              description: "The color of the enum option. Defaults to \u2018none\u2019\
                ."
              type: boolean
              example: true
            color:
              description: >-
                Whether or not the enum option is a selectable value for the
                custom field.
              type: string
              example: blue
    EnumOptionArray:
      type: object
      properties:
        data:
          type: array
          items:
            description: >-
              Enum options are the possible values which an enum custom field can
              adopt. An enum custom field must contain at least 1 enum option but
              no
              more than 50.


              You can add enum options to a custom field by using the `POST
              /custom_fields/custom_field_gid/enum_options` endpoint.


              **It is not possible to remove or delete an enum option**. Instead,
              enum options can be disabled by updating the `enabled` field to false
              with the `PUT /enum_options/enum_option_gid` endpoint. Other
              attributes can be updated similarly.


              On creation of an enum option, `enabled` is always set to `true`,
              meaning the enum option is a selectable value for the custom field.
              Setting `enabled=false` is equivalent to “trashing” the enum option
              in
              the Asana web app within the “Edit Fields” dialog. The enum option
              will no longer be selectable but, if the enum option value was
              previously set within a task, the task will retain the value.


              Enum options are an ordered list and by default new enum options are
              inserted at the end. Ordering in relation to existing enum options can
              be specified on creation by using `insert_before` or `insert_after`
              to
              reference an existing enum option. Only one of `insert_before` and
              `insert_after` can be provided when creating a new enum option.


              An enum options list can be reordered with the `POST
              /custom_fields/custom_field_gid/enum_options/insert` endpoint.
            type: object
            properties:
              gid:
                description: >-
                  Globally unique identifier of the object, as a string.
                type: string
                readOnly: true
                example: '12345'
              resource_type:
                description: The base type of this resource.
                type: string
                readOnly: true
                example: enum_option
              name:
                description: The name of the enum option.
                type: string
                example: Low
              enabled:
                description: "The color of the enum option. Defaults to \u2018none\u2019\
                  ."
                type: boolean
                example: true
              color:
                description: >-
                  Whether or not the enum option is a selectable value for the
                  custom field.
                type: string
                example: blue
    Error:
      description: |-
        Sadly, sometimes requests to the API are not successful. Failures can
        occur for a wide range of reasons. In all cases, the API should return
        an HTTP Status Code that indicates the nature of the failure,
        with a response body in JSON format containing additional information.


        In the event of a server error the response body will contain an error
        phrase. These phrases are automatically generated using the
        [node-asana-phrase
        library](https://github.com/Asana/node-asana-phrase) and can be used by
        Asana support to quickly look up the incident that caused the server
        error.
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                readOnly: true
                description: >-
                  Message providing more detail about the error that occurred, if
                  available.
                example: 'project: Missing input'
              help:
                type: string
                readOnly: true
                description: >-
                  Additional information directing developers to resources on how
                  to address and fix the problem, if available.
                example: >-
                  For more information on API status codes and how to handle them,
                  read the docs on errors:
                  https://asana.github.io/developer-docs/#errors'
              phrase:
                type: string
                readOnly: true
                description: >-
                  *500 errors only*. A unique error phrase which can be used
                  when contacting developer support to help identify the exact
                  occurrence of the problem in Asana’s logs.
                example: 6 sad squid snuggle softly
    Event:
      description: |-
        An *event* is an object representing a change to a resource that was
        observed by an event subscription.
      type: object
      properties:
        user:
          description: >-
            The user who triggered the event.


            *Note: The event may be triggered by a different user than the
            subscriber. For example, if user A subscribes to a task and user B
            modified it, the event’s user will be user B. Note: Some events
            are generated by the system, and will have `null` as the user. API
            consumers should make sure to handle this case.
          type: object
          properties:
            gid:
              description: >-
                Globally unique identifier of the object, as a string.
              type: string
              readOnly: true
              example: '12345'
            resource_type:
              description: The base type of this resource.
              type: string
              readOnly: true
              example: user
            name:
              description: >-
                *Read-only except when same user as requester*. The user’s name.
              type: string
              example: Greg Sanchez
          readOnly: true
          nullable: true
        resource:
          description: |-
            The resource the event occurred on.

            *Note: The resource that triggered the event may be different from
            the one that the events were requested for. For example, a
            subscription to a project will contain events for tasks contained
            within the project.*
          type: object
          readOnly: true
          properties:
            gid:
              type: string
              example: '12345'
            name:
              type: string
              example: Bug Task
        type:
          description: |-
            *Deprecated: Refer to the resource_type of the resource.*
            The type of the resource that generated the event.

            *Note: Currently, only tasks, projects and stories generate
            events.*
          type: string
          readOnly: true
          example: task
        action:
          description: The type of action taken that triggered the event.
          type: string
          readOnly: true
          example: changed
        parent:
          description: >-
            For added/removed events, the parent that resource was added to or
            removed from. The parent will be `null` for other event types.
          type: object
          properties:
            gid:
              description: >-
                Globally unique identifier of the object, as a string.
              type: string
              readOnly: true
              example: '12345'
            resource_type:
              description: The base type of this resource.
              type: string
              readOnly: true
              example: task
            name:
              description: The name of the object.
              type: string
              example: Bug Task
          readOnly: true
          nullable: true
        created_at:
          description: The timestamp when the event occurred.
          type: string
          format: date-time
          readOnly: true
          example: '2012-02-22T02:06:58.147Z'
    EventArray:
      description: >-
        The full record for all events that have occurred since the sync token was
        created.
      type: object
      properties:
        data:
          type: array
          items:
            description: |-
              An *event* is an object representing a change to a resource that was
              observed by an event subscription.
            type: object
            properties:
              user:
                description: >-
                  The user who triggered the event.


                  *Note: The event may be triggered by a different user than the
                  subscriber. For example, if user A subscribes to a task and user
                  B
                  modified it, the event’s user will be user B. Note: Some events
                  are generated by the system, and will have `null` as the user. API
                  consumers should make sure to handle this case.
                type: object
                properties:
                  gid:
                    description: >-
                      Globally unique identifier of the object, as a string.
                    type: string
                    readOnly: true
                    example: '12345'
                  resource_type:
                    description: The base type of this resource.
                    type: string
                    readOnly: true
                    example: user
                  name:
                    description: >-
                      *Read-only except when same user as requester*. The user’s name.
                    type: string
                    example: Greg Sanchez
                readOnly: true
                nullable: true
              resource:
                description: |-
                  The resource the event occurred on.

                  *Note: The resource that triggered the event may be different from
                  the one that the events were requested for. For example, a
                  subscription to a project will contain events for tasks contained
                  within the project.*
                type: object
                readOnly: true
                properties:
                  gid:
                    type: string
                    example: '12345'
                  name:
                    type: string
                    example: Bug Task
              type:
                description: |-
                  *Deprecated: Refer to the resource_type of the resource.*
                  The type of the resource that generated the event.

                  *Note: Currently, only tasks, projects and stories generate
                  events.*
                type: string
                readOnly: true
                example: task
              action:
                description: The type of action taken that triggered the event.
                type: string
                readOnly: true
                example: changed
              parent:
                description: >-
                  For added/removed events, the parent that resource was added to
                  or
                  removed from. The parent will be `null` for other event types.
                type: object
                properties:
                  gid:
                    description: >-
                      Globally unique identifier of the object, as a string.
                    type: string
                    readOnly: true
                    example: '12345'
                  resource_type:
                    description: The base type of this resource.
                    type: string
                    readOnly: true
                    example: task
                  name:
                    description: The name of the object.
                    type: string
                    example: Bug Task
                readOnly: true
                nullable: true
              created_at:
                description: The timestamp when the event occurred.
                type: string
                format: date-time
                readOnly: true
                example: '2012-02-22T02:06:58.147Z'
        sync:
          description: A sync token to be used with the next call to the events endpoint.
          type: string
          example: de4774f6915eae04714ca93bb2f5ee81
    Job:
      description: >-
        A *job* is an object representing a process that handles asynchronous work.
      type: object
      properties:
        gid:
[...]
