openapi: 3.0.0
info:
  description: 'This is the interface for interacting with the [Asana Platform](https://asana.com/developers/). Our API reference is generated from our [OpenAPI spec] (https://github.com/Asana/developer-docs-slate/blob/master/defs/asana_oas.json).'
  title: Asana
  termsOfService: 'https://asana.com/terms'
  contact:
    name: Asana Support
    url: 'https://asana.com/support'
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  version: '1.0'
servers:
  - url: 'https://app.asana.com/api/1.0'
    description: Main endpoint.
    variables:
      version:
        default: '1.0'
        enum:
          - '1.0'
        description: The version of the API to use.
security:
  - personalAccessToken: []
  - oauth2: []
tags:
  - name: Attachments
    description: 'An *attachment* object represents any file attached to a task in Asana, whether it’s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.'
  - name: Batch API
    description: |-
      There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:
      * Modern browsers limit the number of requests that a single web page can
        make at once.
      * Mobile apps will use more battery life to keep the cellular radio on
        when making a series of requests.
      * There is an overhead cost to developing software that can make multiple
        requests in parallel.
      * Some cloud platforms handle parallelism poorly, or disallow it
        entirely.
      * To make development easier in these use cases, Asana provides a **batch
        API** that enables developers to perform multiple “actions” by making
        only a single HTTP request.

      ### Making a Batch Request
      To make a batch request, send a `POST` request to `/batch`. Like other `POST` endpoints, the body should contain a `data` envelope. Inside this envelope should be a single `actions` field, containing a list of “action” objects.  Each action represents a standard request to an existing endpoint in the Asana API.
      **The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a `400 Bad Request`.
      When the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the `relative_path` and `method` for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).
      The response to the batch request will contain (within the `data` envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request, e.g., the first result in the response corresponds to the first action in the request.
      The batch API will always attempt to return a `200 Success` response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a `200 Success` response, and each result object in the response will contain the errors encountered with each action.
      ### Rate Limiting
      The batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.
      If any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a `429 Too Many Requests` error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.
      ### Restrictions
      Not every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a `400 Bad Request` for that action:
      * Uploading attachments * Creating, getting, or deleting organization exports * Any SCIM operations * Nested calls to the batch API
  - name: Custom Fields
    description: |-
      In the Asana application, Tasks can hold user-specified Custom Fields which provide extra information; for example, a priority value or a number representing the time required to complete a Task. This lets a user define the type of information that each Task within a Project can contain in addition to the built-in fields that Asana provides.
      **Note:** Custom Fields are a premium feature. Integrations which work with Custom Fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of to what data users will have access in different circumstances, read the section below on [access control](#access-control).
      The characteristics of Custom Fields are:
      * There is metadata that defines the Custom Field. This metadata is shared across an entire organization or workspace. * Projects can have Custom Fields associated with them individually. This is conceptually akin to adding columns in a database or a spreadsheet: every Task (row) in the Project (table) can contain information for that field, including "blank" values, i.e. `null` data. * Tasks have Custom Field _values_ assigned to them.
      A brief example: let's imagine that an organization has defined a Custom Field for "Priority". This field is of `enum` type and can have user-defined values of `Low`, `Medium`, or `High`. This is the field metadata, and it is visible within, and shared across, the entire organization.
      A Project is then created in the organization, called "Bugs", and the "Priority" Custom Field is associated with that Project. This will allow all Tasks within the "Bugs" Project to have an associated "Priority".
      A new Task is created within "Bugs". This Task, then, has a field named "Priority" which can take on the Custom Field value of one of `[null]`, `Low`, `Medium`, and `High`.
      These Custom Fields are accessible via the API through a number of endpoints at the top level (e.g. `/custom_fields` and `/custom_field_settings`) and through calls on Workspaces, Projects, and Tasks resources. The API also provides a way to fetch both the metadata and data which define each particular Custom Field, so that a client application may render proper UI to display or edit the values.
      Custom Field aware integrations need to be aware of the basic types that Custom Fields can adopt. These types are:
      * `text` - an arbitrary, relatively short string of text * `number` - a number with a defined level of precision * `enum` - a selection from a defined list of options
      Text fields are currently limited to 1024 characters. On Tasks, their Custom Field value will have a `text_value` property to represent this field.
      Number fields can have an arbitrary `precision` associated with them; for example, a precision of `2` would round its value to the second (hundredths) place, i.e. 1.2345 would round to 1.23. On Tasks, the Custom Field value will have a `number_value` property to represent this field.
      Enum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:
      * `id` - the id of this enum option. Note that this is the id of the _option_ - the Custom Field itself has a separate `id`. * `name` - the name of the option, e.g. "Choice #1" * `enabled` - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for Custom Field values which were set to the option before the option was disabled. * `color` - a color associated with this choice.
      On the Task's Custom Field value, the enum will have an `enum_value` property which will be the same as one of the choices from the list defined in the Custom Field metadata.
      The [Custom Field API Reference](/developers/api-reference/custom_fields) contains information about the specifics of how to use Custom Fields in conjunction with Asana's API.
  - name: Custom Field Settings
    description: Custom Fields Settings objects represent the many-to-many join of the Custom Field and Project as well as stores information that is relevant to that particular pairing.
  - name: Events
    description: An event is an object representing a change to a resource that was observed by an event subscription.
  - name: Jobs
    description: |-
      Jobs represent processes that handle asynchronous work.
      Jobs are created when an endpoint requests an action that will be handled asynchronously. Such as project or task duplication.
      Only the creator of the duplication process can access the duplication status of the new object.
  - name: Organization Exports
    description: An *organization_export* object represents a request to export the complete data of an Organization in JSON format.
  - name: Portfolios
    description: |-
      A 'portfolio' gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [project status](https://asana.com/developers/api-reference/project_statuses) update.
      Portfolios can have a maximum of 250 items in them, and a maximum of 20 custom fields.
  - name: Projects
    description: 'A `project` represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. It exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.'
  - name: Project Memberships
    description: 'With the introduction of “comment-only” projects in Asana, a user’s membership in a project comes with associated permissions. These permissions (whether a user has full access to the project or comment-only access) are accessible through the project memberships endpoints described here.'
  - name: Project Statuses
    description: 'A *project status* is an update on the progress of a particular project, and is sent out to all project followers when created. These updates include both text describing the update and a color code intended to represent the overall state of the project: “green” for projects that are on track, “yellow” for projects at risk, and “red” for projects that are behind.'
  - name: Sections
    description: A *section* is a subdivision of a project that groups tasks together.
  - name: Stories
    description: A story represents an activity associated with an object in the Asana system.
  - name: Tags
    description: A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.
  - name: Tasks
    description: The task is the basic object around which many operations in Asana are centered.
  - name: Team
    description: A *team* is used to group related projects and people together within an organization. Each project in an organization is associated with a team.
  - name: Typeahead
    description: The typeahead search API provides search for objects from a single workspace.
  - name: Users
    description: 'A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.'
  - name: User Task Lists
    description: A user task list represents the tasks assigned to a particular user.
  - name: Webhooks
    description: Webhooks allow an application to be notified of changes in Asana.
  - name: Workspaces
    description: A workspace is the highest-level organizational unit in Asana. An organization is a special kind of workspace that represents a company.
components:
  parameters:
    expand:
      name: opt_expand
      in: query
      description: |-
        Expand fields returned.
        Query results and sub-objects are returned in compact form by default. This option can be used to expand query results or sub-objects to return more detailed information. Be sure you really need the information in the expanded form, as executing a query with many results in expanded form can be costly and return you a lot of data to consume.
        If the fields option is also used, it will take precedence over the expand option and prevent expansion.
      example:
        - followers
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    fields:
      name: opt_fields
      in: query
      description: |-
        Defines fields to return.
        Some requests return *compact* representations of objects in order to conserve resources and complete the request more efficiently. Other times requests return more information than you may need. This option allows you to list the exact set of fields that the API should be sure to return for the objects. The field names should be provided as paths, described below.
        The id of included objects will always be returned, regardless of the field options.
      example:
        - followers
        - assignee
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: false
    pretty:
      name: opt_pretty
      in: query
      description: |-
        Provides “pretty” output.
        Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
    limit:
      name: limit
      in: query
      description: |-
        Results per page.
        The number of objects to return per page. The value must be between 1 and 100.
      example: 50
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: |-
        Offset token.
        An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.
        'Note: You can only pass in an offset that was returned to you via a previously paginated request.'
      example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      schema:
        type: string
    archived_query_param:
      name: archived
      in: query
      description: Only return projects whose `archived` field takes on the value of this parameter.
      schema:
        type: boolean
      example: false
    job_path_gid:
      name: job_gid
      in: path
      description: Globally unique identifier for the job.
      required: true
      schema:
        type: string
      example: 12345
    project_path_gid:
      name: project_gid
      in: path
      description: Globally unique identifier for the project.
      required: true
      schema:
        type: string
      example: 1331
    section_path_gid:
      name: section_gid
      in: path
      required: true
      description: The globally unique identified for the section.
      schema:
        type: string
      example: 321654
    tag_path_gid:
      name: tag_gid
      in: path
      description: Globally unique identifier for the tag.
      required: true
      schema:
        type: string
      example: 11235
    task_path_gid:
      name: task_gid
      in: path
      required: true
      description: The task to operate on.
      schema:
        type: string
      example: 321654
    team_path_gid:
      name: team_gid
      in: path
      description: Globally unique identifier for the team.
      required: true
      schema:
        type: string
      example: 159874
    user_query_param:
      name: user
      in: query
      description: The user to filter results on.
      schema:
        oneOf:
          - type: string
          - type: string
            enum:
              - me
          - type: string
            format: email
      examples:
        id:
          summary: A globally unique identifier for the user
          value: 14641
        me:
          summary: The keyword 'me' to indicate the current user making the request.
          value: me
        email:
          summary: An email address for a user
          value: sashimi@asana.com
    user_path_gid:
      name: user_gid
      in: path
      description: Globally unique identifier for the user.
      required: true
      schema:
        type: string
      examples:
        - '12345'
        - me
    user_task_list_path_gid:
      name: user_task_list_gid
      in: path
      description: Globally unique identifier for the user task list.
      required: true
      schema:
        type: string
      example: 12345
    workspace_path_gid:
      name: workspace_gid
      in: path
      description: Globally unique identifier for the workspace or organization.
      required: true
      schema:
        type: string
      example: 12345
    portfolio_path_gid:
      name: portfolio_gid
      in: path
      description: Globally unique identifier for the portfolio.
      required: true
      schema:
        type: string
      example: 12345
  responses:
    GenericErrorResponse:
      description: 'Sadly, sometimes requests to the API are not successful. Failures can occur for a wide range of reasons. In all cases, the API should return an HTTP Status Code that indicates the nature of the failure, with a response body in JSON format containing additional information. In the event of a server error the response body will contain an error phrase. These phrases are automatically generated using the [node-asana-phrase library](https://github.com/Asana/node-asana-phrase) and can be used by Asana support to quickly look up the incident that caused the server error.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: 'A valid authentication token was not provided with the request, so the API could not associate a user with the request.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: 'The request was valid, but the queried object or object mutation specified in the request is only available to premium organizations and workspaces.'
    Forbidden:
      description: The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 'Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: 'You have exceeded one of the enforced rate limits in the API. See the [documentation on rate limiting](https://asana.com/developers/documentation/getting-started/rate-limits) for more information.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: There was a problem on Asana’s end.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    AsanaObject:
      description: 'A generic Asana Object, containing a globally unique identifier.'
      type: object
      properties:
        id:
          description: |
            Globally unique ID of the attachment, as an integer. **Note: This field is under active migration to the gid field—please see our blog post for more information.**
          type: integer
          format: int64
          readOnly: true
          example: 12345
        gid:
          description: 'Globally unique ID of the object, as a string.'
          type: string
          readOnly: true
          example: '12345'
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
    AsanaNamedObject:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - type: object
          properties:
            name:
              description: The name of the object.
              type: string
              example: Bug Task
    AsanaObjectArray:
      description: 'A generic list of objects, such as those returned by the typeahead search endpoint.'
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AsanaNamedObject'
    AsanaSubtype:
      properties:
        resource_subtype:
          description: 'The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.'
          type: string
          example: milestone
    AsanaCreatedAt:
      properties:
        created_at:
          description: The time at which this resource was created.
          type: string
          format: date-time
          readOnly: true
          example: '2012-02-22T02:06:58.147Z'
    AsanaCreatedByAndAt:
      allOf:
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - type: object
          properties:
            created_by:
              allOf:
                - $ref: '#/components/schemas/User'
                - type: object
                  description: The user who created this resource.
                  nullable: true
                  readOnly: true
    Attachment:
      allOf:
        - $ref: '#/components/schemas/AttachmentCompact'
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - type: object
          description: 'An *attachment* object represents any file attached to a task in Asana, whether it’s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.'
          properties:
            download_url:
              description: |-
                The URL containing the content of the attachment.
                **Note:** May be null if the attachment is hosted by [Box](https://www.box.com/). If present, this URL may only be valid for 1 hour from the time of retrieval. You should avoid persisting this URL somewhere and just refresh it on demand to ensure you do not keep stale URLs.
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: 'https://www.dropbox.com/s/123/Screenshot.png?dl=1'
            host:
              description: 'The service hosting the attachment. Valid values are `asana`, `dropbox`, `gdrive` and `box`.'
              type: string
              readOnly: true
              example: dropbox
            parent:
              allOf:
                - $ref: '#/components/schemas/TaskCompact'
                - type: object
                  description: The task this attachment is attached to.
                  readOnly: true
            view_url:
              description: 'The URL where the attachment can be viewed, which may be friendlier to users in a browser than just directing them to a raw file. May be null if no view URL exists for the service.'
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: 'https://www.dropbox.com/s/123/Screenshot.png'
    AttachmentCompact:
      allOf:
        - $ref: '#/Components/schemas/AsanaObject'
        - type: object
          properties:
            name:
              description: The name of the file.
              type: string
              readOnly: true
              example: Screenshot.png
    AttachmentObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Attachment'
    AttachmentArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentCompact'
    BatchRequest:
      description: A request object for use in a batch request.
      type: object
      properties:
        relative_path:
          description: The path of the desired endpoint relative to the API’s base URL. Query parameters are not accepted here; put them in `data` instead.
          type: string
          example: /tasks/123
        method:
          description: The HTTP method you wish to emulate for the action.
          type: string
          enum:
            - get
            - post
            - put
            - delete
            - patch
            - head
          example: get
        data:
          description: 'For `GET` requests, this should be a map of query parameters you would have normally passed in the URL. Options and pagination are not accepted here; put them in `options` instead. For `POST`, `PATCH`, and `PUT` methods, this should be the content you would have normally put in the data field of the body.'
          type: object
          example:
            assignee: me
            workspace: 1337
        options:
          description: 'Pagination (`limit` and `offset`) and output options (`fields` or `expand`) for the action. “Pretty” JSON output is not an available option on individual actions; if you want pretty output, specify that option on the parent request.'
          type: object
          properties:
            limit:
              description: Pagination limit for the request.
              type: integer
              example: 50
            offset:
              description: Pagination offset for the request.
              type: integer
              example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
            fields:
              description: The fields to retrieve in the request.
              type: array
              items:
                type: string
              example:
                - name
                - id
                - notes
                - completed
            expand:
              description: The expansion path for the request.
              type: string
              example: .subtasks
          example:
            limit: 3
            fields:
              - name
              - notes
              - completed
      required:
        - relative_path
        - method
    BatchResponse:
      description: A response object returned from a batch request.
      type: object
      properties:
        status_code:
          description: The HTTP status code that the invoked endpoint returned.
          type: integer
          example: 200
        headers:
          description: A map of HTTP headers specific to this result. This is primarily used for returning a `Location` header to accompany a `201 Created` result.  The parent HTTP response will contain all common headers.
          type: object
          example:
            location: /tasks/1234
        body:
          description: The JSON body that the invoked endpoint returned.
          type: object
          example:
            data:
              id: 1967
              completed: false
              name: 'Hello, world!'
              notes: How are you today?
    CustomField:
      allOf:
        - $ref: '#/components/schemas/CustomFieldCompact'
        - type: object
          description: |-
            Custom Fields store the metadata that is used in order to
            add user-specified information to tasks in Asana. Be sure
            to reference the [Custom Fields]
            (https://asana.com/developers/documentation/getting-started/custom-fields)
            developer documentation for more information about how custom fields
            relate to various resources in Asana.

            Users in Asana can [lock custom fields]
            (https://asana.com/guide/help/premium/custom-fields#gl-lock-fields),
            which will make them read-only when accessed by other users.
            Attempting to edit a locked custom field will return HTTP error code
            `403 Forbidden`.
          properties:
            description:
              description: '[Opt In](/developers/documentation/getting-started/input-output-options). The description of the custom field.'
              type: string
              example: Development team priority
            enum_options:
              description: '**Conditional**. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](https://asana.com/developers/api-reference/custom_fields#enum-options).'
              type: array
              items:
                $ref: '#/components/schemas/EnumOption'
            precision:
              description: 'Only relevant for custom fields of type ‘Number’. This field dictates the number of places after the decimal to round to, i.e. 0 is integer values, 1 rounds to the nearest tenth, and so on. Must be between 0 and 6, inclusive.'
              type: integer
              example: 2
    CustomFieldCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
        - $ref: '#/components/schemas/AsanaSubtype'
        - type: object
          properties:
            type:
              description: |
                **Deprecated: new integrations should prefer the resource_subtype field.** The type of the custom field. Must be one of the given values.
              type: string
              enum:
                - text
                - enum
                - number
            enum_options:
              description: '**Conditional**. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](https://asana.com/developers/api-reference/custom_fields#enum-options).'
              type: array
              items:
                $ref: '#/components/schemas/EnumOptionCompact'
            enum_value:
              allOf:
                - $ref: '#/components/schemas/EnumOption'
                - type: object
                  description: '**Conditional**. Only relevant for custom fields of type `enum`. This object is the chosen value of an enum custom field.'
            enabled:
              description: '**Conditional**. Determines if the custom field is enabled or not.'
              type: boolean
              example: true
            text_value:
              description: '**Conditional**. This string is the value of a text custom field.'
              type: string
              example: Some Value
    CustomFieldObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CustomField'
    CustomFieldArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldCompact'
    CustomFieldSettings:
      allOf:
        - $ref: '#/components/schemas/CustomFieldSettingsCompact'
        - type: object
          description: 'Custom fields are attached to a particular project with the Custom Field Settings resource. This resource both represents the many-to-many join of the Custom Field and Project as well as stores information that is relevant to that particular pairing; for instance, the `is_important` property determines some possible application-specific handling of that custom field.'
          properties:
            project:
              allOf:
                - $ref: '#/components/schemas/ProjectCompact'
                - type: object
                  description: '**Deprecated: new integrations should prefer the `parent` field.** The id of the project that this custom field settings refers to.'
                  readOnly: true
            is_important:
              description: '`is_important` is used in the Asana web application to determine if this custom field is displayed in the task list (left pane) of a project. A project can have a maximum of 5 custom field settings marked as `is_important`.'
              type: boolean
              readOnly: true
              example: false
            parent:
              allOf:
                - $ref: '#/components/schemas/ProjectCompact'
                - type: object
                  description: The parent to which the custom field is applied. This can be a project or portfolio and indicates that the tasks or projects that the parent contains may be given custom field values for this custom field.
                  readOnly: true
            custom_field:
              allOf:
                - $ref: '#/components/schemas/CustomField'
                - type: object
                  description: 'The custom field that is applied to the `parent`. readOnly: true'
    CustomFieldSettingsCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
    CustomFieldSettingsArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldSettings'
    DependencyArray:
      description: A set of task dependencies.
      type: object
      properties:
        data:
          type: object
          properties:
            dependencies:
              description: An array of task IDs that a task should depend on.
              type: array
              items:
                type: integer
      example:
        data:
          dependencies:
            - 133713
            - 184253
    DependentArray:
      description: A set of dependent tasks.
      type: object
      properties:
        data:
          type: object
          properties:
            dependents:
              description: An array of task IDs that are dependents of the given task.
              type: array
              items:
                type: integer
      example:
        data:
          dependents:
            - 133713
            - 184253
    EmptyObject:
      description: An empty object.
      type: object
      properties:
        data:
          type: object
    EnumOption:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - type: object
          description: |-
            Enum options are the possible values which an enum custom field can
            adopt. An enum custom field must contain at least 1 enum option but no
            more than 50.

            You can add enum options to a custom field by using the `POST
            /custom_fields/custom_field_gid/enum_options` endpoint.

            **It is not possible to remove or delete an enum option**. Instead, enum
            options can be disabled by updating the `enabled` field to false with the
            `PUT /enum_options/enum_option_gid` endpoint. Other attributes can be
            updated similarly.

            On creation of an enum option, `enabled` is always set to `true`, meaning
            the enum option is a selectable value for the custom field. Setting
            `enabled=false` is equivalent to “trashing” the enum option in the Asana
            web app within the “Edit Fields” dialog. The enum option will no longer
            be selectable but, if the enum option value was previously set within a
            task, the task will retain the value.

            Enum options are an ordered list and by default new enum options are
            inserted at the end. Ordering in relation to existing enum options can be
            specified on creation by using `insert_before` or `insert_after` to
            reference an existing enum option. Only one of `insert_before` and
            `insert_after` can be provided when creating a new enum option.

            An enum options list can be reordered with the `POST
            /custom_fields/custom_field_gid/enum_options/insert` endpoint.
          properties:
            name:
              description: The name of the enum option.
              type: string
              example: Low
            enabled:
              description: The color of the enum option. Defaults to ‘none’.
              type: boolean
              example: true
            color:
              description: Whether or not the enum option is a selectable value for the custom field.
              type: string
              example: blue
    Error:
      description: |-
        Sadly, sometimes requests to the API are not successful. Failures can
        occur for a wide range of reasons. In all cases, the API should return
        an HTTP Status Code that indicates the nature of the failure,
        with a response body in JSON format containing additional information.

        In the event of a server error the response body will contain an error
        phrase. These phrases are automatically generated using the
        [node-asana-phrase
        library](https://github.com/Asana/node-asana-phrase) and can be used by
        Asana support to quickly look up the incident that caused the server
        error.
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                readOnly: true
                description: 'Message providing more detail about the error that occurred, if available.'
                example: 'project: Missing input'
              help:
                type: string
                readOnly: true
                description: 'Additional information directing developers to resources on how to address and fix the problem, if available.'
                example: 'For more information on API status codes and how to handle them, read the docs on errors: https://asana.com/developers/documentation/getting-started/errors'''
              phrase:
                type: string
                readOnly: true
                description: '**500 errors only**. A unique error phrase which can be used when contacting developer support to help identify the exact occurrence of the problem in Asana’s logs.'
                example: 6 sad squid snuggle softly
    Event:
      description: |-
        An *event* is an object representing a change to a resource that was
        observed by an event subscription.

        In general, requesting events on a resource is faster and subject to
        higher rate limits than requesting the resource itself. Additionally,
        change events bubble up - listening to events on a project would include
        when stories are added to tasks in the project, even on subtasks.

        Establish an initial sync token by making a request with no sync token.
        The response will be a `412` error - the same as if the sync token had
        expired.

        Subsequent requests should always provide the sync token from the
        immediately preceding call.

        Sync tokens may not be valid if you attempt to go ‘backward’ in the
        history by requesting previous tokens, though re-requesting the current
        sync token is generally safe, and will always return the same results.

        When you receive a `412 Precondition Failed` error, it means that the
        sync token is either invalid or expired. If you are attempting to keep a
        set of data in sync, this signals you may need to re-crawl the data.

        Sync tokens always expire after 24 hours, but may expire sooner,
        depending on load on the service.
      type: object
      properties:
        user:
          allOf:
            - $ref: '#/components/schemas/UserCompact'
            - type: object
              description: |-
                The user who triggered the event.

                **Note**: The event may be triggered by a different user than the
                subscriber. For example, if user A subscribes to a task and user B
                modified it, the event’s user will be user B. Note: Some events are
                generated by the system, and will have `null` as the user. API
                consumers should make sure to handle this case.
              readOnly: true
              nullable: true
        resource:
          description: |-
            The resource the event occurred on.

            **Note**: The resource that triggered the event may be different from
            the one that the events were requested for. For example, a
            subscription to a project will contain events for tasks contained
            within the project.
          type: object
          readOnly: true
          properties:
            id:
              type: integer
              example: 12345
            name:
              type: string
              example: Bug Task
        type:
          description: |-
            **Deprecated: Refer to the resource_type of the resource.**
            The type of the resource that generated the event.

            **Note**: Currently, only tasks, projects and stories generate
            events.
          type: string
          readOnly: true
          example: task
        action:
          description: The type of action taken that triggered the event.
          type: string
          readOnly: true
          example: changed
        parent:
          allOf:
            - $ref: '#/components/schemas/AsanaNamedObject'
            - type: object
              description: 'For added/removed events, the parent that resource was added to or removed from. The parent will be `null` for other event types.'
              readOnly: true
              nullable: true
        created_at:
          description: The timestamp when the event occurred.
          type: string
          format: date-time
          readOnly: true
          example: '2012-02-22T02:06:58.147Z'
    EventArray:
      description: The full record for all events that have occurred since the sync token was created.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        sync:
          description: A sync token to be used with the next call to the events endpoint.
          type: string
          example: de4774f6915eae04714ca93bb2f5ee81
    Job:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - $ref: '#/components/schemas/AsanaSubtype'
        - type: object
          description: A *job* is an object representing a process that handles asynchronous work.
          properties:
            status:
              type: string
              enum:
                - in_progress
                - completed
              readOnly: true
              example: in_progress
            new_project:
              $ref: '#/components/schemas/ProjectCompact'
            new_task:
              $ref: '#/components/schemas/TaskCompact'
    JobObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Job'
    OrganizationExport:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - type: object
          description: |-
            An *organization_export* object represents a request to export the
            complete data of an Organization in JSON format.

            To export an Organization using this API:

            * Create an `organization_export`
              [request](https://asana.com/developers/api-reference/organization_exports#create)
              and store the id that is returned.
            * Request the `organization_export` every few minutes, until the `state`
              field contains ‘finished’.
            * Download the file located at the URL in the `download_url` field.
            * Exports can take a long time, from several minutes to a few hours for
              large Organizations.

            **Note**: These endpoints are only available to [Service
            Accounts](https://asana.com/guide/help/premium/service-accounts) of an
            [Enterprise](https://asana.com/enterprise) Organization.
          properties:
            download_url:
              description: |-
                Download this URL to retreive the full export of the organization
                in JSON format. It will be compressed in a gzip (.gz) container.

                **Note**: May be null if the export is still in progress or
                failed.  If present, this URL may only be valid for 1 hour from
                the time of retrieval. You should avoid persisting this URL
                somewhere and rather refresh on demand to ensure you do not keep
                stale URLs.
              type: string
              format: uri
              readOnly: true
              nullable: true
              example: 'https://asana-export.s3.amazonaws.com/export-4632784536274-20170127-43246.json.gz?AWSAccessKeyId=xxxxxxxx'
            state:
              description: The current state of the export.
              type: string
              enum:
                - pending
                - started
                - finished
                - error
              readOnly: true
              example: started
            organization:
              description: '**Create-only**: The Organization that is being exported. This can only be specified at create time.'
              type: object
              properties:
                id:
                  type: integer
                  example: 14916
                gid:
                  type: string
                  example: '14916'
                name:
                  type: string
                  example: My Workspace
    OrganizationExportObjectResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OrganizationExport'
    Portfolio:
      allOf:
        - $ref: '#/components/schemas/PortfolioCompact'
        - $ref: '#/components/schemas/AsanaCreatedByAndAt'
        - type: object
          description: |-
            A *portfolio* gives a high-level overview of the status of multiple
            initiatives in Asana. Portfolios provide a dashboard overview of
            the state of multiple projects, including a progress report and the
            most recent [project status](https://asana.com/developers/api-reference/project_statuses)
            update.
          properties:
            color:
              description: Color of the portfolio.
              type: string
              enum:
                - dark-pink
                - dark-green
                - dark-blue
                - dark-red
                - dark-teal
                - dark-brown
                - dark-orange
                - dark-purple
                - dark-warm-gray
                - light-pink
                - light-green
                - light-blue
                - light-red
                - light-teal
                - light-brown
                - light-orange
                - light-purple
                - light-warm-gray
              example: light-green
            custom_field_settings:
              description: Array of custom field settings applied to the portfolio.
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/CustomFieldSettings'
            owner:
              allOf:
                - $ref: '#/components/schemas/UserCompact'
                - type: object
                  description: The current owner of the portfolio.
                  readOnly: true
            workspace:
              allOf:
                - $ref: '#/components/schemas/WorkspaceCompact'
                - type: object
                  description: '**Create-only**. The workspace or organization that the portfolio belongs to.'
            members:
              allOf:
                - $ref: '#/components/schemas/UserArray'
                - type: object
                  description: Members of the portfolio
    PortfolioCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
        - type: object
          properties:
            resource_type:
              type: string
              example: portfolio
    PortfolioObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Portfolio'
    PortfolioArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortfolioCompact'
    Preview:
      type: object
      description: |-
        A collection of rich text that will be displayed as a preview to another app.

        This is read-only except for a small group of whitelisted apps.
      readOnly: true
      properties:
        fallback:
          description: Some fallback text to display if unable to display the full preview.
          type: string
          example: 'Greg: Great! I like this idea.\n\nhttps//a_company.slack.com/archives/ABCDEFG/12345678'
        footer:
          description: Text to display in the footer.
          type: string
          example: 'Mar 17, 2019 1:25 PM'
        header:
          description: Text to display in the header.
          type: string
          example: Asana for Slack
        header_link:
          description: Where the header will link to.
          type: string
          example: 'https://asana.comn/apps/slack'
        html_text:
          description: HTML formatted text for the body of the preview.
          type: string
          example: <body>Great! I like this idea.</body>
        text:
          description: Text for the body of the preview.
          type: string
          example: Great! I like this idea.
        title:
          description: Text to display as the title.
          type: string
          example: Greg
        title_link:
          description: Where to title will link to.
          type: string
          example: 'https://asana.slack.com/archives/ABCDEFG/12345678'
    Project:
      allOf:
        - $ref: '#/components/schemas/ProjectCompact'
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - type: object
          description: |-
            A *project* represents a prioritized list of tasks in Asana or a board
            with columns of tasks represented as cards. It exists in a single
            workspace or organization and is accessible to a subset of users in that
            workspace or organization, depending on its permissions.

            Projects in organizations are shared with a single team. You cannot
            currently change the team of a project via the API. Non-organization
            workspaces do not have teams and so you should not specify the team of
            project in a regular workspace.

            Followers of a project are a subset of the members of that project.
            Followers of a project will receive all updates including tasks created,
            added and removed from that project. Members of the project have access
            to and will receive status updates of the project. Adding followers to a
            project will add them as members if they are not already, removing
            followers from a project will not affect membership.
          properties:
            archived:
              description: 'True if the project is archived, false if not. Archived projects do not show in the UI by default and may be treated differently for queries.'
              type: boolean
              example: false
            color:
              description: Color of the project.
              type: string
              nullable: true
              enum:
                - dark-pink
                - dark-green
                - dark-blue
                - dark-red
                - dark-teal
                - dark-brown
                - dark-orange
                - dark-purple
                - dark-warm-gray
                - light-pink
                - light-green
                - light-blue
                - light-red
                - light-teal
                - light-brown
                - light-orange
                - light-purple
                - light-warm-gray
              example: light-green
            current_status:
              description: 'The most recently created status update for the project, or `null` if no update exists. See also the documentation for [project status updates](/developers/api-reference/project_statuses).'
              type: object
              nullable: true
              readOnly: true
              properties:
                color:
                  type: string
                  enum:
                    - green
                    - yellow
                    - red
                  example: green
                text:
                  type: string
                  example: All gravy!
                author:
                  $ref: '#/components/schemas/User'
              example:
                color: green
                text: Everything is great
                author:
                  id: 12345
                  name: Greg Bizarro
            custom_fields:
              description: Array of Custom Fields.
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/CustomFieldSetting'
            custom_field_settings:
              description: Array of Custom Field Settings (in compact form).
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/CustomFieldSettings'
            due_date:
              description: '**Deprecated: new integrations should prefer the due_on field.**'
              type: string
              nullable: true
              format: date-time
              example: '2012-03-26'
            due_on:
              description: The day on which this project is due. This takes a date with format YYYY-MM-DD.
              type: string
              nullable: true
              format: date-time
              example: '2012-03-26'
            followers:
              description: 'Array of users following this project. Followers are a subset of members who receive all notifications for a project, the default notification setting when adding members to a project in-product.'
              type: array
              items:
                $ref: '#/components/schemas/User'
              readOnly: true
            html_notes:
              description: |-
                [Opt In](https://asana.com/developers/documentation/getting-started/input-output-options). The notes of the project with formatting as HTML.
                **Note: This field is under active migration—please see our [blog post] (https://asana.com/developers/news/new-rich-text) for more information.**
              type: string
              example: These are things we need to purchase.
            is_template:
              description: '[Opt In](/developers/documentation/getting-started/input-output-options). Determines if the project is a template.'
              type: boolean
              example: false
            layout:
              description: The layout (board or list view) of a project
              type: string
              enum:
                - list
                - board
              readOnly: true
            members:
              description: Array of users who are members of this project.
              type: array
              items:
                $ref: '#/components/schemas/User'
              readOnly: true
            modified_at:
              description: |-
                The time at which this project was last modified.
                **Note**: This does not currently reflect any changes in associations such as tasks or comments that may have been added or removed from the project.
              type: string
              format: date-time
              example: '2012-02-22T02:06:58.147Z'
            notes:
              description: 'More detailed, free-form textual information associated with the project.'
              type: string
              example: These are things we need to purchase.
            owner:
              allOf:
                - $ref: '#/components/schemas/UserCompact'
                - type: object
                  description: 'The current owner of the project, may be null.'
                  nullable: true
            public:
              description: 'True if the project is public to the organization. If false, do not share this project with other users in this organization without explicitly checking to see if they have access.'
              type: boolean
              example: false
            section_migration_status:
              description: '**Read-only** The section migration status of this project.'
              type: string
              enum:
                - not_migrated
                - in_progress
                - completed
              nullable: false
              readOnly: true
              example: not_migrated
            start_on:
              description: 'The day on which work for this project begins, or null if the project has no start date. This takes a date with `YYYY-MM-DD` format. **Note:** `due_on` or `due_at` must be present in the request when setting or unsetting the `start_on` parameter.'
              type: string
              nullable: true
              format: date
              example: '2012-03-26'
            team:
              allOf:
                - $ref: '#/components/schemas/TeamCompact'
                - type: object
                  description: '**Create-only**. The team that this project is shared with. This field only exists for projects in organizations.'
            workspace:
              allOf:
                - $ref: '#/components/schemas/WorkspaceCompact'
                - type: object
                  description: '**Create-only**. The workspace or organization this project is associated with. Once created, projects cannot be moved to a different workspace. This attribute can only be specified at creation time.'
    ProjectCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
        - type: object
          properties:
            resource_type:
              type: string
              example: project
            name:
              description: 'Name of the project. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.'
              type: string
              example: Stuff to buy
    ProjectObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Project'
    ProjectArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
    ProjectMembership:
      allOf:
        - $ref: '#/components/schemas/ProjectMembershipCompact'
        - type: object
          description: 'With the introduction of “comment-only” projects in Asana, a user’s membership in a project comes with associated permissions. These permissions (whether a user has full access to the project or comment-only access) are accessible through the project memberships endpoints described here.'
          properties:
            project:
              description: '[Opt In](https://asana.com/developers/documentation/getting-started/input-output-options). The project the user is a member of.'
              $ref: '#/components/schemas/ProjectCompact'
            write_access:
              description: Whether the user has full access to the project or has comment-only access.
              type: string
              enum:
                - full_write
                - comment_only
              readOnly: true
              example: full_write
    ProjectMembershipCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - type: object
          properties:
            user:
              $ref: '#/components/schemas/UserCompact'
    ProjectMembershipObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProjectMembership'
    ProjectMembershipArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProjectMembership'
    ProjectStatus:
      allOf:
        - $ref: '#/components/schemas/ProjectStatusCompact'
        - $ref: '#/components/schemas/AsanaCreatedByAndAt'
        - type: object
          description: |-
            A *project status* is an update on the progress of a particular project, and is sent out to all project followers when created. These updates include both text describing the update and a color code intended to represent the overall state of the project: "green" for projects that are on track, "yellow" for projects at risk, and "red" for projects that are behind.
            Project statuses can be created and deleted, but not modified.
          properties:
            text:
              description: The text content of the status update.
              readOnly: true
              type: string
              example: The project is moving forward according to plan...
            html-text:
              description: '[Opt In](https://asana.com/developers/documentation/getting-started/input-output-options). The text content of the status update with formatting as HTML.'
              readOnly: true
              type: string
              example: '''&lt;body&gt;The project &lt;strong&gt;is&lt;/strong&gt; moving forward according to plan...&lt;/body&gt;'''
            color:
              description: The color associated with the status update.
              readOnly: true
              type: string
              enum:
                - green
                - yellow
                - red
    ProjectStatusCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - type: object
          properties:
            title:
              description: The title of the project status update.
              readOnly: true
              type: string
              example: Status Update - Jun 15
    ProjectStatusObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProjectStatus'
    ProjectStatusArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProjectStatus'
    Section:
      allOf:
        - $ref: '#/components/schemas/SectionCompact'
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - type: object
          description: |-
            A *section* is a subdivision of a project that groups tasks together. It
            can either be a header above a list of tasks in a list view or a column
            in a board view of a project.

            Sections are largely a shared idiom in Asana’s API for both list and
            board views of a project regardless of the project’s layout.

            The ‘memberships’ property when [getting a
            task](https://asana.com/developers/api-reference/tasks#get) will return
            the information for the section or the column under ‘section’ in the
            response.
          properties:
            projects:
              $ref: '#/components/schemas/ProjectArray'
    SectionCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - type: object
          properties:
            name:
              description: The name of the section (i.e. the text displayed as the section header).
              type: string
              example: Next Actions
    SectionObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Section'
    SectionArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Section'
    Story:
      allOf:
        - $ref: '#/components/schemas/StoryCompact'
        - type: object
          description: |-
            **See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for
            more info on when conditional fields are returned.**
            A *story* represents an activity associated with an object in the Asana
            system. Stories are generated by the system whenever users take actions
            such as creating or assigning tasks, or moving tasks between projects.
            *Comments* are also a form of user-generated story.
          properties:
            html_text:
              description: |-
                [Opt In](https://asana.com/developers/documentation/getting-started/input-output-options).
                HTML formatted text for a comment. This will not include the name
                of the creator.

                **Note: This field is under active migration—please see our blog
                post for more information.**
              type: string
              example: Get whatever Sashimi has.
            is_edited:
              description: '**Conditional**. Whether the text of the story has been edited after creation.'
              type: boolean
              example: false
            is_pinned:
              description: '**Conditional**. Whether the story should be pinned on the resource.'
              type: boolean
              example: false
            hearted:
              description: |-
                **Deprecated - please use likes instead**

                **Conditional**. True if the story is hearted by the authorized user, false if not.
              type: boolean
              readOnly: true
              example: false
            hearts:
              description: |-
                **Deprecated - please use likes instead**

                **Conditional**. Array of users who have hearted this story.
              type: array
              items:
                $ref: '#/components/schemas/User'
              readOnly: true
            num_hearts:
              description: |-
                **Deprecated - please use likes instead**

                **Conditional**. The number of users who have hearted this story.
              type: integer
              readOnly: true
              example: 5
            liked:
              description: '**Conditional**. True if the story is liked by the authorized user, false if not.'
              type: boolean
              readOnly: true
              example: false
            likes:
              description: '**Conditional**. Array of users who have liked this story.'
              type: array
              items:
                $ref: '#/components/schemas/User'
              readOnly: true
            num_likes:
              description: '**Conditional**. The number of users who have liked this story.'
              type: integer
              readOnly: true
              example: 5
            previews:
              description: |-
                **Conditional**. A collection of previews to be displayed in the story.

                **Note**: This property only exists for comment stories.
              type: array
              items:
                $ref: '#/components/schemas/Preview'
              readOnly: true
            old_name:
              description: '**Conditional**'
              type: string
              example: This was the Old Name
            new_name:
              description: '**Conditional**'
              type: string
              example: This is the New Name
            old_dates:
              description: '**Conditional**'
              type: object
              properties:
                start_on:
                  type: string
                  format: date
                  example: '2019-09-15'
                due_at:
                  type: string
                  format: date-time
                  example: '2012-02-22T02:06:58.158Z'
                due_on:
                  type: string
                  format: date
                  example: '2019-09-15'
            new_dates:
              description: '**Conditional**'
              type: object
              properties:
                start_on:
                  type: string
                  format: date
                  example: '2019-09-15'
                due_at:
                  type: string
                  format: date-time
                  example: '2012-02-22T02:06:58.158Z'
                due_on:
                  type: string
                  format: date
                  example: '2019-09-15'
            old_resource_subtype:
              description: '**Conditional**'
              type: string
              example: default_task
            new_resource_subtype:
              description: '**Conditional**'
              type: string
              example: milestone
            story:
              description: '**Conditional**'
              $ref: '#/components/schemas/StoryCompact'
            assignee:
              description: '**Conditional**'
              $ref: '#/components/schemas/UserCompact'
            follower:
              description: '**Conditional**'
              $ref: '#/components/schemas/UserCompact'
            old_section:
              description: '**Conditional**'
              $ref: '#/components/schemas/SectionCompact'
            new_section:
              description: '**Conditional**'
              $ref: '#/components/schemas/SectionCompact'
            task:
              description: '**Conditional**'
              $ref: '#/components/schemas/TaskCompact'
            project:
              description: '**Conditional**'
              $ref: '#/components/schemas/ProjectCompact'
            tag:
              description: '**Conditional**'
              $ref: '#/components/schemas/TagCompact'
            custom_field:
              description: '**Conditional**'
              $ref: '#/components/schemas/CustomFieldCompact'
            old_text_value:
              description: '**Conditional**'
              type: string
              example: This was the Old Text
            new_text_value:
              description: '**Conditional**'
              type: string
              example: This is the New Text
            old_number_value:
              description: '**Conditional**'
              type: integer
              example: 1
            new_number_value:
              description: '**Conditional**'
              type: integer
              example: 2
            old_enum_value:
              description: '**Conditional**'
              $ref: '#/components/schemas/EnumOptionCompact'
            new_enum_value:
              description: '**Conditional**'
              $ref: '#/components/schemas/EnumOptionCompact'
            duplicate_of:
              description: '**Conditional**'
              $ref: '#/components/schemas/TaskCompact'
            duplicated_from:
              description: '**Conditional**'
              $ref: '#/components/schemas/TaskCompact'
            dependancy:
              description: '**Conditional**'
              $ref: '#/components/schemas/TaskCompact'
            source:
              description: The component of the Asana product the user used to trigger the story.
              type: string
              readOnly: true
              example: web
            target:
              description: The object this story is associated with. Currently may only be a task.
              properties:
                id:
                  type: integer
                  example: 1234
                name:
                  type: string
                  example: Bug Task
              readOnly: true
    StoryCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - $ref: '#/components/schemas/AsanaSubtype'
        - $ref: '#/components/schemas/AsanaCreatedByAndAt'
        - type: object
          properties:
            text:
              description: |-
                **Create-only**. Human-readable text for the story or comment.
                This will not include the name of the creator.

                **Note:** This is not guaranteed to be stable for a given type of
                story. For example, text for a reassignment may not always say
                “assigned to …” as the text for a story can both be edited and
                change based on the language settings of the user making the request.
                Use the `resource_subtype` property to discover the action that
                created the story.
              example: marked today
            type:
              description: |
                **Deprecated: new integrations should prefer the `resource_subtype` field.** The type of this story. For more fine-grained inspection of story types, see the [`resource_subtype`] (https://asana.com/developers/api-reference/stories#field-resource_subtype) property.
              type: string
              readOnly: true
              example: comment
    StoryObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Story'
    StoryArray:
      type: object
      properties:
        data:
          items:
            $ref: '#/components/schemas/Story'
    Tag:
      allOf:
        - $ref: '#/components/schemas/TagCompact'
        - type: object
          description: |-
            A *tag* is a label that can be attached to any task in Asana. It exists
            in a single workspace or organization.

            Tags have some metadata associated with them, but it is possible that we
            will simplify them in the future so it is not encouraged to rely too
            heavily on it. Unlike projects, tags do not provide any ordering on the
            tasks they are associated with.
          properties:
            followers:
              description: Array of users following this tag.
              type: array
              readOnly: true
              items:
                $ref: '#/components/schemas/UserCompact'
            color:
              type: string
              description: Color of the tag.
              enum:
                - dark-pink
                - dark-green
                - dark-blue
                - dark-red
                - dark-teal
                - dark-brown
                - dark-orange
                - dark-purple
                - dark-warm-gray
                - light-pink
                - light-green
                - light-blue
                - light-red
                - light-teal
                - light-brown
                - light-orange
                - light-purple
                - light-warm-gray
              example: light-green
            workspace:
              $ref: '#/components/schemas/WorkspaceCompact'
    TagCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - type: object
          properties:
            name:
              description: 'Name of the tag. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.'
              type: string
              example: Stuff to buy
    TagObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Tag'
    TagArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    Task:
      allOf:
        - $ref: '#/components/schemas/TaskCompact'
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - $ref: '#/components/schemas/AsanaSubtype'
        - type: object
          description: |-
            The *task* is the basic object around which many operations in Asana are
            centered. In the Asana application, multiple tasks populate the middle
            pane according to some view parameters, and the set of selected tasks
            determines the more detailed information presented in the details pane.

            A *section*, at its core, is a task whose name ends with the colon
            character `:`. Sections are unique in that they will be included in the
            *memberships* field of task objects returned in the API when the task is
            within a section. They can also be used to manipulate the ordering of a
            task within a project.

            [Queries](https://asana.com/developers/api-reference/tasks#query) return
            a compact representation of each object which is typically the id and
            name fields. Interested in a specific set of fields or all of the fields?
            Use [field
            selectors](https://asana.com/developers/documentation/getting-started/input-output-options)
            to manipulate what data is included in a response.
          properties:
            assignee:
              allOf:
                - $ref: '#/components/schemas/UserCompact'
                - type: object
                  nullable: true
            assignee_status:
              description: Scheduling status of this task for the user it is assigned to. This field can only be set if the assignee is non-null.
              type: string
              enum:
                - today
                - upcoming
                - later
                - new
                - inbox
              example: upcoming
            completed:
              description: 'True if the task is currently marked complete, false if not.'
              type: boolean
              example: false
            completed_at:
              description: 'The time at which this task was completed, or null if the task is incomplete.'
              type: string
              format: date-time
              readOnly: true
              nullable: true
              example: '2012-02-22T02:06:58.147Z'
            custom_fields:
              description: |-
                Array of custom field values applied to the project. These represent
                the custom field values recorded on this project for a particular
                custom field. For example, these custom field values will contain
                an `enum_value` property for custom fields of type `enum`, a
                `string_value` property for custom fields of type `string`, and
                so on. Please note that the `id` returned on each custom field
                value *is identical* to the `id` of the custom field, which
                allows referencing the custom field metadata through the
                `/custom_fields/custom_field-id` endpoint.
              type: array
              items:
                $ref: '#/components/schemas/CustomField'
              readOnly: true
            dependencies:
              description: '[Opt In](/developers/documentation/getting-started/input-output-options). Array of resources referencing tasks that this task depends on. The objects contain only the ID of the dependency.'
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1234
                  gid:
                    type: string
                    example: '1234'
              readOnly: true
              example:
                - id: 1234
                  gid: '1234'
                - id: 4321
                  gid: '4321'
            dependents:
              description: '[Opt In](/developers/documentation/getting-started/input-output-options). Array of resources referencing tasks that depend on this task. The objects contain only the ID of the dependent.'
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1234
                  gid:
                    type: string
                    example: '1234'
              readOnly: true
              example:
                - id: 1234
                  gid: '1234'
                - id: 4321
                  gid: '4321'
            due_at:
              description: 'Date and time on which this task is due, or null if the task has no due time. This takes a UTC timestamp and should not be used together with `due_on`.'
              type: string
              format: date
              example: '2012-02-22T02:06:58.147Z'
              nullable: true
            due_on:
              description: 'Date on which this task is due, or null if the task has no due date.  This takes a date with `YYYY-MM-DD` format and should not be used together with due_at.'
              type: string
              format: date
              example: '2012-03-26'
              nullable: true
            external:
              description: |-
                **OAuth Required**. **Conditional**. This field is returned only if external values are set or included by using [Opt In] (/developers/documentation/getting-started/input-output-options).
                The external field allows you to store app-specific metadata on tasks, including an id that can be used to retrieve tasks and a data blob that can store app-specific character strings. Note that you will need to authenticate with Oauth to access or modify this data. Once an external id is set, you can use the notation `external:custom_id` to reference your object anywhere in the API where you may use the original object id. See the page on Custom External Data for more details.
              type: object
              properties:
                id:
                  type: integer
                  example: 1234
                gid:
                  type: string
                  example: '1234'
                data:
                  type: string
                  example: A blob of information.
              example:
                id: my_id
                data: A blob of information
            followers:
              description: Array of users following this task.
              type: array
              items:
                $ref: '#/components/schemas/UserCompact'
            html_notes:
              description: |-
                [Opt In](/developers/documentation/getting-started/input-output-options). The notes of the text with formatting as HTML.
                **Note: This field is under active migration—please see our blog post for more information.**
              type: string
              example: <body>Mittens <em>really</em> likes the stuff from Humboldt.</body>
            hearted:
              description: '**Deprecated - please use liked instead** True if the task is hearted by the authorized user, false if not.'
              type: boolean
              example: true
              readOnly: true
            hearts:
              description: '**Deprecated - please use likes instead** Array of users who have hearted this task.'
              type: array
              items:
                $ref: '#/components/schemas/UserCompact'
              readOnly: true
            liked:
              description: 'True if the task is liked by the authorized user, false if not.'
              type: boolean
              example: true
              readOnly: true
            likes:
              description: Array of users who have liked this task.
              type: array
              items:
                $ref: '#/components/schemas/UserCompact'
              readOnly: true
            memberships:
              description: '**Create-only**. Array of projects this task is associated with and the section it is in. At task creation time, this array can be used to add the task to specific sections. After task creation, these associations can be modified using the `addProject` and `removeProject` endpoints. Note that over time, more types of memberships may be added to this property.'
              type: array
              items:
                type: object
                properties:
                  project:
                    $ref: '#/components/schemas/ProjectCompact'
                  section:
                    $ref: '#/components/schemas/SectionCompact'
            modified_at:
              description: |-
                The time at which this task was last modified.

                **Note:** This does not currently reflect any changes in
                associations such as projects or comments that may have been
                added or removed from the task.
              type: string
              format: date-time
              readOnly: true
              example: '2012-02-22T02:06:58.147Z'
            name:
              description: 'Name of the task. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.'
              type: string
              example: Buy catnip
            notes:
              description: 'More detailed, free-form textual information associated with the task.'
              type: string
              example: Mittens really likes the stuff from Humboldt.
            num_hearts:
              description: '**Deprecated - please use likes instead** The number of users who have hearted this task.'
              type: integer
              example: 5
              readOnly: true
            num_likes:
              description: The number of users who have liked this task.
              type: integer
              example: 5
              readOnly: true
            num_subtasks:
              description: |
                [Opt In](https://asana.com/developers/documentation/getting-started/input-output-options). The number of subtasks on this task.
              type: integer
              example: 3
              readOnly: true
            parent:
              allOf:
                - $ref: '#/components/schemas/TaskCompact'
                - type: object
                  description: 'The parent of this task, or `null` if this is not a subtask. This property cannot be modified using a PUT request but you can change it with the `setParent` endpoint. You can create subtasks by using the subtasks endpoint.'
                  nullable: true
            projects:
              description: '**Create-only.** Array of projects this task is associated with. At task creation time, this array can be used to add the task to many projects at once. After task creation, these associations can be modified using the addProject and removeProject endpoints.'
              type: array
              items:
                $ref: '#/components/schemas/ProjectCompact'
            resource_subtype:
              type: string
              descriptions: |-
                The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.
                The resource_subtype `milestone` represent a single moment in time. This means tasks with this subtype cannot have a start_date.
                **The resource_subtype of `section` is under active migration—please see our [forum post](https://forum.asana.com/t/sections-are-dead-long-live-sections) for more information.**
              enum:
                - default_task
                - milestone
                - section
              example: default_task
            start_on:
              description: |-
                The day on which work begins for the task , or null if the task has
                no start date. This takes a date with `YYYY-MM-DD` format.

                **Note:** `due_on` or `due_at` must be present in the request when
                setting or unsetting the `start_on` parameter.
              type: string
              nullable: true
              format: date
              example: '2012-03-26'
            tags:
              description: '**Create-only**. Array of tags associated with this task. This property may be specified on creation using just an array of tag IDs.  In order to change tags on an existing task use `addTag` and `removeTag`.'
              type: array
              items:
                $ref: '#/components/schemas/Tag'
              example:
                - id: 59746
                  gid: '59746'
                  name: Grade A
            workspace:
              allOf:
                - $ref: '#/components/schemas/WorkspaceCompact'
                - type: object
                  description: '*Create-only*. The workspace this task is associated with. Once created, task cannot be moved to a different workspace. This attribute can only be specified at creation time.'
    TaskCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
    TaskObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Task'
    TaskArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Task'
    Team:
      allOf:
        - $ref: '#/components/schemas/TeamCompact'
        - type: object
          description: |-
            A *team* is used to group related projects and people together within an
            organization. Each project in an organization is associated with a team.
          properties:
            description:
              description: |
                [Opt In](/developers/documentation/getting-started/input-output-options). The description of the team.
              type: string
              example: All developers should be members of this team.
            html_description:
              description: |
                [Opt In](/developers/documentation/getting-started/input-output-options). The description of the team with formatting as HTML.
                **Note: This field is under active migration—please see our [blog post](https://asana.com/developers/news/new-rich-text) for more information.**
              type: string
              example: <body><em>All</em> developers should be members of this team.</body>
            organization:
              allOf:
                - $ref: '#/components/schemas/WorkspaceCompact'
                - type: object
                  description: |
                    The organization/workspace the team belongs to.
    TeamCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
    TeamObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Team'
    TeamArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Team'
    User:
      allOf:
        - $ref: '#/components/schemas/UserCompact'
        - type: object
          description: |-
            A *user* object represents an account in Asana that can be given access
            to various workspaces, projects, and tasks.

            Like other objects in the system, users are referred to by numerical
            IDs. However, the special string identifier `me` can be used anywhere a
            user ID is accepted, to refer to the current authenticated user.
          properties:
            email:
              type: string
              format: email
              readOnly: true
              description: The user’s email address.
              example: gsanchez@example.com
            photo:
              type: object
              nullable: true
              properties:
                image_21x21:
                  type: string
                  format: uri
                image_27x27:
                  type: string
                  format: uri
                image_36x36:
                  type: string
                  format: uri
                image_60x60:
                  type: string
                  format: uri
                image_128x128:
                  type: string
                  format: uri
              readOnly: true
              description: 'A map of the user’s profile photo in various sizes, or null if no photo is set. Sizes provided are 21, 27, 36, 60, and 128. Images are in PNG format.'
              example:
                image_21x21: 'https://...'
                image_27x27: 'https://...'
                image_36x36: 'https://...'
                image_60x60: 'https://...'
                image_128x128: 'https://...'
            workspaces:
              description: |-
                Workspaces and organizations this user may access.
                Note\: The API will only return workspaces and organizations that also contain the authenticated user.
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/Workspace'
    UserCompact:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
        - type: object
          properties:
            name:
              type: string
              description: '**Read-only except when same user as requester**. The user’s name.'
              example: Greg Sanchez
    UserObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/User'
    UserArray:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
    UserIdObject:
      description: A user ID object for specification with the addUser/removeUser endpoints.
      type: object
      properties:
        data:
          type: object
          properties:
            user:
              oneOf:
                - type: integer
                - type: string
                  enum:
                    - me
                - type: string
                  format: email
              example: 12345
    UserTaskList:
      allOf:
        - $ref: '#/components/schemas/AsanaNamedObject'
        - type: object
          description: |-
            A user task list represents the tasks assigned to a particular user. It provides API access to a user’s “My Tasks” view in Asana.
            A user’s “My Tasks” represent all of the tasks assigned to that user. It is visually divided into regions based on the task’s [`assignee_status`] (https://asana.com/developers/api-reference/tasks#field-assignee_status) for Asana users to triage their tasks based on when they can address them. When building an integration it’s worth noting that tasks with due dates will automatically move through `assignee_status` states as their due dates approach; read up on [task auto-promotion](https://asana.com/guide/help/fundamentals/my-tasks#gl-auto-promote) for more information.
          properties:
            owner:
              allOf:
                - $ref: '#/components/schemas/UserCompact'
                - type: object
                  description: 'The owner of the user task list, i.e. the person whose My Tasks is represented by this resource.'
                  readOnly: true
            workspace:
              allOf:
                - $ref: '#/components/schemas/WorkspaceCompact'
                - type: object
                  description: The workspace in which the user task list is located.
                  readOnly: true
    UserTaskListObject:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserTaskList'
    Webhook:
      allOf:
        - $ref: '#/components/schemas/AsanaObject'
        - $ref: '#/components/schemas/AsanaCreatedAt'
        - type: object
          description: |-
            Webhooks allow an application to be notified of changes. This is in
            addition to the ability to fetch those changes directly as Events - in
            fact, Webhooks are just a way to receive
            [Events](https://asana.com/developers/api-reference/events) via HTTP POST
            at the time they occur instead of polling for them. For services
            accessible via HTTP this is often vastly more convenient, and if events
            are not too frequent can be significantly more efficient.

            In both cases, however, changes are represented as Event objects - refer
            to the [Events
            documentation](https://asana.com/developers/api-reference/events) for
            more information on what data these events contain.

            **Note**: While Webhooks send arrays of Event objects to their target,
            the Event objects themselves contain *only IDs*, rather than the actual
            resource they are referencing. Webhooks themselves contain only the
            information necessary to deliver the events to the desired target as they
            are generated.
          properties:
            active:
              description: 'If true, the webhook will send events - if false it is considered inactive and will not generate events.'
              type: boolean
              example: false
            last_failure_at:
              description: The timestamp when the webhook last received an error when sending an event to the target.
              type: string
              format: date-time
              readOnly: true
              example: '2012-02-22T02:06:58.147Z'
            last_failure_content:
              description: The contents of the last error response sent to the webhook when attempting to deliver events to the target.
              type: string
              readOnly: true
              example: 500 Server Error\n\nCould not complete the request
            last_success_at:
              description: The timestamp when the webhook last successfully sent an event to the target.
              type: string
              format: date-time
              readOnly: true
              example: '2012-02-22T02:06:58.147Z'
            resource:
              allOf:
                - $ref: '#/components/schemas/AsanaNamedObject'
                - type: object
                  description: The resource the webhook is subscribed to.
            target:
              description: The URL to receive the HTTP POST.
              type: string
              format: uri
              readOnly: true
              example: 'https://example.com/receive-webhook/7654'
    WebhookEvent:
      type: object
      properties:
        action:
[...]
