*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/


# exclude unencrypted environment files
.env*
!.env.*.encrypted

# exclude codeship keys
*.aes

# node
node_modules

# need to keep a file in dist for deployment to work
build/*
!build/README.md
