<span class="api-reference">API Reference
  <style>
    .api-reference {
      position: relative;
      left: 12px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      color: #999999;
    }
  </style>
</span>

# Current User

## The Current User Object
An instance of the [User Object](#the-user-object), but for the user associated with the current access token.

