.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border-color: #4b71fc;
    color: #4b71fc;
    font-size: 1rem;
    padding: 0.9375rem 3rem;
    border-radius: 1.5rem / 50%;
    outline: none;
    vertical-align: middle
}

.button:hover,
.button:focus,
.button.is-active,
.button.active {
    background-color: transparent;
    border-color: #3f5cd6;
    color: #3f5cd6
}

.button:active {
    background-color: transparent;
    border: 1px solid #3f5cd6;
    color: #3f5cd6
}

.button:focus,
.button.is-active,
.button.active {
    box-shadow: 0 0 2px rgba(111, 141, 253, 0.6);
    outline: none
}

@media (min-width: 481px) {
    .button+.button {
        margin-left: 0.75rem
    }
}

.button--primary {
    background-color: #4b71fc;
    border-color: #4b71fc;
    color: #fff
}

.button--primary:hover,
.button--primary:focus,
.button--primary.is-active,
.button--primary.active {
    background-color: #3f5cd6;
    border-color: #3f5cd6;
    color: #fff
}

.button--primary:active {
    background-color: #3f5cd6;
    border: 1px solid #3f5cd6;
    color: #fff
}

.button--tertiary {
    background-color: #e4e7ed;
    border-color: #e4e7ed;
    color: #8e919c
}

.button--tertiary:hover,
.button--tertiary:focus,
.button--tertiary.is-active,
.button--tertiary.active {
    background-color: #afb4be;
    border-color: #afb4be;
    color: #6d6e7a
}

.button--tertiary:active {
    background-color: #afb4be;
    border: 1px solid #afb4be;
    color: #6d6e7a
}

.button--action {
    background-color: #4b71fc;
    border-color: #4b71fc;
    color: #fff
}

.button--action:hover,
.button--action:focus,
.button--action.is-active,
.button--action.active {
    background-color: #3f5cd6;
    border-color: #3f5cd6;
    color: #fff
}

.button--action:active {
    background-color: #3f5cd6;
    border: 1px solid #3f5cd6;
    color: #fff
}

.button[disabled] {
    background-color: #f6f7f9;
    border-color: #e4e7ed;
    color: #afb4be;
    cursor: default
}

.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled].is-active,
.button[disabled].active {
    background-color: #f6f7f9;
    border-color: #e4e7ed;
    color: #afb4be
}

.button[disabled]:active {
    background-color: #f6f7f9;
    border: 1px solid #e4e7ed;
    color: #afb4be
}

.button--large {
    font-size: 1rem;
    padding: 0.9375rem 3rem
}

.button--small {
    font-size: 1rem;
    padding: 0.5625rem 1rem
}

.button--tiny {
    font-size: 0.83333rem;
    padding: 0.375rem 0.75rem
}

.button--slab {
    display: block;
    width: 100%
}

.button+.button--slab {
    margin-left: 0
}

.button--icon {
    font-size: 1rem;
    padding: 0.75rem 0.75rem
}

.button--icon svg {
    fill: #6f8dfd
}

.button {
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05556rem
}

.button>.icon {
    vertical-align: middle
}

.button--small {
    border-radius: 1.1rem / 50%
}

.buttonGroup {
    display: inline-block
}

.buttonGroup>.button {
    border-radius: 0;
    border-right-width: 0;
    float: left;
    margin-left: 0;
    border-color: #afb4be;
    color: #6d6e7a;
    text-transform: none
}

.buttonGroup>.button:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px
}

.buttonGroup>.button:last-child {
    border-bottom-right-radius: 2px;
    border-right-width: 1px;
    border-top-right-radius: 2px
}