$COLOR_BLUE_30: #163B8E;
$COLOR_BLUE_50: #2665F1;
$COLOR_BLUE_63: #5F8DF5;
$COLOR_BLUE_89: #CFDDFC;
$COLOR_BLUE_93: #E0E9FD;
$COLOR_BLUE_97: #F1F5FE;

$COLOR_PURPLE_30: #341686;
$COLOR_PURPLE_50: #5825E4;
$COLOR_PURPLE_63: #845EEB;
$COLOR_PURPLE_89: #DACFF9;
$COLOR_PURPLE_93: #E7E0FB;
$COLOR_PURPLE_97: #F4F1FD;

$COLOR_RED_30: #831A13;
$COLOR_RED_50: #DF2D20;
$COLOR_RED_63: #E7645B;
$COLOR_RED_89: #F8D1CE;
$COLOR_RED_93: #FAE1DF;
$COLOR_RED_97: #FDF2F1;

$COLOR_ORANGE_30: #8B4A07;
$COLOR_ORANGE_50: #ED7D0C;
$COLOR_ORANGE_63: #F29F4C;
$COLOR_ORANGE_89: #FBE2CA;
$COLOR_ORANGE_93: #FCEDDD;
$COLOR_ORANGE_97: #FEF7F0;

$COLOR_GREEN_30: #024E3D;
$COLOR_GREEN_50: #048567;
$COLOR_GREEN_63: #46A58F;
$COLOR_GREEN_89: #C8E4DE;
$COLOR_GREEN_93: #DCEEE9;
$COLOR_GREEN_97: #EFF7F8;

$COLOR_GRAY_15: #192536;
$COLOR_GRAY_30: #3F4958;
$COLOR_GRAY_50: #757D8A;
$COLOR_GRAY_63: #999FA8;
$COLOR_GRAY_79: #C4C8CF;
$COLOR_GRAY_89: #E0E3E8;
$COLOR_GRAY_93: #EBEDF0;
$COLOR_GRAY_97: #F5F6F8;

$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #000000;
$COLOR_TRANSPARENT: transparent;

$COLOR_TEXT_DARK_PRIMARY: rgba(15, 28, 46, 0.96);
$COLOR_TEXT_DARK_SECONDARY: rgba(15, 28, 46, 0.64);
$COLOR_TEXT_DARK_TERTIARY: rgba(15, 28, 46, 0.42);
$COLOR_TEXT_LIGHT_PRIMARY: rgba(255, 255, 255, 0.96);
$COLOR_TEXT_LIGHT_SECONDARY: rgba(255, 255, 255, 0.64);
$COLOR_TEXT_LIGHT_TERTIARY: rgba(255, 255, 255, 0.42);
