// New Datil styles
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600');
@import 'variables_overrides';

td {
  border-bottom: 1px solid #f0f4f7;
}

.dt-data-param-required {
  // text-transform: uppercase;
  color: #fdac51;
  font-weight: bold;
  font-size: 13px;
}

.dt-attr {
  font-weight: 500;
}

.dt-data-type {
  font-size: 13px;
  font-weight: bold;
  color: $gray-light;
}

.tocify-wrapper {
  border-right: 1px solid #f0f4f7;
  font-weight: normal !important;
  font-size: 14px !important;
}

.tocify-wrapper .tocify-subheader {
    display: none;
    background-color: transparent;
    // font-weight: 500;
    background: transparent !important;
}

.tocify-wrapper .tocify-focus {
  box-shadow: none !important;
}

.tocify-wrapper .tocify-item > a {
  padding: 6px 20px;
}

.tocify-wrapper .tocify-subheader .tocify-item > a {
  font-size: 13px !important;
}
.tocify-wrapper > .search input {
  border-bottom: 2px solid #d2d9dd !important;
  margin-bottom: 30px !important;
}

.toc-footer {
  border-top: 1px solid #f0f4f7 !important;
}

.content h1 {
  font-size: 32px;
  padding-top: 0.7em !important;
  padding-bottom: 0.5em;
  border-bottom: none !important;
  margin-bottom: 21px;
  margin-top: 2em;
  border-top: 1px solid #ddd;
  background-image: none !important;
}

h4, h5, h6 {
  font-size: 13.5px !important;
  // color: #222 !important;
  font-weight: bold !important;
}

.content h4, .content h5, .content h6 {
  font-size: 15px !important;
}

.content h3 {
  font-size: 17.5px !important;
}
