@font-face {
  font-family: "LL Circular";
  src: url("/fonts/circular/lineto-circular-bold.eot");
  src: url("/fonts/circular/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/circular/lineto-circular-bold.woff2") format("woff2"),
    url("/fonts/circular/lineto-circular-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LL Circular";
  src: url("/fonts/circular/lineto-circular-bolditalic.eot");
  src: url("/fonts/circular/lineto-circular-bolditalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/circular/lineto-circular-bolditalic.woff2") format("woff2"),
    url("/fonts/circular/lineto-circular-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("/fonts/inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/inter/Inter-Italic.woff2") format("woff2"),
    url("/fonts/inter/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("/fonts/inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/inter/Inter-MediumItalic.woff2") format("woff2"),
    url("/fonts/inter/Inter-MediumItalic.woff") format("woff");
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/inter/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/inter/Inter-SemiBoldItalic.woff") format("woff");
}
