
$main-bg: #fff;
$nav-bg: #fafbfc;//lighten(rgb(44, 62, 80), 80%);
$nav-text: #4c555a;
$examples-bg: rgb(34, 37, 39);
// $code-bg: darken($nav-bg, 5%);
$code-bg: #272b2d;

$main-text: #4c555a;

$nav-active-bg: transparent;
$nav-active-text: #1c97eb;
$nav-subitem-bg: transparent;

// Colors
$gray-light: #737373;