$btnClasses: (
  "danger": #e74c3c,
  "info": #1e75d5,
  "success": #2ecc71,
  "warning": #f1c40f,
);

@mixin bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
@mixin borders($borderColor) {
  border: 1px solid darken($borderColor, 3%);
  border-radius: 4px;
}

@mixin button($bg: transparent, $textColor: #444) {
  color: $textColor;
  @include bg($bg);
  @include borders($bg);
}
@mixin rounded {
  border-top-left-radius: $rounded-border;
  border-top-right-radius: $rounded-border;
  border-bottom-left-radius: $rounded-border;
  border-bottom-right-radius: $rounded-border;
}
@mixin rounded-top {
  border-top-left-radius: $rounded-border;
  border-top-right-radius: $rounded-border;
}
@mixin rounded-bottom {
  border-bottom-left-radius: $rounded-border;
  border-bottom-right-radius: $rounded-border;
}

button {
  padding: 0.5em 1em;
  border-radius: 4px;
  outline: none;
  @include button();
  &.btn {
    @each $className, $classColor in $btnClasses {
      &-#{$className} {
        @include button($classColor, whitesmoke);
      }
      &--outline__#{$className} {
        outline: 1px solid $classColor;
      }
    }
  }
}
