$blue-1: #4898E4;

body {
  .tocify-wrapper {
    .logo {
      width: 140px;
      margin: auto;
    }
  }

  a {
    color: $blue-1;
    cursor: pointer;
    text-decoration: none;
  }
  .tocify-item a {
    color: white;
  }
  aside {
    color: white;
    text-shadow: none;

    a {
      color: white;
      border-bottom: 1px solid #fff;
      &:hover {
        border-bottom: none;
      }
    }
  }

  .title {
    color: #ddd;
    font-family: museo-slab;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin: -7px 1px 20px 0;
  }


  // FONTS
  font-family: 'museo-sans';
  .content {
    h1 { font-family: 'museo-slab'; }
  }
  pre { font-family: monospace; }
  .tocify-header > .tocify-item { font-family: 'museo-slab'; }
}



// ------------------------
// ------ MUSEO SANS ------
// ------------------------

@font-face {
  font-family: 'museo-sans';
  src: url('../fonts/museo-sans-100-webfont.eot');
  src: url('../fonts/museo-sans-100-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-sans-100-webfont.woff') format('woff'),
       url('../fonts/museo-sans-100-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo-sans';
  src: url('../fonts/museo-sans-300-webfont.eot');
  src: url('../fonts/museo-sans-300-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-sans-300-webfont.woff') format('woff'),
       url('../fonts/museo-sans-300-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo-sans';
  src: url('../fonts/museo-sans-500-webfont.eot');
  src: url('../fonts/museo-sans-500-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-sans-500-webfont.woff') format('woff'),
       url('../fonts/museo-sans-500-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



// ------------------------
// ------ MUSEO SLAB ------
// ------------------------

@font-face {
  font-family: 'museo-slab';
  src: url('../fonts/museo-slab-100-webfont.eot');
  src: url('../fonts/museo-slab-100-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-slab-100-webfont.woff') format('woff'),
       url('../fonts/museo-slab-100-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('../fonts/museo-slab-300-webfont.eot');
  src: url('../fonts/museo-slab-300-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-slab-300-webfont.woff') format('woff'),
       url('../fonts/museo-slab-300-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('../fonts/museo-slab-500-webfont.eot');
  src: url('../fonts/museo-slab-500-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-slab-500-webfont.woff') format('woff'),
       url('../fonts/museo-slab-500-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('../fonts/museo-slab-700-webfont.eot');
  src: url('../fonts/museo-slab-700-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-slab-700-webfont.woff') format('woff'),
       url('../fonts/museo-slab-700-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}