:root {
  --container-width: 960px;
  --header-height: 48px;
  --content-padding: 1em;
}

h1, h2, h3, h4, li, ul {
  all: inherit;
  display: block;
  margin: 0;
  padding: 0;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background: #EEE;
  margin: 0;
  font-family: usual,sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: var(--container-width);
  padding: 0 var(--content-padding);
  margin: auto;
}

.desktop-only {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.malibu-feature {
  grid-column: 2 span;
}

.tech-stack {
  grid-column: 4 span;
}

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(12, 1fr);
  }

  .malibu-feature {
    grid-column: 3 span;
  }

  .tech-stack {
    grid-column: 4 span;
  }
}

.card {
  background: white;
  border: 1px solid black;
  text-align: center;
  min-height: 5em;
  padding: 24px
}

.headline {
  text-align: center;
  padding: 0 var(--content-padding);
}

h1.headline {
  font-weight: bold;
  font-size: 36px;
  margin: 12px auto 36px;
}

h2.headline {
  font-size: 24px;
  margin: 12px auto;
}

header {
  background-color: white;
}

.qt-logo {
  height: var(--header-height);
}

.header-links {
  max-width: var(--container-width);
  margin: auto;
  display: flex;
}

.header-link {
  margin: var(--content-padding);
  line-height: var(--header-height);
  height: var(--header-height);
}

.header-link:last-child {
  margin-left: auto;
}

footer {
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  padding: 12px 0;
}

.large-image {
  background: url("/code-background.jpg");
  background-position-y: 50%;
  background-size: cover;
  color: white;
  padding: 160px 0;
  margin: 0 auto 36px;
}

.large-para {
  font-size: 24px;
  text-align: center;
  margin-top: 48px;
  padding: var(--content-padding);
}

.large-para a {
  text-decoration: underline;
}

.logo {
  width: 100%;
}
