
.select_language {
    font-size: 14px !important;
    float: right;
    margin-top: 12px;
    position: absolute;
}

.current_language {
    color: black;
}

.other_language {
    cursor: pointer;
    color: blue !important;
    text-decoration: underline;
}