#flex-container{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;/* margin: 0 30px; */height:100vh;background-color:#ffffff;/* max-width: 1350px; *//* margin: 0 auto; */}

#primary-nav {
  background-color: #fffdf0;
  padding: 18px 30px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 11;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: fixed!important;
  height: 30px;
  box-shadow: 0px 4px 5px -1px rgba(87, 87, 87, 0.25);
  z-index: 40;
  display: -ms-flexbox;
  display: flex;
  }
  
body.index #primary-nav {box-shadow:none;}  
  
#search {
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 160px 30px;
    background-color: #fffadf;
    text-align: center;
    /* margin-bottom: 20px; */
}

body{font-size:16px;}

/*///////////////////////////////////////////////////////////////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////*/
.cc-bottom span {/* padding-top: 25px; *//* position: relative; *//* top: -7px; */display: inline-block;margin-top: 15px;}
.cc {/* margin-top:4px; */width: 120px;margin-left: 10px;}
#toc {-ms-flex-positive: 3;flex-grow: 1;}
.cc-bottom {-ms-flex-positive: 1;/* flex-grow: 1; */-ms-flex-item-align: auto;-ms-grid-row-align: auto;align-self: auto;-ms-flex-pack: justify;justify-content: space-between;padding-bottom: 80px;}
.tocify-wrapper {display:-ms-flexbox;display:flex; -ms-flex-direction:column; flex-direction:column;}

#top {display: -ms-flexbox;/* display: flex; *//* padding: 40px 30px; */-ms-flex-direction: column;/* flex-direction: column; */-ms-flex-align: center;/* align-items: center; *//* height: 40vh; */-ms-flex-pack: center;/* justify-content: center; *//* min-height: 360px; *//* padding-top: 0; */}
#search {padding-top: 25px;padding-bottom: 120px;}
#search span {background-color:#fafafa;padding: 13px;border: solid 2px hsla(0,6%,92%,1);/* min-width: 300px; */min-width: 57vw;display: inline-block;margin: 0 auto;border-radius: 4px;color: #928d8d;}

#browse {display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:stretch;align-items: center;-ms-flex: 1 0 auto;flex: 1 0 auto;padding-bottom:30px;/* padding: 0 30px; */background: hsla(30,11%,92%,1);padding-top: 30px;border-top: solid 1px #ccc;-ms-flex-pack: center;justify-content: center;/* min-height: 30vh; *//* max-width: 1500px; *//* margin: 0 auto; */border-bottom: solid 1px #ccc;}

#browse div {-ms-flex-positive:1;flex-grow:1;background-color:#fafafa;margin-right:20px;border-radius:3px;padding: 20px 40px;padding-top: 15px;border: solid 1px #ccc;width: 100%;/* min-height: 300px; */}

.light-background {background-color:#fafafa;}

#browse div:first-of-type {margin-left:20px;}

#browse ul  {padding:0;list-style: none;margin: 0;margin-top: 36px;color: #5b6267;}
#browse ul a {text-decoration:none;color: #5b6267;}
#browse ul li {margin-bottom:10px;border-bottom: solid 1px hsl(46, 6%, 92%);padding-bottom: 13px;}
#browse ul li:last-of-type {margin-bottom:0px;border-bottom: none;}
#browse-divs {max-width: 1430px;display: -ms-flexbox;display: flex;-ms-flex: 1 0 auto;flex: 1 0 auto;}

#main-wrapper {-ms-flex: 1 0 auto;flex: 1 1 auto;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;position: relative;/* need this to position inner content overflow-y: auto;*/}
#main-wrapper {background-color: #eaf2f6;}
.index #main-wrapper{background-color: hsla(51, 198%, 97%, 1);}

@media (max-width: 690px) {
	
  #browse, #browse-divs {-ms-flex-direction:column;flex-direction:column;-ms-flex-align: stretch;align-items: stretch;}
  #browse div {margin:20px;width: inherit;/* height: 50px !important; */min-height: inherit;}
  	#___gcse_1 {width: 90vw !important;}
	
	
	.flex-desktop-center-rows {-ms-flex-direction: column !important;flex-direction: column !important;}
	.flex-desktop-center-rows a {margin:0 auto;border-right:none !important;border-bottom:solid 1px #edebe8;padding-right: 0 !important;}
	.flex-desktop-center-rows.row-override {-ms-flex-direction:row !important;flex-direction:row !important; }
	
	.more-help-links img {width:15vw;}
	.flex-desktop-center-rows a.green-button {padding:15px !important;}
	.stretched {padding-left: 15px !important;padding-right: 15px !important;padding-top: 45px !important;}
	
}.flex-desktop-center-rows a:last-of-type {border:none;}


/*///////////////////////////////////////////////////////////////////////////////
// SIDEBAR
////////////////////////////////////////////////////////////////////////////////*/

li.tocify-item {line-height:1.4em !important;}
.tocify-subheader {padding-top:15px !important; padding-bottom:15px !important;}
.tocify-wrapper {font-weight:500 !important; letter-spacing:.02em !important;}


/*///////////////////////////////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////*/

.toc-footer li {margin-bottom:0;} 
.toc-footer li:first-of-type {padding-top: 12px;}
.toc-footer.bottom li:first-of-type {padding-top: 0px;}

.tocify-wrapper ul.toc-footer {margin-bottom:0 !important;}

/*///////////////////////////////////////////////////////////////////////////////
// PRIMARY NAV
////////////////////////////////////////////////////////////////////////////////*/


	#primary-nav a {font-size: 101%;margin-right: 35px !important;text-decoration:none;color: #564e1e;}
	#primary-nav a:hover{text-decoration:underline;}
	#primary-nav a:last-of-type {margin-right:0;}
	 .bonsai-logo{height: 22px;}
	/* #primary-nav .selected {    border-bottom: solid 4px #3bb94f; padding-bottom: 22px; margin-top: 22px;}*/
	li.selected + a {color:#288136 !important}
	#references li.selected a {color:#288136 !important}
	#guides li.selected a {color:#288136 !important}
	
	li a:hover {color:#288136 !important; text-decoration:none !important;}

/*///////////////////////////////////////////////////////////////////////////////
// TYPE
////////////////////////////////////////////////////////////////////////////////*/

.p2{font-size: 135%;font-weight: 400;}
.welcome{font-size: 309%;text-align:center;background-color: transparent;background: none;margin: 0;/* margin-top: 90px; */margin-bottom: 10px;font-weight: 300;letter-spacing: .02em;}
#browse ul li a:hover {color:#3bb94f;}	
.content h3{
    font-size: 142%;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
    font-weight: 400;
}

.sub-text-1 {font-size: 132%;margin-top: 5px !important;letter-spacing: .03em;color: #3B453B;font-weight: 400;text-align: center;}






	
/*///////////////////////////////////////////////////////////////////////////////
// THE INCREADIBLE EDIBLE HAMBURGER NAV
////////////////////////////////////////////////////////////////////////////////*/

@charset "UTF-8";
.navigation {
  background: #a51919;
}

.brand {
  /* padding-left: 20px; */
  /* float: left; */
  /* display: inline-block; */
  text-transform: uppercase;
  font-size: 1.4em;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
   /* max-width: 95%; */
   /* margin: 0 auto; */
   display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   background: inherit;
   height: inherit;
   max-width: 1430px;
   margin: 0 auto;
}

nav {
  /* float: right; */
  display: inline-block;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  /* padding: 0 20px; */
  background: #fffdf0;
  /* color: #ffffff; */
  text-decoration: none;
}
/*nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}*/
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' + ';
}
nav ul li ul li {
  min-width: 190px;
  padding: 0 !important;
}
nav ul li ul li a {
  padding: 25px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1000px) {
	
	
	nav ul li ul li a {
	  padding: 15px;
	  line-height: 20px;
	}
	
	
	
	#primary-nav #___gcse_0 .gsc-input .gsc-input-box {height: 48px !important;width: auto;}
	#primary-nav #___gcse_0 .gsc-search-button .gsc-search-button-v2 {height:50px !important;padding: 16px;/* margin-right: 13px; */}
	
	
	#primary-nav #___gcse_0 {width:auto !important;margin-left: 0 !important;/* padding-top: 5px !important; */padding-bottom: 9px !important;/* margin-top: 17px !important; *//* margin-bottom: 40px !important; */margin-bottom: -3px !important;background-color: #fffdf0;}
  .nav-mobile {
    display: block;
  }

  nav {
    /* width: 100vw; */
    /* padding: 70px 0 15px; */
    /* margin-top: 10px; */
  }
  nav ul {
    margin-top: 54px;
    /* margin: 0 auto; */
    margin: 0 auto;
    /* width: 100vw; */
    /* padding-top: 50px; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
    padding-bottom: 28px;
    background-color: #fffdf0;
  }
  nav ul li {
    float: none;
    text-align: center;
    padding: 18px 0;
  }
  
    ul.nav-list li {-ms-flex-order: 2;order: 2;}
  
  ul.nav-list li:last-of-type {-ms-flex-order: 1;order: 1;/* margin-bottom: 30px; */}
  
  nav ul li a {
    /* padding: 15px; */
    line-height: 20px;
  }
  nav ul li ul li a {
    /* padding-left: 30px; */
  }

  .nav-dropdown {
    position: static;
  }

  .brand {
    position: absolute;
    top: 19px;
    margin-left: 20px;
    padding-left: 0;
    }

  #primary-nav{
    width: inherit;
    padding-left: 0 !important;
    padding-right: 0 !important;
    -ms-flex-direction: column;
    /* flex-direction: column; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 18px !important;
  }

  /*.welcome {font-size: 140%;margin-top: 60px;}*/

  #search {padding-bottom:90px;}

  #search span {min-width: 77vw;}

  .bonsai-logo{height: 26px;}

  .nav-container{
  /* display: inline-block; */
  /* margin: 0 auto; */
  /* width: 100vw !important; */
  height: initial;
  }
}
@media screen and (min-width: 1000px) {
	
	 #primary-nav .selected a {border-bottom: solid 4px #3bb94f;padding-bottom: 12px;margin-top: 18px;}

	 #references a {padding-top:0; margin-top:0!important;}
	#guides a {padding-top:0; margin-top:0!important;}
	
  .nav-list {
    /* display: block !important; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 28px;
  background: #2f9a41;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}


/*
// The dark box is what gives the code samples their dark background.
// It sits essentially under the actual content block, which has a
// transparent background.
// I know, it's hackish, but it's the simplist way to make the left
// half of the content always this background color. */
.dark-box {
  width: 50%;
  background-color: #393939;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  /*height: 9999%;*/
}




/* SEARCH */

#gs_tti50 #gsc-i-id1 {background-image:none !important;text-indent: 0 !important;}
#gsc-i-id2 {background-image:none !important;text-indent: 0 !important;}
.gsc-control-cse {background-color:transparent !important;border:none !important;/* max-width: 730px; */}	
.gsc-wrapper > div:first-of-type {display:none !important;}
.gcsc-branding {display: none !important;}
#___gcse_1{width: 60Vw;margin: 0 auto;padding: 10px 0;margin-bottom: 85px;margin-top: 16px;}
.gsc-search-box-tools .gsc-search-box .gsc-input {padding-right:0 !important;/* height: 30px !important; */}
.gsc-input-box {
    height:45px !important;
    border-radius:3px;
    border:solid 2px #ccc !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    }
	
	.gsc-search-button .gsc-search-button-v2  {background-color: hsl(0, 0%, 92%);padding: 0;margin-left: 0;box-sizing: border-box;padding: 10px;min-width: 73px;height: 49px !important;border-left: none;margin-left: -5px;}
	svg path {fill: #fafafa !important;}
	
	#primary-nav .gsc-search-button .gsc-search-button-v2  {background-color: hsl(0, 0%, 92%);padding: 0;margin-left: 0;box-sizing: border-box;padding: 10px;min-width: 73px;height: 49px !important;border-left: none;margin-left: -5px;}
	svg path {fill: #fafafa !important;}
	
input.gsc-search-button {border:solid 2px #ccc !important;/* margin: 0 !important; */height: 45px !important;width: auto !important;margin-left: 0;}
	




 #primary-nav .gsc-input-box {
    height: 34px !important;
    border-radius:3px;
    border:solid 1px #e3e3e3 !important;
    border-right:none !important;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    /* width: 100px; */
    margin-bottom: 0;
    }
	

#primary-nav .gsc-input {
	font-size: 97%;
}


 #primary-nav #___gcse_0 {width: 225px;margin:0;padding:0;margin-left: 11px;line-height: initial;}
 


 #primary-nav .gsc-search-button .gsc-search-button-v2 {height: 36px !important;padding: 10px;background: none;border-left: none !important;background: rgba(255,255,255,.7);border:none !important;}

 #primary-nav .gsc-control-cse {padding:0;}
 
 #primary-nav form.gsc-search-box {margin-bottom:0;}

 #primary-nav table.gsc-search-box {margin-bottom:0;}
 
 

.content h1:first-child, .content div:first-child + h1 {
	/* box-shadow: inset 0px 4px 5px -1px rgba(87,87,87,0.7); */
}



/*///////////////////////////////////////////////////////////////////////////////
// new nav
////////////////////////////////////////////////////////////////////////////////*/

/* CSS Document */



body {
	background: #212121;
	/* line-height: 32px; */
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	}



#primary-nav{line-height: 32px;}

#container {
	margin: 0 auto;
	max-width: 890px;
}



.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding: 0;
	background-color: #254441;
	position: fixed;
	z-index: 40;
	/* display: flex; */
	/* width: 100%; */
}

#logo {
	/* display: block; */
	/* padding: 0 30px; */
	float: left;
	/* font-size:20px; */
	/* line-height: 60px; */
	-ms-flex: 1;
	flex: 1;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	/* padding:0; */
	/* margin:0; */
	/* list-style: none; */
	/* position: relative; */
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	/*-ms-flex:;
	flex:;*/
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	/* float: left; */
	/* background-color: #254441; */
	}

/* Styling the links */
nav a {
	/* display:block; */
	/* padding:14px 20px; */
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}

#primary-nav  ul li ul li a {margin-right:0!important;}

nav ul li ul li:hover {/* background: #000000; */}

/* Background color change on Hover */
nav a:hover {
	background-color: #fffdf0;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	/* top: 48px; */
	padding-top: 20px;
	/* box-sizing: border-box; */
	background-color: #fffdf0;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 176px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-32px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}


#references a {border:none!important;}
#guides a {border:none!important;}
	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after {content:  ' +';}
li > a:only-child:after {content: '';}


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 1000px) {
	
	
	.flex-desktop-center-rows a {margin:0 auto; }
	
	.cc {display:none;}
	.footer-links-home a:last-of-type {-ms-flex-positive: 0 !important;flex-grow: 0 !important;/* justify-content: flex-start !important; */}

	.stretched {-ms-flex-pack: justify !important;justify-content: space-between !important;-ms-flex-align: inherit;align-items: inherit;}
.footer-links-home a {width: 40%;padding bottom:;padding-bottom: 20px;}


a {}

.flex-footer {-ms-flex-direction: column !important;flex-direction: row !important;-ms-flex-wrap: wrap;flex-wrap: wrap;}

	.menu-ham {width:26px;padding-right: 20px;}
#primary-nav  ul li ul li a {margin-right:0!important;background-color: hsl(52, 48%, 94%);}
#references  li:last-of-type a  {box-shadow: inset 0px 2px 5px -2px rgba(179,179,179,1);} 

	#logo {
		/* display: block; */
		padding: 0;
		width: 50%;
		text-align: center;
		float: none;
		/* line-height: 0 !important; */
	}
	
	#primary-nav #logo a {margin-right:0 !important;}
	

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #fffdf0;
		/* padding: 6px 20px; */
		/* color:#FFF; */
		font-size:17px;
		text-decoration:none;
		border:none;
		/* padding-right: 20px; */
	}

	.toggle:hover {
		/* background-color: #000000; */
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		margin-top: 16px;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	#primary-nav  ul li a {
			margin-right:0 !important;
			background-color: #fffdf0;
			}



	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		/* background-color: #000000; */
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
		margin-top: 0 !important;
		padding-bottom: 0;
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		/* padding: 0 !important; */
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}
	
	
	

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}




/*mobile slider*/

@media screen and (max-width: 1000px) {

	.tocify-wrapper.open {
	    top: 0 !important;
		z-index: 99999;
		
	}

}

/* layout */

.flex-desktop-center-rows {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: space-around;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	margin: 0 auto;
}

.flex-footer {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction: row;
	-ms-flex-pack: center;
	justify-content: space-around;
	/* align-items: center; */
	-ms-flex-line-pack: center;
	align-content: center;
	margin: 0 auto;
}



.stretched {
	-ms-flex-pack: distribute;
	justify-content: flex-end;
	-ms-flex-align: center;
	align-items: center;
	padding: 30px;
}

.border-top-ccc {border-top:solid 1px #ccc;background-color: #fffdf0;}

.more-padding-1 {/* margin-top: 70px; *//* padding-bottom: 46px; */height: auto;/* display: -webkit-inline-box; */padding-top: 80px !important;padding-bottom: 80px !important;background-color: #fafafa;padding-right: 30px;padding-left: 30px;}

.max-width-x {max-width: 530px;}


.margin-top-1 {margin-top: 45px;}

.more-help-padding {/* padding: 30px; */}
.more-help-links {margin-top: 40px !important;max-width: 730px;}
.more-help-links img { display:block; margin: 0 auto; padding-bottom:10px;}

.more-help-links a {color: #3B453B;text-decoration: none;border-right: solid 1px #edebe8;padding-right: 60px;padding-top: 30px;padding-bottom: 30px;}
.more-help-links a:last-of-type {border-right:none;}
.more-help-links a:hover {color:#3A8A3B;transition: all 0.3s ease 0s;}
.more-help-links a:hover > img {transform: scale(1.1);transition: all 0.3s ease 0s;}

.footer-links-home a:last-of-type {-ms-flex-positive:5;flex-grow:5;text-align:right;-ms-flex-pack: end;justify-content: flex-end;-ms-flex-line-pack: center;align-content: center;}

.flex-cc {display:-ms-flexbox;display:flex;-ms-flex-direction:row;-ms-flex-align: center;align-items: center;-ms-flex-pack: end;justify-content: flex-end;border-right: none !important;}

.footer-links-home a {color:#327833;text-decoration:none;padding-right: 15px;padding-left: 15px;}

.footer-links-home a:nth-child(-n+2) {border-right: solid 1px #EDEBE8 !important;}

.footer-links-home a:hover {color:#3B453B;}
/* ui */

.green-button {padding: 15px;background-color: #47AB48;border-radius: 3px;width: 150px;text-align: center;color: #fff;text-decoration: none;font-size: 120%;font-weight: 500;letter-spacing: 0.03em;transition: all 0.3s ease 0s;}

.green-button:hover {background-color: #3A8A3B;}


@media (max-width: 450px) {
	.flex-desktop-center-rows.row-override {-ms-flex-direction:column;flex-direction: column !important;}
	.flex-footer {-ms-flex-direction:column !important;flex-direction:column !important;padding-top: 55px !important;}
	.footer-links-home a {width:inherit;border: none !important;padding-bottom: 24px;font-size: 115%;}
	.green-button {width: 71vw !important;margin-bottom: 10px !important;}
	.welcome {font-size:200%;}
	.sub-text-1 {font-size:100%;line-height: 1.4em;}
	.more-padding-1 {padding: 30px !important;padding-bottom: 20px !;}
	
}


@media all and (max-width : 1000px) {
	
	.footer-links-home a {border:none !important;}
	.footer-links-home a:nth-child(-n+2) {border:none !important;}
	
}

/*gcs css fixes*/

/*

#gsc-i-id1 {background-image:none !important; text-indent:15px !important;height:40px;width:100% !important;border:none !important;}
.gsc-branding, .gcsc-branding {display:none !important;}
.gsc-clear-button {display:none;}
.gsc-search-box tr {border:solid 1px #ddd; background-color:#fff !important;}

*/

