<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K74BS6DEE3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K74BS6DEE3');
  </script>
  <%= partial "layouts/favicons" %>
  <title>Developer Resources | Greenhouse</title>
  <%= stylesheet_link_tag :home %>
  <%= partial "layouts/analytics" %>
</head>
<body>
  <div class="header">
    <div class="logo"></div>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <hr>
    <a href="https://greenhouse.io/" title="Greenhouse.io"><div class="footer-logo"></div></a>
    <ul class="footer-links">
      <li><a href="https://medium.com/in-the-weeds" target="_blank" title="">Engineering Blog</a></li>
      <li><a href="http://www.greenhouse.io/careers?gh_src=ti7lw0" target="_blank" title="">We're Hiring!</a></li>
      <li><a href="https://github.com/grnhse/greenhouse-api-docs" target="_blank" title="">View on GitHub</a></li>
    </ul>
  </div>
</body>
</html>
