version: 2
jobs:
    build:
        working_directory: ~/project
        docker:
            - image: starefossen/ruby-node:2-8
              auth:
                  username: intelexdocker
                  password: $DOCKERHUB_PASSWORD
        steps:
            - checkout
            - run:
                name: Install and configure dependencies
                command: |
                    gem install bundler -v 2.3.26
                    bundle install --jobs 4 --retry 3
            - run:
                name: Build static html
                command: bundle exec middleman build --clean
            - persist_to_workspace:
                root: /root/project
                paths:
                    - build
    deploy:
        working_directory: ~/project
        docker:
            - image: starefossen/ruby-node:2-8
              auth:
                  username: intelexdocker
                  password: $DOCKERHUB_PASSWORD
        steps:
            - checkout
            - add_ssh_keys:
                fingerprints:
                    - "72:81:e7:4d:d2:d4:0d:7f:59:6b:e1:74:57:3d:36:12"
            - attach_workspace:
                at: /root/project
            - run:
                name: Install and configure dependencies
                command: |
                    npm install -g --silent gh-pages@2.0.1
                    git config user.email "ci-build@klukas.net"
                    git config user.name "ci-build"
            - run:
                name: Deploy docs to gh-pages branch
                command: gh-pages --dotfiles --message "[skip ci] Updates" --dist build
workflows:
    version: 2
    build-and-deploy:
        jobs:
            - build
                context:
                  - docker-hub
            - deploy:
                context:
                  - docker-hub
                filters:
                    branches:
                        only: master
                requires:
                    - build            
