# Embed2

Embed2 is a small JavaScript script that embeds your Ada Chat bot into your web page. It comes equipped with various settings and actiongs to tailor the end-user experience.

## Quick Start

### 1. Turn on your bot
The first step towards adding your Ada Chat Bot to your web page is to turn on the Web Chat integration in your Settings > Platforms page.

<%= image_tag "images/turn-on-bot.png" %>

### 2. Embed script

```html
<head>
  ...
  <script
    id="__ada"
    data-handle="<YOUR-BOT-HANDLE>"
    src="https://static.ada.support/embed2.js"
  ></script>
</head>
```
> Be sure to replace \<YOUR-BOT-HANDLE> with your own bot handle. It's usually the name of your company.

Once you have your website all ready-to-go, find the page where you'd like to embed the Ada Chat bot. In most cases this will be an HTML file. Here you will need to paste the following into the `<head>` tag.

### 3. That's it! 🎉
You should now see a small question mark button on the bottom right corner of your page. Clicking the button will toggle the Web Chat in and out of view.

[You can see see a working example here.](https://jsfiddle.net/avj0fdL3/)

## Advanced Setup

In some situations, the quick setup above may be too simplistic. You may want to delay instantiation of Embed2 until a certain event, your application might be a Single-Page App and you need more control, or perhaps you don't want to bind your settings to the window object. Whatever the reason, Embed2 ships with additional features to help you get setup.

### Lazy Mode

```html
<script
  id="__ada"
  data-lazy
  data-handle="<YOUR-BOT-HANDLE>"
  src="https://static.ada.support/embed2.js"
></script>
```
> Start Embed2 in your JS when you are ready to.

```js
window.adaEmbed.start({
  handle: "my-bot",
  metaFields: {
    username: "Ada Lovelace",
    phone_number: "123-456-7890"
  },
  chatterTokenCallback: (chatter) => console.log(chatter)
});
```

Lazy mode can be configured to delay Embed2 instantiation. To put Embed2 in lazy mode, add the attribute `data-lazy` to the Embed2 script.

When you are ready to instantiate Embed2, call the `start` action. You can pass any settings you would normally set in `window.adaSettings` here.

### Async

```html
<script
  async
  id="__ada"
  data-handle="<YOUR-BOT-HANDLE>"
  src="https://static.ada.support/embed2.js"
></script>
```

> Approach 1: Use the native script onload handler

```html
<script
  async
  id="__ada"
  onload="window.adaEmbed.toggle()"
  data-handle="<YOUR-BOT-HANDLE>"
  src="https://static.ada.support/embed2.js"
></script>
```

> Approach 2: Use the adaReadyCallback

```js
window.adaSettings = {
  adaReadyCallback: () => {
    window.adaEmbed.toggle();
  }
};
```

Since HTML5, the `async` attribute has been available for HTML script elements. From **MDN**, it "allows the elimination of parser-blocking JavaScript where the browser would have to load and evaluate scripts before continuing to parse". It may be applied to the Embed2 script in order to improve load times of your page, however it does come with certain caveats.

If your bot implementation makes use of any actions from the global `adaEmbed` object, you must wait for the object to be added to your document. There are two common approaches for handling this situation.

**Approach 1** involves using the native script `onload` handler. When the script has loaded, the `load` event will be triggered. It is safe to call `adaEmbed` actions from here.

**Approach 2** involves using the `adaReadyCallback`, which you can set in `window.adaSettings`. Note that while in the examples provided `toggle` will work effectively the same way, `adaReadyCallback` is triggered after `adaEmbed.start(...)` has executed. Meanwhile, `onload` is simply triggered when the Embed2 script has been loaded.

### RequireJS

```html
<script>
  window.adaSettings = {
    handle: "<YOUR-BOT-HANDLE>"
  };
</script>

<script
  src="https://static.ada.support/embed2.js"
></script>
```

If you are using RequireJS as your module loader, you may encounter issues with the standard Embed2 setup. This is because RequireJS does not know how to interpret the `id` and `data-handle` attributes Ada uses. Instead of setting this attributes, you can just set `handle` in your `window.adaSettings` object.

## API Reference
Embed2 supports numerous settings and actions to help you customize the look and behaviour of your bot. Settings are set in the `adaSettings` object when you embed your script. They determine intrinsic properties like bot style and behaviour. Conversely, actions can be called at any point in time to toggle Chat, update user meta data, and more.

### Settings
Settings are set on the window object as `window.adaSettings = { ... }`. Alternatively, they can be passed directly do `adaEmbed.start({ ... })` for advanced configurations. A full list of available settings is provided below:

#### adaReadyCallback
`adaReadyCallback?(params: { isRolledOut: boolean }): void;`

```html
<script type="text/javascript">
  window.adaSettings = {
    adaReadyCallback: ({ isRolledOut }) => {
      console.log("Ada Embed is done setting up. Chat support is now available.");
    }
  }
</script>
```
Specifies a callback function to be called when Embed2 has finished setting up. This is especially useful when Embed2 is loaded asynchronously.

#### analyticsCallback
`analyticsCallback?(analytics: object): void;`


```html
<script type="text/javascript">
  window.adaSettings = {
    analyticsCallback: (event) => {
      // Here is where you can forward this event to Adobe (or elsewhere)
      console.log(event);
    }
  }
</script>
```

> Example event

```js
{
  chatter_id: "5d9f84b2a35763fc71cb7bf",
  session_id: "59f84b22c4683df7c38bf69",
  answer_name: "Greeting",
  event_name: "answer presented",
  authenticated: false
}
```

Can be used to pass back data analytics. Make sure you have `analyticsCallback` feature enabled on your bot - you can check this with your account manager.

#### chatterTokenCallback
`chatterTokenCallback?(chatter: string): void;`

Specifies a callback for when the `chatter` token has been set in Chat.

#### cluster
`cluster?: string;`

Specifies the Kubernetes cluster to be used. Unless directed by an Ada team member, you will not need to change this value.

#### crossWindowPersistence
`crossWindowPersistence?: boolean;`

When set enables the Chat drawer open / close state to persist across windows and page refreshes using the `Window.sessionStorage` API. When the browser is closed the state is forgotten.

<aside class="notice">
We recommend enabling this feature if your bot uses Ada Glass.
</aside>

#### domain
`domain?: string;`

Can be used to change the subdomain. Unless directed by an Ada team member, you will not need to change this value.

#### embedStyles
`embedStyles?: string;`

The embedStyles option can be used to override default styles inside Embed2 elements. The value of the string should be the CSS rule-set you wish to apply inside the iFrame. Note that the `ui_customization` feature flag is required to use this feature.

<aside class="warning">
Setting custom styles based on Embed2 elements is inherently brittle, and can cause your styles to break over time. We do not recommend use of custom styles unless absolutely necessary. If custom styles are used, you should only rely on direct element IDs.
</aside>

#### eventCallbacks
`eventCallbacks?: { [eventName: string]: (jsEvent: object) => void };`

Used in conjunction with Custom JavaScript Event Blocks to trigger specified callbacks as part of a conversation. Requires the `custom_javascript_event_block` feature flag to be turned on.

#### greeting
`greeting?: string;`

This can be used to customize the greeting messages that new users see. This is useful for setting page-specific greetings across your app. The greeting should correspond to the ID of the Answer you would like to use. The ID can be found in the URL of the corresponding Answer in the dashboard.

#### handle
`handle:? string;`

Can be used to specify the bot handle if one is not specified in the script `data-handle` attribute.

#### hideMask
`hideMask?: boolean;`

When set to `true`, this will prevent the default mask from appearing over top of your site's content when opened on desktop.

<aside class="notice">
We recommend setting the value to `false`. This will allow end-users to navigate the page while the Ada Chat window is open.
</aside>

#### language
`language?: string;`

Takes in a language code to programatically set the bot language. Languages must first be turned on in the *Settings > Multilingual* page of your Ada dashboard. Language codes follow the [ISO 639-1 language format](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes).

#### metaFields
`metaFields?: object;`


```html
<script type="text/javascript">
  window.adaSettings = {
    metaFields: {
      phone_number: "(123) 456-7890",
      name: "Ada Lovelace"
    }
  }
</script>
```

Used to pass meta information about a `chatter`. This can be useful for tracking information about your end users, as well as for personalizing their experience. For example, you may wish to track the `phone_number` and `name` for conversation attribution. Once set, this information can be accessed in the email attachment from Handoff Form submissions, or via the *Chatter Info* modal in the *Conversations* page of your Ada dashboard. Should you need to programatically change these values after bot setup, you can make use of the `setMetaFields` action below.

<aside class="notice">
Meta field keys should not include whitespace, emojis, special characters or periods.
</aside>

#### lazy
`lazy?: boolean;`

When `true`, this will prevent the bot from loading until the `adaEmbed.start(...)` method is called.

#### parentElement
`parentElement?: string | HTMLElement;`


```html
<head>
  <!-- ... -->
  <script type="text/javascript">
    window.adaSettings = {
      parentElement: document.getElementById("custom-iframe")
    }
  </script>
</head>
<body>
  <!-- ... -->
  <div id="custom-iframe"></div>
</body>
```

Specifies where to mount the `<iframe>` if the default side drawer is not desired. Accepts the `HTMLElement` or element `id` of the desired parent element.

#### private
`private?: boolean;`

If set to `true`, this will put Web Chat into "Private" mode. This will cause Web Chat to forget conversation history on refresh. This is effectively the same as setting your Web Chat platform persistence to "Forget After Reload" in the *Settings > Platforms* page of your Ada dashboard. More information on persistence can be found [here](https://adasupporthelp.zendesk.com/hc/en-us/articles/360018115813-Chatter-Persistence-Remembering-Conversations-).

#### rolloutOverride
`rolloutOverride?: number;`

Can be used to override the rollout value set in the dashboard. This can be useful if you need page-specific rollout values. Accepts any number between `0` and `1`.

#### styles
`styles?: string;`

The styles option can be used to override default styles inside the Web Chat iFrame. The value of the string should be the CSS rule-set you wish to apply inside the iFrame. Note that the `ui_customization` feature flag is required to use this feature.

<aside class="warning">
Setting custom styles based on Chat elements is inherently brittle, and can cause your styles to break over time. We do not recommend use of custom styles unless absolutely necessary. If custom styles are used, you should only rely on direct element IDs.
</aside>

#### testMode
`testMode?: boolean;`

Marks the `chatter` as a test user.

#### toggleCallback
`toggleCallback?(isDrawerOpen: boolean): void;`

Can be used to trigger side-effects when the Web Chat drawer is opened or closed.

### Actions
Actions can be called from the global adaEmbed object. A list of the available actions is available below.

#### createProactive
`createProactive(body: string, duration?: number, responseId?: string): Promise<void>;`

```js
window.adaEmbed.createProactive("Hi there! Is there something I can help you with?", 10, "5e9481e296ac6c4467092be5");
```

Can be used to programatically create a proactive intro message. If an Answer ID is provided, that answer will be triggered when Chat is opened. `createProactive` returns a Promise, which can be used to wait for one proactive intro before displaying the next.

This action requires the `developer_proactive` feature flag to be turned on.

#### deleteHistory
`deleteHistory(): Promise<void>;`

Deletes the `chatter` used to fetch conversation logs for an end-user from storage. When a user opens a new Chat window a new `chatter` will be generated.

#### getInfo
`getInfo(): Promise<WindowInfo>;`

Returns an object containing information about the bot, including `hasActiveChatter`, `hasClosedChat`, and `isChatOpen`.

#### reset
`reset(resetParams?: ResetParams): Promise<void>;`


```js
window.adaEmbed.reset({
  greeting: "5e9481e296ac6c4467092be5"
});
```

Creates a new `chatter` and refreshes the Chat window. `reset` can take an optional object allowing `language`, `metaFields`, and `greeting` to be changed for the new `chatter`.

To prevent creating a new `chatter` (and maintain conversation history), `resetChatHistory` can be passed to the object with a value of `false`.

#### setMetaFields
`setMetaFields(options: object): Promise<void>;`


```js
window.adaEmbed.setMetaFields({
  phone_number: "(123) 456-7890",
  name: "Ada Lovelace"
});
```

Used to update `metaFields` after Chat has been opened. In most situations, the `metaFields` settings object should be enough for user attribution. However, in cases where Ada Chat remains open while page changes occur (like in Single Page Applications), this methods may be useful.

<aside class="notice">
Meta field keys should not include whitespace, emojis, special characters or periods.
</aside>

#### start
`start(adaSettings: StartOptions): Promise<void>;`


```js
window.adaEmbed.start({
  handle: "my-bot",
  language: "fr",
  mobileOverlay: true
});
```

Used to initialize Embed2 on your page. This action is triggered by default internally, so you will likely not need to call it directly unless you are using Embed2 is `lazy` mode, or have called `stop` and want to re-start Embed2.

#### stop
`stop(): Promise<void>;`

Removes Embed2 from your page.

#### toggle
`toggle(): Promise<void>;`

Can be used to programatically open / close the Chat window. This method cannot be used with the `parentElement` option.

## FAQ

#### How do I setup Ada Chat for my mobile app?

Ada now has native support for both iOS and Android apps! Find out more about iOS [here](#ios-sdk), and Android [here](#android-sdk).

#### How do I customize the look and feel of the Ada Chat button?

Ada supports multiple options for button configurtation through the dashboard. Without any code, you can customize attributes such as the button colour, size, and icon.

Further customization can be made through the `embedStyles` setting above. CSS selectors can be brittle, and your style customizations may need to be updated from time to time. If this functionality is required, the `ui_customization` feature flag must first be turned on by an Ada ACX team member.

#### How do I customize the look and feel of the Chat window?

Basic branding, including colours and icons, can be configured through the Ada dashboard.

Additional customization of the chat window is available through the `styles` setting, as long as you have the `ui_customization` feature flag enabled. As with `embedStyled` we do not recommend using this feature unless crucial.

#### Ada Embed is rendered as soon as the page loads. How can I delay rendering?

Embed2 features a useful data attribute called `data-lazy`. When defined on your script, Embed2 will not be triggered until you manually call `adaEmbed.start(...)`. Alternatively, the `lazy` property can be passed to the `window.adaSettings`. See [Advanced Setup](#advanced-setup) for more information.

## Versioning

The Embed script found above is versionless. This means that the latest stable features will be made available to you without any changes to your code.

## Browser Support

Embed supports all major browsers, including Chrome, FireFox, Safari, Edge, IE11+, and mobile browsers.