## Preguntas frecuentes

<section class="p-3">
  <details>
    <summary>
      <strong>¿Qué tipo de información se puede ver en Admetricks?</strong>
    </summary>

    <ul class="list-disc pl-7">
      <li>Publicidades Display Desktop, Display Mobile Web, Video Desktop y <br/> Video Mobile Web. Dependiendo del país.</li>
      <li>Publicidad en YouTube y Facebook de los grandes avisadores sin mucho perfilamiento <br/>(no las campañas segmentadas).</li>
    </ul>
  </details>

  <details class="mt-3">
    <summary>
      <strong>¿Por qué no encuentro mi campaña?</strong>
    </summary>
    <p>Es probable que el robot no la este rastreando. Para corregirlo, por favor envíanos la página de destino de la campaña y su plan de medios a [contacto@admetricks.com](mailto:contacto@admetricks.com). De esta manera ayudamos al robot a encontrarlas.</p>

    <p>También hay casos en los que no capturamos las campañas por los siguientes motivos:</p>

    <ul class="list-disc pl-7">
      <li><strong>Facebook:</strong> En el caso de Facebook, la publicidad varía según el perfil, los intereses y muchos factores. Admetricks cuenta con perfiles diferentes (hombre y mujer de diferentes edades) que permite capturar las campañas más masivas planificadas en este medio. Hay que tener en cuenta que esta es una pequeña muestra con respecto a lo que realmente se exhibe en facebook más segmentado</li>
      <li><strong>Google:</strong> El caso de Google Display, si tiene mucha segmentación nuestro sistema no logra capturarlos.</li>
    </ul>

    Nuestro robot simula el comportamiento de un usuario incógnito, y tanto google como YouTube ocupan información de navegación pasada para segmentar. Por esta razón no logramos capturarlas.
  </details>

</section>
