# Preguntas frecuentes

<section class="faq">
  <details class="card">
    <summary>
      <strong>¿Por qué no encuentro mi campaña?</strong>
    </summary>
    <p>Es probable que el robot no la este rastreando. Para corregirlo, por favor envíanos la página de destino de la campaña y su plan de medios a contacto@admetricks.com. De esta manera ayudamos al robot a encontrarlas. También hay casos en los que no capturamos las campañas por los siguientes motivos:</p>
    <ul>
      <li>
        <strong>Facebook:</strong> En el caso de Facebook, la publicidad varía según el perfil, los intereses y muchos factores. Admetricks cuenta con perfiles diferentes (hombre y mujer de diferentes edades) que permite capturar las campañas más masivas planificadas en este medio. Hay que tener en cuenta que esta es una pequeña muestra con respecto a lo que realmente se exhibe en facebook más segmentado
      </li>
      <li>
        <strong>Google:</strong> El caso de Google Display, si tiene mucha segmentación nuestro sistema no logra capturarlos. Nuestro robot simula el comportamiento de un usuario incógnito, y tanto google como YouTube ocupan información de navegación pasada para segmentar. Por esta razón no logramos capturarlas.
      </li>
      <li>
        <strong>SEM:</strong> No se monitorea publicidad en Buscadores, principalmente porque existen infinitas combinaciones de keywords que se pueden monitorear y los resultados de cada keyword no se podrán comparar entre si porque es imposible asignar un peso relativo.
      </li>
    </ul>
    <footer hidden>
      <p>Más información en <a href=''>Campaña no encontrada</a> y <a href=''>Otras campañas</a></p>
    </footer>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué tipo de información se puede ver en Admetricks?</strong>
    </summary>
    <ul>
      <li>Publicidades Display Desktop, Display Mobile Web, Video Desktop y Video Mobile Web. Dependiendo del país.</li>
      <li>Publicidad en YouTube y Facebook de los grandes avisadores sin mucho perfilamiento (no las campañas segmentadas).</li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué formatos Display y tipos de publicidad se capturan en Admetricks?</strong>
    </summary>
    <ul>
      <li>Imagen</li>
      <li>Contextual (Perured, Sutarget, entre otros)</li>
      <li>Shopping multiple</li>
      <li>iFrame HTML</li>
      <li>Background</li>
      <li>ITT</li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué formatos de Video y tipos de publicidad se capturan en Admetricks?</strong>
    </summary>
    <ul>
      <li>Videos pre-roll en YouTube y en webs (dependiendo del país)</li>
      <li>Videos en Facebook</li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué formatos y tipos de publicidad captura Admetricks en Facebook?</strong>
    </summary>
    <ul>
      <li>>Facebook-NewsFeed</li>
      <li>>Facebook-NewsFeed-suggested_page</li>
      <li>>Facebook-NewsFeed-image_with_link</li>
      <li>>Facebook-NewsFeed-image_without_link</li>
      <li>>Facebook-NewsFeed-collection</li>
      <li>>Facebook-NewsFeed-show_products</li>
      <li>>Facebook-NewsFeed-event</li>
      <li>>Facebook-RightColumn</li>
      <li>>Facebook-RightColumn-image</li>
      <li>>Facebook-RightColumn-video</li>
      <li>>Facebook-VideoFeed</li>
      <li>>Facebook-VideoFeed-with_link</li>
      <li>>Facebook-VideoFeed-without_link</li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué formatos y tipos de publicidad captura Admetricks en YouTube?</strong>
    </summary>
    <ul>
      <li>Video preroll</li>
      <li>Overlay</li>
      <li>Companion</li>
      <li>Masthead</li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué capturamos, pero no muy bien?</strong>
    </summary>
    <p><strong>Campañas programáticas</strong></p>
    <footer>
      <p>Debido a las muchas formas en que se pueden entregar las campañas programáticas, no podemos certificar que podamos capturar las campañas que está haciendo un cliente. <br /> Sin embargo, capturamos campañas programáticas con segmentación contextual que aparecen en los sitios web que monitoreamos.</p>
    </footer>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué no capturamos?</strong>
    </summary>
    <ul>
      <li>Campañas Programáticas Dirigidas:</li>
      <li>⮑ Segmentación de Comportamiento (Re-Marketing)</li>
      <li>⮑ Segmentación por lista de emails</li>
      <li>⮑ Campañas con baja inversión o impresiones</li>
      <li>⮑ Campañas con segmentadas a una baja audiencia</li>
      <li>Campañas en Aplicaciones Móviles (Facebook, Instagram, YouTube, Twitter, TikTok)</li>
      <li>Campañas de Search (SEM)</li>
      <li>Campañas de redes sociales en Instagram, Twitter y TikTok</li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué es un reproceso?</strong>
    </summary>
    <p>Con la intención de entregar un mejor servicio a nuestros clientes y proporcionar datos lo más reales y correctos posibles, realizamos reprocesos programados y estrictos, donde se cerrarán los datos del mes o meses correspondientes. De esta manera nuestros clientes podrán ver números constantes de una misma búsqueda realizada diferentes días.<br/> Los reprocesos son programados y tienen las siguientes fechas:</p>
    <ul>
      <li>
        <strong>Reproceso mensual:</strong> se realiza entre el 13 y 15 de cada mes para cerrar el mes anterior (ejemplo: el 15 de enero se reprocesa diciembre)
      </li>
      <li>
        <strong>Reproceso trimestral de enero:</strong> se reprocesan los meses de octubre, noviembre y diciembre.
      </li>
      <li>
        <strong>Reproceso trimestral de abril:</strong> se reprocesan los meses de enero, febrero y marzo.
      </li>
      <li>
        <strong>Reproceso trimestral de julio:</strong> se reprocesan los meses de abril, mayo y junio.
      </li>
      <li>
        <strong>Reproceso trimestral de octubre:</strong> se reprocesan los meses de julio, agosto y septiembre.
      </li>
    </ul>
    <footer>
      <p><strong>¿Por qué son necesarios?</strong> El reproceso nos permite realizar cualquier modificación de datos que sea requerida en el sitio, como eliminar/desclasificar una campaña, migrar una campaña a otra campañas, cambiar valorizaciones, correcciones de nombres de campañas, migración de industrias, entre otras, y que dichas modificaciones se vean reflejadas en los reportes.</p>
    </footer>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Desde que fecha cuentan con información?</strong>
    </summary>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Como se obtienen los datos de <i>Sold By</i> y en qué consiste su clasificación?</strong>
    </summary>
    <p><strong>Sold By</strong> se genera con un algoritmo interno de carácter confidencial creado por nuestro equipo de investigación y tecnología. Considera diversas fuentes y análisis de códigos de como fue servido el anuncio.<br/> Su clasificación se divide de la siguiente manera:</p>
    <ul>
      <li>
        <strong>Direct:</strong> venta directa del sitio
      </li>
      <li>
        <strong>Unknown:</strong> no detectado. Se sigue clasificando y detectando
      </li>
      <li>
        <strong>Google:</strong> llegó a ese sitio a través de Google Adsense
      </li>
      <li>
        <strong>Programmatic:</strong> compra programática, como Apnexus, Criteo, Rubicom, entre otros
      </li>
      <li>
        <strong>Ad Network:</strong> otras redes como Adxion, entre otras
      </li>
      <li>
        <strong>Autopromoción:</strong> autopromociones son los anuncios o inventario remanente que un sitio web no vende a terceros y ocupa para promocionarse a si mismo o a sitios de su misma propiedad, en otras palabras, anuncios que promocionan a sitios de un mismo <i>Editor</i> (dueño de estos sitios). A estos anuncios les calculamos sus impresiones e impacto igual que los otros tipos de anuncios, pero le asignamos una tarifa igual a cero, por lo tanto su valorización es cero
      </li>
    </ul>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Porqué la estimación de inversión en dólares cambia si la consulto en diferentes fechas?</strong>
    </summary>
    <p>La valorización o estimación de inversión se calcula en cada país según las tarifas en moneda local. Para llevarlo a dólares (USD) se ocupa el último tipo de cambio disponible de cada moneda. Esto se explica porque la inversión está hecha en moneda local y no en dólares, entonces al momento de hacer la consulta la estimación de inversión en moneda local es la misma, pero al cambiar el tipo de cambio, la estimación de inversión en dólares cambia según el último tipo de cambio disponible.</p>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Qué son las etiquetas de campañas?</strong>
    </summary>
    <p>En cada campaña encontrarás etiquetas, estas etiquetas se recolectan por medio de un software que reconoce las imágenes, colores y/o conceptos que se encuentran dentro de los ads de tipo display para ambos dispositivos.</p>
    <footer>
      <p>Esta funcionalidad está disponible desde el 1 de julio del año 2019 para los países de: AR, CL, CO, ES, MX y PE.  El día 11 de noviembre del año 2019 se aplicó para el resto de los países.</p>
    </footer>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Cuál es el valor del plan?</strong>
    </summary>
    <p>El valor del plan depende de la cantidad de información y de usuarios que necesitas. Para mayor información por favor escríbenos a <a href='mailto:ventas@admetricks.com'>ventas@admetricks.com</a></p>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Pueden entrar dos personas con un mismo mail?</strong>
    </summary>
    <p>No. El acceso al sistema es personal e intransferible.</p>
  </details>
  <p></p>
  <details class="card">
    <summary>
      <strong>¿Tengo que repetir todos los días el mismo proceso para poder ingresar?</strong>
    </summary>
    <p>No es necesario, el sitio se acuerda de ti y no tienes que repetir el proceso. Para tener un acceso a tu cuenta sin problemas tu navegador debe permitir el almacenamiento de cookies. Te sugerimos utilizar Chrome y Firefox para el mejor funcionamiento de la aplicación.</p>
  </details>
  <p></p>
</section>
