
## 游뱂 Preguntas frecuentes

<section>
  <details>
    <summary>
      <strong>쯈u칠 tipo de informaci칩n se puede ver en Admetricks?</strong>
    </summary>

    <ul class="list-disc pl-7">
      <li>Publicidades Display Desktop, Display Mobile Web, Video Desktop y <br/> Video Mobile Web. Dependiendo del pa칤s.</li>
      <li>Publicidad en YouTube y Facebook de los grandes avisadores sin mucho perfilamiento <br/>(no las campa침as segmentadas).</li>
    </ul>
  </details>

  <details class="mt-3">
    <summary>
      <strong>쯇or qu칠 no encuentro mi campa침a?</strong>
    </summary>
    <p>Es probable que el robot no la este rastreando. Para corregirlo, por favor env칤anos la p치gina de destino de la campa침a y su plan de medios a [contacto@admetricks.com](mailto:contacto@admetricks.com). De esta manera ayudamos al robot a encontrarlas.</p>

    <p>Tambi칠n hay casos en los que no capturamos las campa침as por los siguientes motivos:</p>

    <ul class="list-disc pl-7">
      <li><strong>Facebook:</strong> En el caso de Facebook, la publicidad vari패a segu패n el perfil, los intereses y muchos factores. Admetricks cuenta con perfiles diferentes (hombre y mujer de diferentes edades) que permite capturar las campan팪as ma패s masivas planificadas en este medio. Hay que tener en cuenta que esta es una peque침a muestra con respecto a lo que realmente se exhibe en facebook m치s segmentado</li>
      <li><strong>Google:</strong> El caso de Google Display, si tiene mucha segmentaci칩n nuestro sistema no logra capturarlos.</li>
    </ul>

    Nuestro robot simula el comportamiento de un usuario inc칩gnito, y tanto google como YouTube ocupan informaci칩n de navegaci칩n pasada para segmentar. Por esta raz칩n no logramos capturarlas.
  </details>

</section>
