# Introduction

The Clientela API is organized around <a href="https://en.wikipedia.org/wiki/Representational_state_transfer" class="text-blue-500">REST</a>.
Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.

<br />

**Base URL:** <a href="https://clientela.admetricks.com/" target="_blank" class="text-blue-500">https://clientela.admetricks.com/</a>

<br />

> Keep an eye out for this panel!

> We'll use it to deliver snippets of code or any relevant bits of info.


<ul class="list-disc">
  <li>You may want to read our <a href="https://www.admetricks.com/terms/" target="_blank" class="text-blue-500">Terms of service</a></li>
  <li>Have any questions? Shoot them up to our <a href="mailto:dev@admetricks.com" target="_blank" class="text-blue-500">Support email</a></li>
</ul>


