## ⚡ Quick Start


**Descripción:** Lorem ipsum dolor sit amet.

The Clientela API is organized around REST. Our API has resource-oriented URLs, returns JSON-encoded responses, and uses standard HTTP response codes and verbs.

**Base URL:** <a href="https://clientela.admetricks.com">https://clientela.admetricks.com</a>
