## ⚡ Quick Start


**Descripción:** Lorem ipsum dolor sit amet.

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia ducimus dicta ut quae suscipit, fugit exercitationem repellat sapiente officiis commodi nemo distinctio eos quis asperiores nihil facilis cupiditate magnam voluptatibus.

> Extracted from https://docs.admetricks.com/api

```shell
curl "https://clientela.admetricks.com/o/token/?grant_type=password&username=name@company.com&password=XYZXYZXYZ&client_id=IW8M80h7qgCaSz4hPm3gr3wJP89NiJTPyhkwPurT&client_secret=KnBW84uyHlxwlNrKOXyym6Ro1IT6IlYdhScdop63hHddCzJIxUwDG7VItNgEONb1U2ebEH6fBmkYgX9LrZD4uqFJlYscHYn9MLxOm2qVccNE2WGEuePpKA7t3jQ2CvMu"
  -X POST
```

### Petición

- **Método:** POST
- **Encabezado:** (vacío)
- **Parámetros:** `username`, `password`, `grant_type`, `client_id`, `client_secret`

Los valores de `username` y `password`, son los mismos que usas en la aplicación web.

Los valores de `client_id` y `client_secret` son constantes:

- client_id: `IW8M80h7qgCaSz4hPm3gr3wJP89NiJTPyhkwPurT`
- client_secret: `KnBW84uyHlxwlNrKOXyym6Ro1IT6IlYdhScdop63hHddCzJIxUwDG7VItNgEONb1U2ebEH6fBmkYgX9LrZD4uqFJlYscHYn9MLxOm2qVccNE2WGEuePpKA7t3jQ2CvMu`


**Base URL:** <a href="https://clientela.admetricks.com">https://clientela.admetricks.com</a>
