<h1 id="api-advertiser">advertiser</h1>

## Obtener anunciantes

<a id="opIdObtener anunciantes"></a>

`GET /advertiser/`

List Advertiser filtered by countries.

<h3 id="obtener-anunciantes-parameters">Parameters</h3>

|Nombre|En|Tipo|Requerido|
|---|---|---|---|---|
|countries|query|string|false|none|

<h3 id="obtener-anunciantes-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|Inline|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|none|Inline|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|none|Inline|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|none|Inline|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|none|Inline|

<h3 id="obtener-anunciantes-responseschema">Response Schema</h3>

Status Code **200**

|Nombre|Tipo|Requerido|Restrictions|Descripción|
|---|---|---|---|---|
|*anonymous*|[[Advertisers](#schemaadvertisers)]|false|none|none|
|» id|integer|true|none|Identificador del objeto|
|» name|string|false|none|Nombre del objeto|
|» brands|[[Autocomplete](#schemaautocomplete)]|true|none|none|
|»» id|integer|true|none|Identificador del objeto|
|»» name|string|false|none|Nombre del objeto|
|»» last_seen|string(date-time)|false|none|none|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>
