# Objetos

<h2 id="tocS_AdFile">AdFile</h2>
<!-- backwards compatibility -->
<a id="schemaadfile"></a>
<a id="schema_AdFile"></a>
<a id="tocSadfile"></a>
<a id="tocsadfile"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|name|string|true|none|URL del archivo (descargable)|

<h2 id="tocS_AdMeasurements">AdMeasurements</h2>
<!-- backwards compatibility -->
<a id="schemaadmeasurements"></a>
<a id="schema_AdMeasurements"></a>
<a id="tocSadmeasurements"></a>
<a id="tocsadmeasurements"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|height|integer|true|none|Alto del anuncio en píxeles|
|width|integer|true|none|Ancho del anuncio en píxeles|

<h2 id="tocS_AdPreview">AdPreview</h2>
<!-- backwards compatibility -->
<a id="schemaadpreview"></a>
<a id="schema_AdPreview"></a>
<a id="tocSadpreview"></a>
<a id="tocsadpreview"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_file|[AdFile](#schemaadfile)|false|none|URL de descarga|
|ad_measurements|[AdMeasurements](#schemaadmeasurements)|false|none|Medidas del anuncio|

<h2 id="tocS_Advertisers">Advertisers</h2>
<!-- backwards compatibility -->
<a id="schemaadvertisers"></a>
<a id="schema_Advertisers"></a>
<a id="tocSadvertisers"></a>
<a id="tocsadvertisers"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del objeto|
|name|string|false|none|Nombre del objeto|
|brands|[[Autocomplete](#schemaautocomplete)]|true|none|none|

<h2 id="tocS_Autocomplete">Autocomplete</h2>
<!-- backwards compatibility -->
<a id="schemaautocomplete"></a>
<a id="schema_Autocomplete"></a>
<a id="tocSautocomplete"></a>
<a id="tocsautocomplete"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del objeto|
|name|string|false|none|Nombre del objeto|
|last_seen|string(date-time)|false|none|none|

<h2 id="tocS_ReportRequest">ReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemareportrequest"></a>
<a id="schema_ReportRequest"></a>
<a id="tocSreportrequest"></a>
<a id="tocsreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteFilters](#schemawebsitefilters)|false|none|Filtrar por dominio|

<h2 id="tocS_BaseReportData">BaseReportData</h2>
<!-- backwards compatibility -->
<a id="schemabasereportdata"></a>
<a id="schema_BaseReportData"></a>
<a id="tocSbasereportdata"></a>
<a id="tocsbasereportdata"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[[MetricField](#schemametricfield)]|false|none|Métricas por tipo de publicidad|
|brands|[[MetricWithDate](#schemametricwithdate)]|false|none|Información de marcas encontradas|
|brands_by_date|[[MetricWithDate](#schemametricwithdate)]|false|none|Información de marcas encontradas (por fecha)|
|campaigns|[[CampaignMetric](#schemacampaignmetric)]|false|none|Información de campañas encontradas|
|countries|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por países encontrados|
|date_range|[[MetricWithDate](#schemametricwithdate)]|false|none|Periodo de búsqueda|
|devices|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por dispositivos|
|industries|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por industria|
|sold_by|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por servidor de publicidad|
|summary|[[MetricWithDate](#schemametricwithdate)]|false|none|Resumen de métricas|
|websites|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métricas por sitios web (dominios) encontrados|
|websites_by_date|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métricas por sitios web por fecha|

<h2 id="tocS_BrandReportRequest">BrandReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemabrandreportrequest"></a>
<a id="schema_BrandReportRequest"></a>
<a id="tocSbrandreportrequest"></a>
<a id="tocsbrandreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteFilters](#schemawebsitefilters)|false|none|Filtrar por dominio|
|brands|[IncludeObjects](#schemaincludeobjects)|true|none|none|

<h2 id="tocS_BrandReportResponse">BrandReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemabrandreportresponse"></a>
<a id="schema_BrandReportResponse"></a>
<a id="tocSbrandreportresponse"></a>
<a id="tocsbrandreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[BaseReportData](#schemabasereportdata)|true|none|Información del Reporte de Marca|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_BrandsReportData">BrandsReportData</h2>
<!-- backwards compatibility -->
<a id="schemabrandsreportdata"></a>
<a id="schema_BrandsReportData"></a>
<a id="tocSbrandsreportdata"></a>
<a id="tocsbrandsreportdata"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[[MetricField](#schemametricfield)]|false|none|Métricas por tipo de publicidad|
|brands|[[MetricWithDate](#schemametricwithdate)]|false|none|Información de marcas encontradas|
|brands_by_date|[[MetricWithDate](#schemametricwithdate)]|false|none|Información de marcas encontradas (por fecha)|
|campaigns|[[CampaignMetric](#schemacampaignmetric)]|false|none|Información de campañas encontradas|
|countries|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por países encontrados|
|date_range|[[MetricWithDate](#schemametricwithdate)]|false|none|Periodo de búsqueda|
|devices|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por dispositivos|
|industries|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por industria|
|sold_by|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por servidor de publicidad|
|summary|[[MetricWithDate](#schemametricwithdate)]|false|none|Resumen de métricas|
|websites|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métricas por sitios web (dominios) encontrados|
|websites_by_date|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métricas por sitios web por fecha|
|campaigns_by_date|[MetricByDate](#schemametricbydate)|true|none|Información de campañas por fecha|

<h2 id="tocS_BrandsReportRequest">BrandsReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemabrandsreportrequest"></a>
<a id="schema_BrandsReportRequest"></a>
<a id="tocSbrandsreportrequest"></a>
<a id="tocsbrandsreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteFilters](#schemawebsitefilters)|false|none|Filtrar por dominio|
|brands|[IncludeObjects](#schemaincludeobjects)|true|none|Marcas a incluir|

<h2 id="tocS_BrandsReportResponse">BrandsReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemabrandsreportresponse"></a>
<a id="schema_BrandsReportResponse"></a>
<a id="tocSbrandsreportresponse"></a>
<a id="tocsbrandsreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[BrandsReportData](#schemabrandsreportdata)|true|none|Información del Reporte de Marcas|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_CampaignMetric">CampaignMetric</h2>
<!-- backwards compatibility -->
<a id="schemacampaignmetric"></a>
<a id="schema_CampaignMetric"></a>
<a id="tocScampaignmetric"></a>
<a id="tocscampaignmetric"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[[MetricField](#schemametricfield)]|false|none|Métricas por tipo de anuncio|
|brand|[ObjectWithID](#schemaobjectwithid)|false|none|Marcas encontradas|
|countries|[[MetricField](#schemametricfield)]|false|none|Métricas por countries|
|date_range|[DateTimeRange](#schemadatetimerange)|false|none|Rango de fecha|
|devices|[[MetricField](#schemametricfield)]|false|none|Métricas por dispositivo|
|id|string|true|none|Identificador de la campaña|
|landing_page|string|false|none|Página landing de la campaña|
|metrics|[MetricsResponse](#schemametricsresponse)|true|none|Métricas de la campaña|
|preview|[AdPreview](#schemaadpreview)|false|none|Previsualización de la campaña|
|sold_by|[[MetricField](#schemametricfield)]|false|none|Métricas por sold_by|
|title|string|true|none|Nombre de la campaña|
|websites|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métrica por sitios web|

<h2 id="tocS_CampaignReportRequest">CampaignReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemacampaignreportrequest"></a>
<a id="schema_CampaignReportRequest"></a>
<a id="tocScampaignreportrequest"></a>
<a id="tocscampaignreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteFilters](#schemawebsitefilters)|false|none|Filtrar por dominio|
|campaigns|[IncludeObjects](#schemaincludeobjects)|true|none|Campañas a incluir|

<h2 id="tocS_CampaignsReportData">CampaignsReportData</h2>
<!-- backwards compatibility -->
<a id="schemacampaignsreportdata"></a>
<a id="schema_CampaignsReportData"></a>
<a id="tocScampaignsreportdata"></a>
<a id="tocscampaignsreportdata"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[[ObjectWithID](#schemaobjectwithid)]|false|none|none|
|brand|[ObjectWithID](#schemaobjectwithid)|false|none|Marca de la campaña|
|countries|[[ObjectWithID](#schemaobjectwithid)]|false|none|Países donde se anuncia|
|date_range|[DateTimeRange](#schemadatetimerange)|false|none|Fecha de inicio y fin|
|description|string|false|none|Descripción de la campaña|
|devices|[[ObjectWithID](#schemaobjectwithid)]|false|none|Dispositivos donde se visualiza|
|id|string|true|none|Identificador de la campaña|
|industry|[ObjectWithID](#schemaobjectwithid)|false|none|Industria de la campaña|
|landing_page|string|false|none|URL de la página de landing|
|preview|[AdPreview](#schemaadpreview)|false|none|Imagen de la vista previa de la campaña|
|title|string|true|none|Título de la campaña|

<h2 id="tocS_CampaignsReportResponse">CampaignsReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemacampaignsreportresponse"></a>
<a id="schema_CampaignsReportResponse"></a>
<a id="tocScampaignsreportresponse"></a>
<a id="tocscampaignsreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[[CampaignsReportData](#schemacampaignsreportdata)]|true|none|Información del reporte de Campañas|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_CampaignsRequest">CampaignsRequest</h2>
<!-- backwards compatibility -->
<a id="schemacampaignsrequest"></a>
<a id="schema_CampaignsRequest"></a>
<a id="tocScampaignsrequest"></a>
<a id="tocscampaignsrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[IncludeObjects](#schemaincludeobjects)|true|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Países a incluir|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fecha|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Dispositivos a incluir|
|industries|[IncludeObjects](#schemaincludeobjects)|false|none|Industrias a incluir|
|order_by|string|false|none|Ordenar por métrica|
|search_term|string|true|none|Término de búsqueda para las campañas|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|

<h2 id="tocS_CountryValuation">CountryValuation</h2>
<!-- backwards compatibility -->
<a id="schemacountryvaluation"></a>
<a id="schema_CountryValuation"></a>
<a id="tocScountryvaluation"></a>
<a id="tocscountryvaluation"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|country|string|true|none|País valorizado|
|value|integer|true|none|Valorización del país|

<h2 id="tocS_DateTimeRange">DateTimeRange</h2>
<!-- backwards compatibility -->
<a id="schemadatetimerange"></a>
<a id="schema_DateTimeRange"></a>
<a id="tocSdatetimerange"></a>
<a id="tocsdatetimerange"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|start|string(date-time)|false|none|Inicio del rango (formato `YYYY-MM-DD hh:mm:ss`)|
|end|string(date-time)|false|none|Fin del rango (formato `YYYY-MM-DD hh:mm:ss`)|

<h2 id="tocS_GroupedDateRange">GroupedDateRange</h2>
<!-- backwards compatibility -->
<a id="schemagroupeddaterange"></a>
<a id="schema_GroupedDateRange"></a>
<a id="tocSgroupeddaterange"></a>
<a id="tocsgroupeddaterange"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|start|string(date-time)|false|none|Inicio del rango (formato `YYYY-MM-DD hh:mm:ss`)|
|end|string(date-time)|false|none|Fin del rango (formato `YYYY-MM-DD hh:mm:ss`)|
|group_by|string|false|none|Cómo agrupar las métricas (`day`, `week` o `month`)|

<h2 id="tocS_IncludeObjects">IncludeObjects</h2>
<!-- backwards compatibility -->
<a id="schemaincludeobjects"></a>
<a id="schema_IncludeObjects"></a>
<a id="tocSincludeobjects"></a>
<a id="tocsincludeobjects"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|include|[[ObjectWithID](#schemaobjectwithid)]|true|none|Objetos a incluir|

<h2 id="tocS_Industry">Industry</h2>
<!-- backwards compatibility -->
<a id="schemaindustry"></a>
<a id="schema_Industry"></a>
<a id="tocSindustry"></a>
<a id="tocsindustry"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|read-only|none|
|name|string|true|none|none|
|code|string|true|none|none|

<h2 id="tocS_IndustryReportRequest">IndustryReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemaindustryreportrequest"></a>
<a id="schema_IndustryReportRequest"></a>
<a id="tocSindustryreportrequest"></a>
<a id="tocsindustryreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteFilters](#schemawebsitefilters)|false|none|Filtrar por dominio|
|industries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por industrias|

<h2 id="tocS_IndustryReportResponse">IndustryReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemaindustryreportresponse"></a>
<a id="schema_IndustryReportResponse"></a>
<a id="tocSindustryreportresponse"></a>
<a id="tocsindustryreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[BaseReportData](#schemabasereportdata)|true|none|Información del Reporte de Industria|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_MarketReportResponse">MarketReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemamarketreportresponse"></a>
<a id="schema_MarketReportResponse"></a>
<a id="tocSmarketreportresponse"></a>
<a id="tocsmarketreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_link|string|true|none|Anuncio|
|ad_sizes|string|true|none|Tamaños de publicidad|
|ad_type|string|true|none|Tipo de publicidad (nombre)|
|ad_type_id|integer|true|none|Tipo de publicidad|
|advertiser|string|false|none|Advertiser|
|brand|string|true|none|Nombre de un avisador o marca|
|brand_id|integer|true|none|Identificador de un avisador o marca|
|campaign_tags|string|false|none|Etiquetas que se generan a partir del contenido de las campañas|
|campaign_id|integer|true|none|Identificador de campaña|
|campaign_landing_page|string|false|none|Link de campaña|
|campaign_name|string|false|none|Nombre de campaña|
|country|string|true|none|País (nombre)|
|country_id|integer|true|none|País (ID)|
|date|string|true|none|Fecha|
|device|string|true|none|Tipo de dispositivo|
|duration|string|false|none|Largos de publicidades|
|hosted_by|string|false|none|Adservers|
|industry|string|true|none|Industria (nombre)|
|industry_id|integer|true|none|Industria (ID)|
|metrics_count|integer|true|none|Cantidad de anuncios|
|metrics_impact|integer|true|none|Impacto de campaña, equivalente a valor|
|metrics_valuation|integer|true|none|Valorización en pesos chilenos|
|position|string|false|none|Identifica el porcentaje de los ads de la campaña que aparecieron en el primer, segundo o tercer scroll|
|publisher|string|false|none|Publisher de sitio web|
|screenshot_link|string|true|none|Pantallazo de captura|
|skip|integer|false|none|La publicidad bloquea la pantalla|
|sold_bys|string|false|none|Quién la vendió|
|web_report|string|true|none|Link a la campaña en Admetricks|
|website|string|true|none|Nombre de medio o soporte|
|website_id|integer|true|none|Identificador de medio o soporte|
|website_sections|integer|false|none|Secciones de website|

<h2 id="tocS_MetricByDate">MetricByDate</h2>
<!-- backwards compatibility -->
<a id="schemametricbydate"></a>
<a id="schema_MetricByDate"></a>
<a id="tocSmetricbydate"></a>
<a id="tocsmetricbydate"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del objeto|
|name|string|false|none|Nombre del objeto|
|metrics_by_date|[[MetricWithDate](#schemametricwithdate)]|true|none|Métricas por fecha|

<h2 id="tocS_MetricField">MetricField</h2>
<!-- backwards compatibility -->
<a id="schemametricfield"></a>
<a id="schema_MetricField"></a>
<a id="tocSmetricfield"></a>
<a id="tocsmetricfield"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del objeto|
|name|string|false|none|Nombre del objeto|
|metrics|[MetricsResponse](#schemametricsresponse)|true|none|Métricas del objeto|

<h2 id="tocS_MetricWithDate">MetricWithDate</h2>
<!-- backwards compatibility -->
<a id="schemametricwithdate"></a>
<a id="schema_MetricWithDate"></a>
<a id="tocSmetricwithdate"></a>
<a id="tocsmetricwithdate"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|date|string|true|none|Fecha (`YYYY-MM-DD`)|
|metrics|[MetricsResponse](#schemametricsresponse)|true|none|Métricas encontradas|

<h2 id="tocS_MetricsResponse">MetricsResponse</h2>
<!-- backwards compatibility -->
<a id="schemametricsresponse"></a>
<a id="schema_MetricsResponse"></a>
<a id="tocSmetricsresponse"></a>
<a id="tocsmetricsresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|count|integer|false|none|none|
|impact|integer|true|none|Número de impactos|
|impressions|integer|false|none|Número de impresiones|
|valuation|integer|false|none|Valorización en moneda local|
|valuation_by_country|[[CountryValuation](#schemacountryvaluation)]|false|none|Valorización por país|
|valuation_usd|integer|false|none|Valorización en dólares|

<h2 id="tocS_Nested">Nested</h2>
<!-- backwards compatibility -->
<a id="schemanested"></a>
<a id="schema_Nested"></a>
<a id="tocSnested"></a>
<a id="tocsnested"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|read-only|none|
|name|string|true|none|none|

<h2 id="tocS_NewDealsReportDataResponse">NewDealsReportDataResponse</h2>
<!-- backwards compatibility -->
<a id="schemanewdealsreportdataresponse"></a>
<a id="schema_NewDealsReportDataResponse"></a>
<a id="tocSnewdealsreportdataresponse"></a>
<a id="tocsnewdealsreportdataresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[[MetricField](#schemametricfield)]|false|none|Métricas por tipo de anuncio|
|campaigns_with_websites_by_date|[[CampaignMetric](#schemacampaignmetric)]|true|none|Sitios web de cada campaña|
|countries|[[MetricWithDate](#schemametricwithdate)]|false|none|Métricas por países encontrados|
|date_range|[DateTimeRange](#schemadatetimerange)|false|none|Rango de fechas|
|devices|[[MetricField](#schemametricfield)]|false|none|Métricas por dispositivo|
|sold_by|[[MetricField](#schemametricfield)]|false|none|Métricas por fuente de publicidad|
|websites|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métrica por sitios web|

<h2 id="tocS_NewDealsReportResponse">NewDealsReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemanewdealsreportresponse"></a>
<a id="schema_NewDealsReportResponse"></a>
<a id="tocSnewdealsreportresponse"></a>
<a id="tocsnewdealsreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[NewDealsReportDataResponse](#schemanewdealsreportdataresponse)|true|none|Información del Reporte de Nuevos Negocios|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_NewdealsReportRequest">NewdealsReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemanewdealsreportrequest"></a>
<a id="schema_NewdealsReportRequest"></a>
<a id="tocSnewdealsreportrequest"></a>
<a id="tocsnewdealsreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[NewdealsWebsitesReportRequest](#schemanewdealswebsitesreportrequest)|true|none|none|

<h2 id="tocS_NewdealsWebsitesReportRequest">NewdealsWebsitesReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemanewdealswebsitesreportrequest"></a>
<a id="schema_NewdealsWebsitesReportRequest"></a>
<a id="tocSnewdealswebsitesreportrequest"></a>
<a id="tocsnewdealswebsitesreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|include|[[WebsiteObjectRequest](#schemawebsiteobjectrequest)]|true|none|none|
|our_sites|[[WebsiteObjectRequest](#schemawebsiteobjectrequest)]|true|none|none|

<h2 id="tocS_ObjectWithID">ObjectWithID</h2>
<!-- backwards compatibility -->
<a id="schemaobjectwithid"></a>
<a id="schema_ObjectWithID"></a>
<a id="tocSobjectwithid"></a>
<a id="tocsobjectwithid"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del objeto|
|name|string|false|none|Nombre del objeto|

<h2 id="tocS_OpportunityReportRequest">OpportunityReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemaopportunityreportrequest"></a>
<a id="schema_OpportunityReportRequest"></a>
<a id="tocSopportunityreportrequest"></a>
<a id="tocsopportunityreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[OpportunityWebsiteIncludeExcludeRangeRequest](#schemaopportunitywebsiteincludeexcluderangerequest)|true|none|Websites a incluir/excluir|

<h2 id="tocS_OpportunityReportResponse">OpportunityReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemaopportunityreportresponse"></a>
<a id="schema_OpportunityReportResponse"></a>
<a id="tocSopportunityreportresponse"></a>
<a id="tocsopportunityreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[OpportunityReportResponseData](#schemaopportunityreportresponsedata)|true|none|Información del Reporte de Oportunidades|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_OpportunityReportResponseData">OpportunityReportResponseData</h2>
<!-- backwards compatibility -->
<a id="schemaopportunityreportresponsedata"></a>
<a id="schema_OpportunityReportResponseData"></a>
<a id="tocSopportunityreportresponsedata"></a>
<a id="tocsopportunityreportresponsedata"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_types|[[MetricField](#schemametricfield)]|false|none|Métricas por tipo de publicidad|
|brands|[[MetricField](#schemametricfield)]|false|none|Métricas por marca|
|brands_by_date|[[MetricByDate](#schemametricbydate)]|false|none|Métricas de marcas por fecha|
|campaigns|[[CampaignMetric](#schemacampaignmetric)]|false|none|Métricas de campaña|
|countries|[[MetricField](#schemametricfield)]|false|none|Métricas por país|
|devices|[[MetricField](#schemametricfield)]|false|none|Métricas por dispositivo|
|sold_by|[[MetricField](#schemametricfield)]|false|none|Métricas por fuente de publicidad|
|websites|[[WebsiteMetric](#schemawebsitemetric)]|false|none|Métricas por dominio|

<h2 id="tocS_OpportunityWebsiteIncludeExcludeRangeRequest">OpportunityWebsiteIncludeExcludeRangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemaopportunitywebsiteincludeexcluderangerequest"></a>
<a id="schema_OpportunityWebsiteIncludeExcludeRangeRequest"></a>
<a id="tocSopportunitywebsiteincludeexcluderangerequest"></a>
<a id="tocsopportunitywebsiteincludeexcluderangerequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|include|[[WebsiteObjectRangeRequest](#schemawebsiteobjectrangerequest)]|false|none|Sitios web a incluir|
|exclude|[[WebsiteObjectRangeRequest](#schemawebsiteobjectrangerequest)]|true|none|Sitios web a excluir|

<h2 id="tocS_Publishers">Publishers</h2>
<!-- backwards compatibility -->
<a id="schemapublishers"></a>
<a id="schema_Publishers"></a>
<a id="tocSpublishers"></a>
<a id="tocspublishers"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del objeto|
|name|string|false|none|Nombre del objeto|
|websites|[[WebsiteAutocompleteResponse](#schemawebsiteautocompleteresponse)]|true|none|Sitios web agrupados por editor|

<h2 id="tocS_Report">Report</h2>
<!-- backwards compatibility -->
<a id="schemareport"></a>
<a id="schema_Report"></a>
<a id="tocSreport"></a>
<a id="tocsreport"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|read-only|none|
|name|string|true|none|none|
|query|string|true|none|none|
|filter|string|false|none|none|
|period|integer|false|none|none|
|daily_updates|boolean|false|none|none|
|weekly_updates|boolean|false|none|none|
|monthly_updates|boolean|false|none|none|
|monthly_memories|boolean|false|none|none|
|last_delivered_date|string(date-time)¦null|false|none|none|
|last_delivered_status|string¦null|false|none|none|
|weekly_updates_delivery_day|[WeeklyUpdatesDeliveryDayEnum](#schemaweeklyupdatesdeliverydayenum)|false|none|none|
|report_type|[Nested](#schemanested)|true|read-only|none|

<h2 id="tocS_SaveReportRequest">SaveReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemasavereportrequest"></a>
<a id="schema_SaveReportRequest"></a>
<a id="tocSsavereportrequest"></a>
<a id="tocssavereportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|name|string|true|none|Nombre del reporte|
|query|string|true|none|Filtros del reporte|
|filter|string|false|none|Descripción de filtros aplicados|
|period|integer|false|none|Periodo de actualización|
|report_type|[ObjectWithID](#schemaobjectwithid)|true|none|Tipo del reporte|
|weekly_updates_delivery_day|integer|false|none|Día de la semana cuando se envía el correo|

<h2 id="tocS_ShareRangeRequest">ShareRangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemasharerangerequest"></a>
<a id="schema_ShareRangeRequest"></a>
<a id="tocSsharerangerequest"></a>
<a id="tocssharerangerequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|start|integer|true|none|Cuota de share máxima|
|end|integer|true|none|Cuota de share mínima|

<h2 id="tocS_SoldByIncludeRequest">SoldByIncludeRequest</h2>
<!-- backwards compatibility -->
<a id="schemasoldbyincluderequest"></a>
<a id="schema_SoldByIncludeRequest"></a>
<a id="tocSsoldbyincluderequest"></a>
<a id="tocssoldbyincluderequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|include|[[SoldByRequest](#schemasoldbyrequest)]|true|none|Servidores de anuncios a incluir|

<h2 id="tocS_SoldByRequest">SoldByRequest</h2>
<!-- backwards compatibility -->
<a id="schemasoldbyrequest"></a>
<a id="schema_SoldByRequest"></a>
<a id="tocSsoldbyrequest"></a>
<a id="tocssoldbyrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|string|true|none|none|
|name|string|false|none|none|

<h2 id="tocS_VerificationReportRequest">VerificationReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemaverificationreportrequest"></a>
<a id="schema_VerificationReportRequest"></a>
<a id="tocSverificationreportrequest"></a>
<a id="tocsverificationreportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteFilters](#schemawebsitefilters)|false|none|Filtrar por dominio|
|brands|[IncludeObjects](#schemaincludeobjects)|true|none|Marcas a verificar|

<h2 id="tocS_VerificationReportResponse">VerificationReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemaverificationreportresponse"></a>
<a id="schema_VerificationReportResponse"></a>
<a id="tocSverificationreportresponse"></a>
<a id="tocsverificationreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[BaseReportData](#schemabasereportdata)|true|none|Información del Reporte de Verificación|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|


<h2 id="tocS_WebMarketReportResponse">WebMarketReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemawebmarketreportresponse"></a>
<a id="schema_WebMarketReportResponse"></a>
<a id="tocSwebmarketreportresponse"></a>
<a id="tocswebmarketreportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[BaseReportData](#schemabasereportdata)|true|none|Información del Mercado|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|


<h2 id="tocS_WebsiteAutocompleteResponse">WebsiteAutocompleteResponse</h2>
<!-- backwards compatibility -->
<a id="schemawebsiteautocompleteresponse"></a>
<a id="schema_WebsiteAutocompleteResponse"></a>
<a id="tocSwebsiteautocompleteresponse"></a>
<a id="tocswebsiteautocompleteresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|string|true|none|Identificador de sitio web|
|domain|string|true|none|Dominio del sitio web|
|last_seen|string(date-time)|false|none|none|

<h2 id="tocS_WebsiteFilters">WebsiteFilters</h2>
<!-- backwards compatibility -->
<a id="schemawebsitefilters"></a>
<a id="schema_WebsiteFilters"></a>
<a id="tocSwebsitefilters"></a>
<a id="tocswebsitefilters"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|include|[[WebsiteObjectRangeRequest](#schemawebsiteobjectrangerequest)]|false|none|Incluir dominios|
|exclude|[[WebsiteObjectRangeRequest](#schemawebsiteobjectrangerequest)]|false|none|Excluir dominios|

<h2 id="tocS_WebsiteIncludeRequest">WebsiteIncludeRequest</h2>
<!-- backwards compatibility -->
<a id="schemawebsiteincluderequest"></a>
<a id="schema_WebsiteIncludeRequest"></a>
<a id="tocSwebsiteincluderequest"></a>
<a id="tocswebsiteincluderequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|include|[[WebsiteObjectRequest](#schemawebsiteobjectrequest)]|true|none|Dominios a incluir|

<h2 id="tocS_WebsiteMetric">WebsiteMetric</h2>
<!-- backwards compatibility -->
<a id="schemawebsitemetric"></a>
<a id="schema_WebsiteMetric"></a>
<a id="tocSwebsitemetric"></a>
<a id="tocswebsitemetric"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|string|true|none|Identificador del sitio web|
|domain|string|true|none|Dominio del sitio web|
|metrics|[MetricsResponse](#schemametricsresponse)|true|none|Métricas del sitio web|

<h2 id="tocS_WebsiteObjectRangeRequest">WebsiteObjectRangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemawebsiteobjectrangerequest"></a>
<a id="schema_WebsiteObjectRangeRequest"></a>
<a id="tocSwebsiteobjectrangerequest"></a>
<a id="tocswebsiteobjectrangerequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del sitio web|
|domain|string|false|none|Dominio del sitio web|
|share|[ShareRangeRequest](#schemasharerangerequest)|false|none|Rango de share a filtrar|

<h2 id="tocS_WebsiteObjectRequest">WebsiteObjectRequest</h2>
<!-- backwards compatibility -->
<a id="schemawebsiteobjectrequest"></a>
<a id="schema_WebsiteObjectRequest"></a>
<a id="tocSwebsiteobjectrequest"></a>
<a id="tocswebsiteobjectrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|id|integer|true|none|Identificador del sitio web|
|domain|string|false|none|Dominio del sitio web|

<h2 id="tocS_WebsiteReportRequest">WebsiteReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemawebsitereportrequest"></a>
<a id="schema_WebsiteReportRequest"></a>
<a id="tocSwebsitereportrequest"></a>
<a id="tocswebsitereportrequest"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|ad_format|boolean|false|none|Incluir solo campañas de alto impacto|
|ad_types|[IncludeObjects](#schemaincludeobjects)|false|none|Filtrar por AdTypes|
|api_version|string|false|none|none|
|countries|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por países|
|date_range|[GroupedDateRange](#schemagroupeddaterange)|true|none|Rango de fechas|
|devices|[IncludeObjects](#schemaincludeobjects)|true|none|Filtrar por dispositivos|
|new_campaigns|boolean|false|none|Incluir solo campañas recientes|
|order_by|string|false|none|Ordenar por métrica (valoración o impresiones)|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|Filtrar por servidores de anuncios|
|websites|[WebsiteIncludeRequest](#schemawebsiteincluderequest)|true|none|Incluir/excluir sitios web|

<h2 id="tocS_WebsiteReportResponse">WebsiteReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemawebsitereportresponse"></a>
<a id="schema_WebsiteReportResponse"></a>
<a id="tocSwebsitereportresponse"></a>
<a id="tocswebsitereportresponse"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|data|[BaseReportData](#schemabasereportdata)|true|none|Información del Reporte de Sitios Web|
|meta|[DateTimeRange](#schemadatetimerange)|true|none|Metadata del Reporte|

<h2 id="tocS_WeeklyUpdatesDeliveryDayEnum">WeeklyUpdatesDeliveryDayEnum</h2>
<!-- backwards compatibility -->
<a id="schemaweeklyupdatesdeliverydayenum"></a>
<a id="schema_WeeklyUpdatesDeliveryDayEnum"></a>
<a id="tocSweeklyupdatesdeliverydayenum"></a>
<a id="tocsweeklyupdatesdeliverydayenum"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restricciones|Descripción|
|---|---|---|---|---|
|*anonymous*|integer|false|none|Frecuencia de actualizaciones semanales|

|Valores válidos|
|---|
|1|
|2|
|4|
|8|
|16|
|32|
|64|
