---
title: Clientela
language_tabs:
  - shell: cURL
  - python: Python
  - javascript: JavaScript
toc_footers: []
includes: []
search: true
highlight_theme: darkula
headingLevel: 2

---

<!-- Generator: Widdershins v4.0.1 -->

## Crear Reporte de Industria

<a id="opIdCrear Reporte de Industria"></a>

`POST /industry-report/`

<h3 id="crear-reporte-de-industria-parameters">Parámetros</h3>

<%= partial "includes/snippets/industry-report.md" %>

|Nombre|En|Tipo|Requerido|Descripción|
|---|---|---|---|---|
|ad_format|body|boolean|true|none|
|ad_type|body|integer|true|Filtrar por AdTypes|
|country|body|integer|true|Filtrar por países|
|date_range|body|any|true|Mostrar solo campañas nuevas|
|devices|body|any|true|Ordenar por métrica (valoración o impresiones)|
|industries|body|any|true|Rango de fechas|
|new_campaigns|body|boolean|true|Filtrar por dispositivos|
|order_by|body|string|true|Listado de industrias a mostrar|
|sold_by|body|any|true|Filtrar por servidores de anuncios|

<h3 id="crear-reporte-de-industria-Respuestas">Respuestas</h3>


|Estado|Descripción|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|

<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

## Crear Reporte de Mercado

<a id="opIdCrear Reporte de Mercado"></a>

`POST /market-report/data/v3/`

<h3 id="crear-reporte-de-mercado-parameters">Parámetros</h3>

<%= partial "includes/snippets/market-report-v3.md" %>

|Nombre|En|Tipo|Requerido|Descripción|
|---|---|---|---|---|
|ad_type|querystring|integer|true|Filtrar por AdType|
|country|querystring|integer|true|Filtrar por país|
|day|querystring|string(date)|true|Formato: `YYYY-MM-DD`|
|device|querystring|integer|true|Filtrar por dispositivo|


<h3 id="crear-reporte-de-mercado-Respuestas">Respuestas</h3>


|Estado|Descripción|
|---|---|---|---|
|200|[MarketReportResponse](#schemamarketreportResponse)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|


<aside class="warning">
  Para realizar esta operación es obligatorio utilizar tu <strong><a href="#configura-tu-token">token de acceso</a></strong>
</aside>

# Modelos

<h2 id="tocS_DateRange">DateRange</h2>
<!-- backwards compatibility -->
<a id="schemadaterange"></a>
<a id="schema_DateRange"></a>
<a id="tocSdaterange"></a>
<a id="tocsdaterange"></a>


**Propiedades**

|Nombre|Tipo|Requerido|Restrictions|Descripción|
|---|---|---|---|---|
|start|string(date-time)|true|none|none|
|end|string(date-time)|true|none|none|
|group_by|string|false|none|none|

<h2 id="tocS_IncludeObjects">IncludeObjects</h2>
<!-- backwards compatibility -->
<a id="schemaincludeobjects"></a>
<a id="schema_IncludeObjects"></a>
<a id="tocSincludeobjects"></a>
<a id="tocsincludeobjects"></a>


**Propiedades**

|Nombre|Tipo|Requerido|Restrictions|Descripción|
|---|---|---|---|---|
|include|[[ObjectWithID](#schemaobjectwithid)]|true|none|Lista de objetos a filtrar|

<h2 id="tocS_MarketReportResponse">MarketReportResponse</h2>
<!-- backwards compatibility -->
<a id="schemamarketreportResponse"></a>
<a id="schema_MarketReportResponse"></a>
<a id="tocSmarketreportRespuesta"></a>
<a id="tocsmarketreportRespuesta"></a>

**Propiedades**

|Nombre|Tipo|Requerido|Restrictions|Descripción|
|---|---|---|---|---|
|ad_link|string|true|none|Anuncio|
|ad_sizes|string|true|none|Tamaños de publicidad|
|ad_type|string|true|none|Tipo de publicidad (nombre)|
|ad_type_id|integer|true|none|Tipo de publicidad|
|advertiser|string|false|none|Advertiser|
|brand|string|true|none|Nombre de un avisador o marca|
|brand_id|integer|true|none|Identificador de un avisador o marca|
|campaign_tags|string|false|none|Etiquetas que se generan a partir del contenido de las campañas|
|campaign_id|integer|true|none|Identificador de campaña|
|campaign_landing_page|string|false|none|Link de campaña|
|campaign_name|string|false|none|Nombre de campaña|
|country|string|true|none|País (nombre)|
|country_id|integer|true|none|País (ID)|
|date|string|true|none|Fecha|
|device|string|true|none|Tipo de dispositivo|
|duration|string|false|none|Largos de publicidades|
|hosted_by|string|false|none|Adservers|
|industry|string|true|none|Industria (nombre)|
|industry_id|integer|true|none|Industria (ID)|
|metrics_count|integer|true|none|Cantidad de anuncios|
|metrics_impact|integer|true|none|Impacto de campaña, equivalente a valor|
|metrics_valuation|integer|true|none|Valorización en pesos chilenos|
|position|string|false|none|Identifica el porcentaje de los ads de la campaña que aparecieron en el primer, segundo o tercer scroll|
|publisher|string|false|none|Publisher de sitio web|
|screenshot_link|string|true|none|Pantallazo de captura|
|skip|integer|false|none|La publicidad bloquea la pantalla|
|sold_bys|string|false|none|Quién la vendió|
|web_report|string|true|none|Link a la campaña en Admetricks|
|website|string|true|none|Nombre de medio o soporte|
|website_id|integer|true|none|Identificador de medio o soporte|
|website_sections|integer|false|none|Secciones de website|

<h2 id="tocS_ObjectWithID">ObjectWithID</h2>
<!-- backwards compatibility -->
<a id="schemaobjectwithid"></a>
<a id="schema_ObjectWithID"></a>
<a id="tocSobjectwithid"></a>
<a id="tocsobjectwithid"></a>


**Propiedades**

|Nombre|Tipo|Requerido|Restrictions|Descripción|
|---|---|---|---|---|
|id|integer|true|none|ID Del objeto|
|name|string|false|none|Nombre|

