# Settlement - Debt

The Settlement API allows the investment manager to record trades that have been executed.

## Recording available products

The investment manager must record what investments are going to be available to investors and whether
they will be made available in the ISA.

## Making an investment

The investment manager will periodically record an investment in the Goji platform via the API. This will trigger a
record of the investment against the investors' accounts and also move the funds from the client money account to the investment manager.

![](/images/settlement/images/client-money-investment.png "performing an investment flow")

## Investor repayments using wallets

The investment manager will calculate repayments and any withholding tax that are due to the investors in the bond. The investment manager will
record the due repayment via the API. This will start distribution of funds from the specified wallet to each investor account. The system will publish webhooks on every individual repayment clearing as well as the acceptance and the clearing of the batch.

![](/images/settlement/images/repayments_flow_high_level.png "high level wallet based repayment flow")

## Investor repayments without using wallets

The investment manager will calculate repayments and any withholding tax that are due to the investors in the bond. The investment manager will
record the due repayment via the API. Once the funds are received, they will be distributed to the appropriate investors and any tax or fees specified will
be returned to the investment manager to the specified payment destination

![](/images/settlement/images/client-money-repayment.png "high level non wallet based repayment flow")

## Secondary market

When the investment manager wishes to transfer ownership of a loan (or part thereof), the sale is recorded via the API
to the Goji platform. If appropriate funds are available in the buyer's account in the Goji platform, the appropriate
transactions are recorded and funds are moved to the seller's account.

![](/images/settlement/images/client-money-secondary-market.png "high level secondary market flow")


## `GET /platformApi/settlement/product`

```http

GET /platformApi/settlement/product HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "products" : [ {
    "investmentDocument" : "investmentDocument",
    "isaEligible" : true,
    "id" : "id"
  }, {
    "investmentDocument" : "investmentDocument",
    "isaEligible" : true,
    "id" : "id"
  } ]
}
```
### Description
Returns list of registered products
### Response
| Name                          | Type    | Description                                                                                                    |
| ----------------------------- | ------- | -------------------------------------------------------------------------------------------------------------- |
| products                      | array   |                                                                                                                |
| products[].id                 | string  | The unique ID of the product                                                                                   |
| products[].investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. |
| products[].isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           |

## `POST /platformApi/settlement/product`

```http

POST /platformApi/settlement/product HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true,
  "id" : "id"
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true,
  "id" : "id"
}
```
### Description
Adds a registered product
### Request
| Name               | Type    | Description                                                                                                    | Required |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- | -------- |
| id                 | string  | The unique ID of the product                                                                                   | required |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. | required |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           | required |
### Response
| Name               | Type    | Description                                                                                                    |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- |
| id                 | string  | The unique ID of the product                                                                                   |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           |

## `PUT /platformApi/settlement/product/{productId}`

```http

PUT /platformApi/settlement/product/{productId} HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true,
  "id" : "id"
}
```
### Description
Updates a registered product
### Request
| Name               | Type    | Description                                                                                                    | Required |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- | -------- |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. | required |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           | required |
### Response
| Name               | Type    | Description                                                                                                    |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- |
| id                 | string  | The unique ID of the product                                                                                   |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           |

## `GET /platformApi/settlement/payment-destination`

```http

GET /platformApi/settlement/payment-destination HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "id" : "id"
}
```
### Description
Lists payment destinations.

<aside class="warning">
Deprecated and replaced with <a href="#payments-manager-get-platformapi-bankaccountdetails">general bank account details</a>.
</aside>
### Response
| Name | Type   | Description                              |
| ---- | ------ | ---------------------------------------- |
| id   | string | The unique id of the payment destination |

## `POST /platformApi/settlement/payment-destination`

```http

POST /platformApi/settlement/payment-destination HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "accountName" : "accountName",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "id" : "id"
}
```
### Description
Adds a payment destination.

<aside class="warning">
Deprecated and replaced with <a href="#payments-manager-post-platformapi-bankaccountdetails">general bank account details</a>.
</aside>

<%= partial "partials/valid_test_account_numbers" %>

### Request
| Name          | Type   | Description                                       | Required |
| ------------- | ------ | ------------------------------------------------- | -------- |
| accountName   | string | The bank account name.                            | optional |
| accountNumber | string | The bank account number.                          | required |
| sortCode      | string | The bank account sort code.                       | required |
| reference     | string | The reference to be used when transferring funds. | required |
### Response
| Name | Type   | Description                              |
| ---- | ------ | ---------------------------------------- |
| id   | string | The unique id of the payment destination |

## `PUT /platformApi/settlement/payment-destination/{id}`

```http

PUT /platformApi/settlement/payment-destination/{id} HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "accountName" : "accountName",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "id" : "id"
}
```
### Description
Updates a payment destination.

<aside class="warning">
Deprecated and replaced with <a href="#payments-manager-put-platformapi-bankaccountdetails-id">general bank account details</a>.
</aside>
### Request
| Name          | Type   | Description                                       | Required |
| ------------- | ------ | ------------------------------------------------- | -------- |
| accountName   | string | The bank account name.                            | optional |
| accountNumber | string | The bank account number.                          | required |
| sortCode      | string | The bank account sort code.                       | required |
| reference     | string | The reference to be used when transferring funds. | required |
### Response
| Name | Type   | Description                              |
| ---- | ------ | ---------------------------------------- |
| id   | string | The unique id of the payment destination |

## `POST /platformApi/settlement/tranche`

```http

POST /platformApi/settlement/tranche HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "paymentDestinationId (Deprecated)" : "paymentDestinationId (Deprecated)",
  "productId" : "productId",
  "bankAccountId" : "bankAccountId",
  "id" : "id",
  "investments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "id" : "id"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "id" : "id"
  } ]
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "reference" : "reference",
  "totalAmount" : {
    "amount" : 2.68,
    "currency" : "currency"
  },
  "id" : "id",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```
### Description
Records an investment and triggers a transfer of funds to the Investment Manager.
### Request
| Name                              | Type   | Description                                                                                                                       | Required |
| --------------------------------- | ------ | --------------------------------------------------------------------------------------------------------------------------------- | -------- |
| id                                | string | The unique ID for this tranche of investment                                                                                      | required |
| productId                         | string | The ID of the investment product as preciously registered in the system                                                           | required |
| paymentDestinationId (Deprecated) | string | The ID of the payment destination to be used for this tranche. This has been deprecated, please use the bankAccountId field       | optional |
| bankAccountId                     | string | The ID of the bank account details to be used for this tranche.                                                                   | required |
| reference                         | string | The bank reference for the funds transfer                                                                                         | required |
| investments                       | array  |                                                                                                                                   | required |
| investments[].id                  | string | The unique ID for this clients investment as registered <a href="/#settlement-debt-post-platformapi-settlement-tranche">here</a>  | required |
| investments[].clientId            | string | The ID of the investor                                                                                                            | required |
| investments[].amount              | ref    | The amount being invested                                                                                                         | required |
| investments[].accountType         | string | The account making the investment. Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>                                        | required |
### Response
| Name                 | Type   | Description                                  |
| -------------------- | ------ | -------------------------------------------- |
| id                   | string | The unique ID for this investment            |
| totalAmount          | ref    | The total amount being invested              |
| totalAmount.amount   | number | The amount.                                  |
| totalAmount.currency | string | The ISO 4217 three character codes eg 'GBP'  |
| sortCode             | string | The sort code the funds will be sent to      |
| accountNumber        | string | The account number the funds will be sent to |
| reference            | string | The bank reference for the funds transfer    |


## `POST /platformApi/settlement/secondary-market`

```http

POST /platformApi/settlement/secondary-market HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "buySide" : {
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "fee" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "bankAccountId" : "bankAccountId",
    "reference" : "reference",
    "totalPurchaseAmount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "newInvestmentId" : "newInvestmentId",
    "dateTime": "2019-01-01T12:33:00Z",
    "feePaymentDestination (Deprecated)" : "feePaymentDestination (Deprecated)"
  },
  "sellSide" : {
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "fee" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "bankAccountId" : "bankAccountId",
    "reference" : "reference",
    "repaymentReference" : "repaymentReference"
    "investmentId" : "investmentId",
    "premium" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "capitalAmount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "feePaymentDestination (Deprecated)" : "feePaymentDestination (Deprecated)"
  }
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

""
```
### Description
Records the settlement of a secondary market trade.
### Request
| Name                                        | Type   | Description                                                                                                     | Required |
| ------------------------------------------- | ------ | --------------------------------------------------------------------------------------------------------------- | -------- |
| buySide                                     | ref    | Details of the buy side.                                                                                        | required |
| buySide.clientId                            | string | The client ID of the buyer                                                                                      ||
| buySide.accountType                         | string | The account purchasing the investment Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>`SIPP`<br>         ||
| buySide.fee.amount                          | number | The amount.                                                                                                     ||
| buySide.fee.currency                        | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| buySide.bankAccountId                       | string | The ID of the bank account details to send fees to                                                              ||
| buySide.reference                           | string | The bank reference used in the transfer of fees                                                                       ||
| buySide.feeReference  (optional)            | string | Alias of the `buySide.reference` field. Provided for additional clarity.                                                                   ||
| buySide.totalPurchaseAmount.amount          | number | The amount.                                                                                                     ||
| buySide.totalPurchaseAmount.currency        | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| buySide.newInvestmentId                     | string | The ID for the investment being held by the buy side investor                                                   ||
| buySide.dateTime                            | date/time | The date / time for the trade settlement                                                                     ||
| buySide.feePaymentDestination (Deprecated)  | string | The ID of the payment destination to send fees to. This has been deprecated, please use the bankAccountId field ||
| sellSide                                    | ref    | Details of the sell side.                                                                                       | required |
| sellSide.clientId                           | string | The client ID of the seller                                                                                     ||
| sellSide.accountType                        | string | The account selling the investment Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>`SIPP`<br>            ||
| sellSide.fee.amount                         | number | The amount.                                                                                                     ||
| sellSide.fee.currency                       | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| sellSide.bankAccountId                      | string | The ID of the bank account details to send fees to                                                              ||
| sellSide.reference                          | string | The bank reference used in the transfer of fees.                                                                      ||
| sellSide.feeReference  (optional)           | string | Alias of the `sellSide.reference` field. Provided for additional clarity.                                                                   ||
| sellSide.repaymentReference (optional)      | string | The bank reference used for the transfer of funds to the seller. If specified it will also be present on the `INVESTOR_FUNDS_RECEIVED` webhook ||
| sellSide.investmentId                       | string | The ID of the investment being sold                                                                             ||
| sellSide.premium.amount                     | number | The amount.                                                                                                     ||
| sellSide.premium.currency                   | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| sellSide.capitalAmount.amount               | number | The amount.                                                                                                     ||
| sellSide.capitalAmount.currency             | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| sellSide.feePaymentDestination (Deprecated) | string | The ID of the payment destination to send fees to. This has been deprecated, please use the bankAccountId field ||

## `GET /platformApi/settlement/repayment/reference`

```http

GET /platformApi/settlement/repayment/reference HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "reference" : "reference",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```
### Description
Generates a repayment reference to be used when depositing repayment funds.

<aside class="notice">
This legacy behaviour is only enabled for a few clients. Newly integrating clients should use <a href="#settlement-debt-post-platformapi-settlement-investor-repayment">the new behaviour</a>.
</aside>

### Response
| Name          | Type   | Description                                                  |
| ------------- | ------ | ------------------------------------------------------------ |
| reference     | string | The bank reference to be used when depositing the repayment. |
| accountNumber | string | The account number for the repayment deposit.                |
| sortCode      | string | The sort code for the repayment deposit.                     |

## `POST /platformApi/settlement/repayment`

```http

POST /platformApi/settlement/repayment HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "investorRepayments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  } ]
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

""
```
### Description
Adds a repayment to an investment.

<aside class="warning">
Any users of this endpoint who are not registering a reference first will need to move to <a href="#settlement-debt-post-platformapi-settlement-investor-repayment">the new behaviour</a>.
</aside>

 - The system will record the repayments and wait for a deposit into your receiving account matching the amount and reference you specified
when making the API call.
 - Once the money is deposited the system will automatically distribute the funds to investors and notify them of a repayment.
 - The system will publish a <a href="/#webhooks-batch_update">BATCH_UPDATE</a> webhook with a type of `REPAYMENTS` to update you on the progress of the distribution.

### Request
| Name                              | Type   | Description                                                                    | Required |
| --------------------------------- | ------ | ------------------------------------------------------------------------------ | -------- |
| reference                         | string | The payment reference used for the repayment of funds. Will also be present on `INVESTOR_FUNDS_RECEIVED` webhook | required |
| investorRepayments                | array  | The repayments per investor.                                                   | required |
| investorRepayments[].investmentId | string | The ID of the of the investment                                                | required |
| investorRepayments[].type         | string | The type of the repayment Possible values are: <br>`CAPITAL`<br>`INTEREST`<br> | required |
| investorRepayments[].amount       | ref    | The amount being repaid                                                        | required |
| investorRepayments[].tax          | ref    | The amount of tax being withheld from this repayment                           | optional |

## `POST /platformApi/settlement/investor-repayment`

```http

POST /platformApi/settlement/investor-repayment HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "sourceWalletId": "sourceWalletId",
  "investorRepayments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  } ]
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "repaymentBatchReference": "repaymentBatchReference"
}
```
### Description
Adds repayments to investments from a specified flexible payments wallet.

 - On receiving the API call, the system will reserve money in the wallet and start the distribution process provided the `sourceWalletId` has enough funds.
 - There is no need to manually move money from a wallet to the receiving account.
 - The system will publish an <a href="/#webhooks-investment_repayment_instruction_received">INVESTMENT_REPAYMENT_INSTRUCTION_RECEIVED</a> webhook once the repayment batch has been accepted.
 - The system will then publish "n" webhooks of type <a href="/#webhooks-investment_repayment_clearing">INVESTMENT_REPAYMENT_CLEARING</a>, where "n" is the size of the `investorRepayments` array, as each repayment in the batch is cleared.
 - Finally the system will publish an <a href="/#webhooks-investment_repayment_batch_complete">INVESTMENT_REPAYMENT_BATCH_COMPLETE</a> webhook when the batch in considered complete. This is a batch process and therefore might be sent later than the last repayment to clear.
 - These webhooks should provide coverage of all stages of the batch clearing. When using <a href="/#webhooks-investment_repayment_clearing">INVESTMENT_REPAYMENT_CLEARING</a>, it might be relevant to ignore all <a href="/#webhooks-investor_funds_received">INVESTOR_FUNDS_RECEIVED</a> webhooks with a `sourceType` of `CAPITAL_REPAYMENT` or `INTEREST_REPAYMENT` .
 - All these webhooks will reference `repaymentBatchReference` so you are required to store this value for reconciling repayments as they clear.

<aside class="notice">
This endpoint is the only call required to repay investments for any platform onboarded from 1st November 2021.
</aside>

### Request
| Name                              | Type   | Description                                                                                                                                                             | Required |
| --------------------------------- | ------ | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------- | -------- |
| reference                         | string | The payment reference used for the repayment of funds. This will be present on the wallet statement.                                                                    | required |
| sourceWalletId                    | string | The wallet this distribution should be made from                                                                                                                        | required |
| investorRepayments                | array  | The repayments per investor.                                                                                                                                            | required |
| investorRepayments[].investmentId | string | The ID of the of the investment that was specified in the original <a href="/#settlement-debt-post-platformapi-settlement-tranche">investment creation call</a>         | required |
| investorRepayments[].type         | string | The type of the repayment Possible values are: <br>`CAPITAL`<br>`INTEREST`<br>                                                                                          | required |
| investorRepayments[].amount       | ref    | The amount being repaid                                                                                                                                                 | required |
| investorRepayments[].tax          | ref    | The amount of tax being withheld from this repayment                                                                                                                    | optional |
### Response
| Name                     | Type   | Description                                  |
| ------------------------ | ------ | -------------------------------------------- |
| repaymentBatchReference  | string | The unique ID for this repayment request     |

### Possible HTTP Statuses 

| HTTP Status Code                | Description                                                                                                                                                                                                                                                                                                | Body                                               | Content-Type     |                 
|---------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------- |------------------| 
| 200 Ok                          | Batch accepted to be instructed. Note that this does not indicate completion or success. Subsequent processing is asynchronous, so the caller should listen to the webhooks detailed above to determine progress.                                                                                          | See above                                          | application/json |                 
| 400 Bad Request                 | The request was malformed. See body for more information                                                                                                                                                                                                                                                   | <a href="/#errors-bad-request">Error</a>           | application/json |        
| 50x Unknown errors and timeouts | Unknown errors and timeouts. The caller should not assume that the request has failed. Listen for any subsequent webhooks indicating processing may have started, and ensure any automated retries use the X-CLIENT-REQUEST-ID header and repeat within a maximum of 24 hours to prevent double-processing | <a href="/#errors-internal-server-error">Error</a> | application/json |       

## `GET /investor-repayment`

```http

GET /investor-repayment HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac
```

```http
HTTP/1.1 200 OK
Content-Type: application/json
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac

{
  "REPAYMENT-c931d903-bd8a-4907-9dfa-68aeab4b86a8": {
    "totalRepayments": 50,
    "totalAmount": {
      "amount": 1.000000000000,
      "currency": "GBP"
    },
    "overallStatus": "PENDING",
    "postedAt": "2021-11-11T16:14:57.165Z",
    "clearedAt": null
  },
  "REPAYMENT-421ec28f-3484-4278-bdd9-6fa781574af2": {
    "totalRepayments": 50,
    "totalAmount": {
      "amount": 1.000000000000,
      "currency": "GBP"
    },
    "overallStatus": "PENDING",
    "postedAt": "2021-11-11T16:47:57.073Z",
    "clearedAt": null
  }
}
```
### Description
Returns a map of repayment overviews for the last 20 repayment requests made.


### Response
| Name                       | Type   | Value Type                  | Value Description                                                                                                              |
| -------------------------- | ------ | --------------------------- | ------------------------------------------------------------------------------------------------------------------------------ |
| repaymentBatchReference    | string | RepaymentBatchReferenceId   | A unique identifier for a repayment request                                                                                    |
| .totalRepayments           | Number | Number                      | The total number of repayments in the repayment request with id `repaymentBatchReference`.                                     |
| .totalAmount.amount        | Number | Number                      | The total amount to be paid out associated with the `repaymentBatchReference`.                                                 |
| .totalAmount.currency      | String | ISO 4217                    | The currency that the `totalAmount.amount` is in.                                                                            |
| .overallStatus             | String | Enum                        | The overall status of the repayment request. Possible values are: </br>`PENDING` </br> `CLEARED`.</br>                         |
| .postedAt                  | String | ISO 8601                    | The time at which the repayment request was recorded in the system.                                                            |
| .clearedAt                 | String | ISO 8601                    | The time at which the repayment request was marked as cleared in the system. Null where the `overallStatus` is not `CLEARED`.  |



## `GET /investor-repayment/{repaymentBatchReference}`

```http

GET /investor-repayment/{repaymentBatchReference} HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac
```

```http
HTTP/1.1 200 OK
Content-Type: application/json
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac


{
  "repaymentBatchReference": "REPAYMENT-2b86a1bb-fe9d-4476-9e6b-0e29477e251d",
  "investorRepayments": [
    {
      "repaymentId": "01180666-234b-4bf4-a879-60196e4f781b",
      "amount": {
        "amount": 0.020000000000,
        "currency": "GBP"
      },
      "tax": {
        "amount": 0.010000000000,
        "currency": "GBP"
      },
      "type": "INTEREST",
      "status": "PENDING",
      "investmentId": "5ab5df55-8e5e-4380-a94c-6fcac3a9a6ac"
    },
    {
      "repaymentId": "18529cda-b32a-4053-bd0e-4140c0a9da42",
      "amount": {
        "amount": 0.020000000000,
        "currency": "GBP"
      },
      "tax": {
        "amount": 0.010000000000,
        "currency": "GBP"
      },
      "type": "INTEREST",
      "status": "CLEARED",
      "investmentId": "fcc23a87-7a90-4bfc-85e5-b214bb1db68f"
    }
  ]
}
```
### Description
Returns the repayment request associated with the unique `repaymentBatchReference` supplied.


### Response
| Name                                 | Type   | Value Type                  | Value Description                                                                                  |
| ------------------------------------ | ------ | --------------------------- | -------------------------------------------------------------------------------------------------- |
| repaymentBatchReference              | String | RepaymentBatchReferenceId   | The unique identifier for a repayment request.                                                     |
| investorRepayments                   | Array  | Array                       | The array of investor repayments included in the repayment request.                                |
| investorRepayments[].investmentId    | String | InvestmentId                | The client-specified investment ID that the repayment was for.                                     |
| investorRepayments[].type            | String | Enum                        | The repayment type. Possible values are: </br> `INTEREST` </br> `CAPITAL` </br>                    |
| investorRepayments[].status          | String | Enum                        | The repayment status. Possible values are: </br> `PENDING` </br> `CLEARED` </br>                   |
| investorRepayments[].amount          | Object | Object                      | Describes the amount repaid/ to be repaid.                                                         |
| investorRepayments[].amount.amount   | Number | Number                      | The amount to be repaid in `amount.currency`.                                                      |
| investorRepayments[].amount.currency | String | ISO 4217                    | The currency that `amount.amount` is expressed in.                                                 |
| investorRepayments[].tax             | Object | Object                      |  The amount of tax withheld from this repayment. May be null.                                      |
| investorRepayments[].tax.amount      | Number | Number                      | The amount to be taxed in `tax.currency`.                                                          |
| investorRepayments[].tax.currency    | String | ISO 4217                    | The currency that `tax.amount` is expressed in.                                                    |


## `GET /investment/{clientInvestmentId}`

```http

GET /investment/{clientInvestmentId} HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac
```

```http
HTTP/1.1 200 OK
Content-Type: application/json
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac


{
  "investmentId": "5ab5df55-8e5e-4380-a94c-6fcac3a9a6ac",
  "amount": {
    "amount": 0.020000000000,
    "currency": "GBP"
  },
  "postedAt": "2021-11-26T15:07:02Z",
  "investorRepayments": [
    {
      "repaymentId": "01180666-234b-4bf4-a879-60196e4f781b",
      "amount": {
        "amount": 0.020000000000,
        "currency": "GBP"
      },
      "tax": {
        "amount": 0.010000000000,
        "currency": "GBP"
      },
      "type": "INTEREST",
      "status": "PENDING",
      "investmentId": "5ab5df55-8e5e-4380-a94c-6fcac3a9a6ac"
    }
  ]
}
```
### Description
Returns all repayments associated with the specified investment.


### Response
| Name                                 | Type   | Value Type                  | Value Description                                                                                  |
| ------------------------------------ | ------ | --------------------------- | -------------------------------------------------------------------------------------------------- |
| investmentId                         | String | InvestmentId                | The unique, client-specified investment ID                                                         |
| amount.amount                        | Number | Number                      | The total amount invested                                                                          |
| amount.currency                      | String | ISO 4217                    | The currency that the `amount.amount` is in.                                                     |
| postedAt                             | String | ISO 8601                    | The time at which the investment was originally recorded.                                          |
| investorRepayments                   | Array  | Array                       | The array of investor repayments associated with the investment                                    |
| investorRepayments[].investmentId    | String | InvestmentId                | The client-specified investment ID that the repayment was for.                                     |
| investorRepayments[].type            | String | Enum                        | The repayment type. Possible values are: </br> `INTEREST` </br> `CAPITAL` </br>                    |
| investorRepayments[].status          | String | Enum                        | The repayment status. Possible values are: </br> `PENDING` </br> `CLEARED` </br>                   |
| investorRepayments[].amount          | Object | Object                      | Describes the amount repaid/ to be repaid.                                                         |
| investorRepayments[].amount.amount   | Number | Number                      | The amount to be repaid in `amount.currency`.                                                      |
| investorRepayments[].amount.currency | String | ISO 4217                    | The currency that `amount.amount` is expressed in.                                                 |
| investorRepayments[].tax             | Object | Object                      |  The amount of tax withheld from this repayment. May be null.                                      |
| investorRepayments[].tax.amount      | Number | Number                      | The amount to be taxed in `tax.currency`.                                                          |
| investorRepayments[].tax.currency    | String | ISO 4217                    | The currency that `tax.amount` is expressed in.                                                    |


## `GET /platformApi/settlement/investors/{clientId}/accounts/{accountType}/investments`

```http

GET /platformApi/settlement/investors/{clientId}/accounts/{accountType}/investments HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac
```

```http
HTTP/1.1 200 OK
Content-Type: application/json
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac

{
  "investments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "productId" : "productId",
    "investmentId" : "investmentId",
    "accountType" : "GOJI_INVESTMENT",
    "trancheId" : "trancheId"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "productId" : "productId",
    "investmentId" : "investmentId",
    "accountType" : "GOJI_INVESTMENT",
    "trancheId" : "trancheId"
  } ]
}
```
### Description
Lists recorded investments for an investor.
### Response
| Name                       | Type   | Description                                                                                                     |
| -------------------------- | ------ | --------------------------------------------------------------------------------------------------------------- |
| investments                | array  |                                                                                                                 |
| investments[].investmentId | string | The ID of the investment. This is the ID of the overall investment and so will be shared by multiple investors. |
| investments[].clientId     | string | The ID of the investor                                                                                          |
| investments[].productId    | string | The ID of the investment product as preciously registered in the system                                         |
| investments[].trancheId    | string | The ID of the investment tranche of a particular product                                                        |
| investments[].amount       | ref    | The amount being invested                                                                                       |
| investments[].accountType  | string | The account making the investment. Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>                      |
