# Settlement - Debt

The Settlement API allows the investment manager to record trades that have been executed.

## Recording available products

The investment manager must record what investments are going to be available to investors and whether
they will be made available in the ISA.

## Making an investment

The investment manager will periodically record an investment in the Goji platform via the API. This will trigger a
record of the investment against the investors' accounts and also move the funds from the client money account to the investment manager.

![](/images/settlement/images/client-money-investment.png "")

## Bond repayments

The investment manager will calculate repayments and any withholding tax that are due to the investors in the bond. The investment manager will
record the due repayment via the API. Once the funds are received, they will be distributed to the appropriate investors and any tax or fees specified will
be returned to the investment manager to the specified payment destination

![](/images/settlement/images/client-money-repayment.png "")

## Bond maturity

When the bond matures, the investment manager will calculate repayments that are due to the investors in the bond. The investment manager will
record the due repayment via the API. Once the funds are received, they will be distributed to the appropriate investors and any tax or fees specified will
be returned to the investment manager to the specified payment destination.

![](/images/settlement/images/client-money-maturity.png "")

## Secondary market

When the investment manager wishes to transfer ownership of a loan (or part thereof), the sale is recorded via the API
to the Goji platform. If appropriate funds are available in the buyer's account in the Goji platform, the appropriate
transactions are recorded and funds are moved to the seller's account.

![](/images/settlement/images/client-money-secondary-market.png "")


## `GET /platformApi/settlement/product`

```http

GET /platformApi/settlement/product HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "products" : [ {
    "investmentDocument" : "investmentDocument",
    "isaEligible" : true,
    "id" : "id"
  }, {
    "investmentDocument" : "investmentDocument",
    "isaEligible" : true,
    "id" : "id"
  } ]
}
```
### Description
Returns list of registered products
### Response
| Name                          | Type    | Description                                                                                                    |
| ----------------------------- | ------- | -------------------------------------------------------------------------------------------------------------- |
| products                      | array   |                                                                                                                |
| products[].id                 | string  | The unique ID of the product                                                                                   |
| products[].investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. |
| products[].isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           |

## `POST /platformApi/settlement/product`

```http

POST /platformApi/settlement/product HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true,
  "id" : "id"
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true,
  "id" : "id"
}
```
### Description
Adds a registered product
### Request
| Name               | Type    | Description                                                                                                    | Required |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- | -------- |
| id                 | string  | The unique ID of the product                                                                                   | required |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. | required |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           | required |
### Response
| Name               | Type    | Description                                                                                                    |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- |
| id                 | string  | The unique ID of the product                                                                                   |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           |

## `PUT /platformApi/settlement/product/{productId}`

```http

PUT /platformApi/settlement/product/{productId} HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "investmentDocument" : "investmentDocument",
  "isaEligible" : true,
  "id" : "id"
}
```
### Description
Updates a registered product
### Request
| Name               | Type    | Description                                                                                                    | Required |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- | -------- |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. | required |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           | required |
### Response
| Name               | Type    | Description                                                                                                    |
| ------------------ | ------- | -------------------------------------------------------------------------------------------------------------- |
| id                 | string  | The unique ID of the product                                                                                   |
| investmentDocument | string  | A URL to a KID, investment memorandum or similar. This is used to track investments and their ISA suitability. |
| isaEligible        | boolean | True if the investment can be included in an IF ISA.                                                           |

## `GET /platformApi/settlement/payment-destination`

```http

GET /platformApi/settlement/payment-destination HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "id" : "id"
}
```
### Description
Lists payment destinations. 

<aside class="warning">
Deprecated and replaced with <a href="#payments-manager-get-platformapi-bankaccountdetails">general bank account details</a>.
</aside>
### Response
| Name | Type   | Description                              |
| ---- | ------ | ---------------------------------------- |
| id   | string | The unique id of the payment destination |

## `POST /platformApi/settlement/payment-destination`

```http

POST /platformApi/settlement/payment-destination HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "accountName" : "accountName",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "id" : "id"
}
```
### Description
Adds a payment destination.
 
<aside class="warning">
Deprecated and replaced with <a href="#payments-manager-post-platformapi-bankaccountdetails">general bank account details</a>.
</aside>

<%= partial "partials/valid_test_account_numbers" %>

### Request
| Name          | Type   | Description                                       | Required |
| ------------- | ------ | ------------------------------------------------- | -------- |
| accountName   | string | The bank account name.                            | optional |
| accountNumber | string | The bank account number.                          | required |
| sortCode      | string | The bank account sort code.                       | required |
| reference     | string | The reference to be used when transferring funds. | required |
### Response
| Name | Type   | Description                              |
| ---- | ------ | ---------------------------------------- |
| id   | string | The unique id of the payment destination |

## `PUT /platformApi/settlement/payment-destination/{id}`

```http

PUT /platformApi/settlement/payment-destination/{id} HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "accountName" : "accountName",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "id" : "id"
}
```
### Description
Updates a payment destination.
 
<aside class="warning">
Deprecated and replaced with <a href="#payments-manager-put-platformapi-bankaccountdetails-id">general bank account details</a>.
</aside>
### Request
| Name          | Type   | Description                                       | Required |
| ------------- | ------ | ------------------------------------------------- | -------- |
| accountName   | string | The bank account name.                            | optional |
| accountNumber | string | The bank account number.                          | required |
| sortCode      | string | The bank account sort code.                       | required |
| reference     | string | The reference to be used when transferring funds. | required |
### Response
| Name | Type   | Description                              |
| ---- | ------ | ---------------------------------------- |
| id   | string | The unique id of the payment destination |

## `POST /platformApi/settlement/tranche`

```http

POST /platformApi/settlement/tranche HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "paymentDestinationId (Deprecated)" : "paymentDestinationId (Deprecated)",
  "productId" : "productId",
  "bankAccountId" : "bankAccountId",
  "id" : "id",
  "investments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "id" : "id"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "id" : "id"
  } ]
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "reference" : "reference",
  "totalAmount" : {
    "amount" : 2.68,
    "currency" : "currency"
  },
  "id" : "id",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```
### Description
Records an investment and triggers a transfer of funds to the Investment Manager.
### Request
| Name                              | Type   | Description                                                                                                                 | Required |
| --------------------------------- | ------ | --------------------------------------------------------------------------------------------------------------------------- | -------- |
| id                                | string | The unique ID for this tranche of investment                                                                                | required |
| productId                         | string | The ID of the investment product as preciously registered in the system                                                     | required |
| paymentDestinationId (Deprecated) | string | The ID of the payment destination to be used for this tranche. This has been deprecated, please use the bankAccountId field | optional |
| bankAccountId                     | string | The ID of the bank account details to be used for this tranche.                                                             | required |
| reference                         | string | The bank reference for the funds transfer                                                                                   | required |
| investments                       | array  |                                                                                                                             | required |
| investments[].id                  | string | The unique ID for this clients investment                                                                                   | required |
| investments[].clientId            | string | The ID of the investor                                                                                                      | required |
| investments[].amount              | ref    | The amount being invested                                                                                                   | required |
| investments[].accountType         | string | The account making the investment. Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>                                  | required |
### Response
| Name                 | Type   | Description                                  |
| -------------------- | ------ | -------------------------------------------- |
| id                   | string | The unique ID for this investment            |
| totalAmount          | ref    | The total amount being invested              |
| totalAmount.amount   | number | The amount.                                  |
| totalAmount.currency | string | The ISO 4217 three character codes eg 'GBP'  |
| sortCode             | string | The sort code the funds will be sent to      |
| accountNumber        | string | The account number the funds will be sent to |
| reference            | string | The bank reference for the funds transfer    |


## `POST /platformApi/settlement/secondary-market`

```http

POST /platformApi/settlement/secondary-market HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "buySide" : {
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "fee" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "bankAccountId" : "bankAccountId",
    "reference" : "reference",
    "totalPurchaseAmount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "newInvestmentId" : "newInvestmentId",
    "dateTime": "2019-01-01T12:33:00Z", 
    "feePaymentDestination (Deprecated)" : "feePaymentDestination (Deprecated)"
  },
  "sellSide" : {
    "clientId" : "clientId",
    "accountType" : "GOJI_INVESTMENT",
    "fee" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "bankAccountId" : "bankAccountId",
    "reference" : "reference",
    "repaymentReference" : "repaymentReference"
    "investmentId" : "investmentId",
    "premium" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "capitalAmount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "feePaymentDestination (Deprecated)" : "feePaymentDestination (Deprecated)"
  }
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

""
```
### Description
Records the settlement of a secondary market trade.
### Request
| Name                                        | Type   | Description                                                                                                     | Required |
| ------------------------------------------- | ------ | --------------------------------------------------------------------------------------------------------------- | -------- |
| buySide                                     | ref    | Details of the buy side.                                                                                        | required |
| buySide.clientId                            | string | The client ID of the buyer                                                                                      ||
| buySide.accountType                         | string | The account purchasing the investment Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>`SIPP`<br>         ||
| buySide.fee.amount                          | number | The amount.                                                                                                     ||
| buySide.fee.currency                        | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| buySide.bankAccountId                       | string | The ID of the bank account details to send fees to                                                              ||
| buySide.reference                           | string | The bank reference used in the transfer of fees                                                                       ||
| buySide.feeReference  (optional)            | string | Alias of the `buySide.reference` field. Provided for additional clarity.                                                                   ||
| buySide.totalPurchaseAmount.amount          | number | The amount.                                                                                                     ||
| buySide.totalPurchaseAmount.currency        | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| buySide.newInvestmentId                     | string | The ID for the investment being held by the buy side investor                                                   ||
| buySide.dateTime                            | date/time | The date / time for the trade settlement                                                                     ||
| buySide.feePaymentDestination (Deprecated)  | string | The ID of the payment destination to send fees to. This has been deprecated, please use the bankAccountId field ||
| sellSide                                    | ref    | Details of the sell side.                                                                                       | required |
| sellSide.clientId                           | string | The client ID of the seller                                                                                     ||
| sellSide.accountType                        | string | The account selling the investment Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>`SIPP`<br>            ||
| sellSide.fee.amount                         | number | The amount.                                                                                                     ||
| sellSide.fee.currency                       | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| sellSide.bankAccountId                      | string | The ID of the bank account details to send fees to                                                              ||
| sellSide.reference                          | string | The bank reference used in the transfer of fees.                                                                      ||
| sellSide.feeReference  (optional)           | string | Alias of the `sellSide.reference` field. Provided for additional clarity.                                                                   ||
| sellSide.repaymentReference (optional)      | string | The bank reference used for the transfer of funds to the seller. If specified it will also be present on the `INVESTOR_FUNDS_RECEIVED` webhook ||
| sellSide.investmentId                       | string | The ID of the investment being sold                                                                             ||
| sellSide.premium.amount                     | number | The amount.                                                                                                     ||
| sellSide.premium.currency                   | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| sellSide.capitalAmount.amount               | number | The amount.                                                                                                     ||
| sellSide.capitalAmount.currency             | string | The ISO 4217 three character codes eg 'GBP'                                                                     ||
| sellSide.feePaymentDestination (Deprecated) | string | The ID of the payment destination to send fees to. This has been deprecated, please use the bankAccountId field ||

## `GET /platformApi/settlement/repayment/reference`

```http

GET /platformApi/settlement/repayment/reference HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

{
  "reference" : "reference",
  "accountNumber" : "accountNumber",
  "sortCode" : "sortCode"
}
```
### Description
Generates a repayment reference to be used when depositing repayment funds.
### Response
| Name          | Type   | Description                                                  |
| ------------- | ------ | ------------------------------------------------------------ |
| reference     | string | The bank reference to be used when depositing the repayment. |
| accountNumber | string | The account number for the repayment deposit.                |
| sortCode      | string | The sort code for the repayment deposit.                     |

## `POST /platformApi/settlement/repayment`

```http

POST /platformApi/settlement/repayment HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...

{
  "reference" : "reference",
  "investorRepayments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  } ]
}
```

```http
HTTP/1.1 200 OK
Content-Type: application/json

""
```
### Description
Adds a repayment to an investment.

 - The system will record the repayments and wait for a deposit into your receiving account matching the amount and reference you specified
when making the API call.
 - Once the money is deposited the system will automatically distribute the funds to investors and notify them of a repayment.
 - The system will publish a <a href="/#webhooks-batch_update">BATCH_UPDATE</a> webhook with a type of `REPAYMENTS` to update you on the progress of the distribution.

<aside class="notice">
This behaviour is the default for newly integrating clients, if you wish to enable this feature please contact customer support. Prior to this
the system will validate the funds are already present matching the reference and amount and will return an error otherwise.
</aside>

### Request
| Name                              | Type   | Description                                                                    | Required |
| --------------------------------- | ------ | ------------------------------------------------------------------------------ | -------- |
| reference                         | string | The payment reference used for the repayment of funds. Will also be present on `INVESTOR_FUNDS_RECEIVED` webhook | required |
| investorRepayments                | array  | The repayments per investor.                                                   | required |
| investorRepayments[].investmentId | string | The ID of the of the investment                                                | required |
| investorRepayments[].type         | string | The type of the repayment Possible values are: <br>`CAPITAL`<br>`INTEREST`<br> | required |
| investorRepayments[].amount       | ref    | The amount being repaid                                                        | required |
| investorRepayments[].tax          | ref    | The amount of tax being withheld from this repayment                           | optional |

## `GET /platformApi/settlement/investors/{clientId}/accounts/{accountType}/investments`

```http

GET /platformApi/settlement/investors/{clientId}/accounts/{accountType}/investments HTTP/1.1
Host: api-sandbox.goji.investments
Content-Type: application/json
Authorization: Basic ...
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac
```

```http
HTTP/1.1 200 OK
Content-Type: application/json
X-GOJI-CLIENT-ID: 79f33f3c-86e0-4613-ba49-9fac3c6f0eac

{
  "investments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "productId" : "productId",
    "investmentId" : "investmentId",
    "accountType" : "GOJI_INVESTMENT",
    "trancheId" : "trancheId"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "clientId" : "clientId",
    "productId" : "productId",
    "investmentId" : "investmentId",
    "accountType" : "GOJI_INVESTMENT",
    "trancheId" : "trancheId"
  } ]
}
```
### Description
Lists recorded investments for an investor.
### Response
| Name                       | Type   | Description                                                                                                     |
| -------------------------- | ------ | --------------------------------------------------------------------------------------------------------------- |
| investments                | array  |                                                                                                                 |
| investments[].investmentId | string | The ID of the investment. This is the ID of the overall investment and so will be shared by multiple investors. |
| investments[].clientId     | string | The ID of the investor                                                                                          |
| investments[].productId    | string | The ID of the investment product as preciously registered in the system                                         |
| investments[].trancheId    | string | The ID of the investment tranche of a particular product                                                        |
| investments[].amount       | ref    | The amount being invested                                                                                       |
| investments[].accountType  | string | The account making the investment. Possible values are: <br>`GOJI_INVESTMENT`<br>`ISA`<br>                      |
