## <em>Quickstart Settlement - Debt</em>

This guide gives a brief overview on how to:

* Onboard an Investor
* Deposit funds
* Settle an investment
* Repay using the Settlement API

Please ensure you also read the complete documentation for each API.

* [Investors API](/#investors)
* [Payments API](/#payments-investors)
* [Settlement API](/#settlement-debt)

## Authentication
API calls in production need to be cryptographically signed. You can find more information [here](/#introduction-authentication).

In Sandbox, `Basic Auth` can be used to help you prototype integrations.

## Registering a Webhook

> Create Webhook

```json
{
    "url": "https://webhook.site/44e66f2d-eaac-4225-86aa-7549f628c5d0"
}
```

Webhooks are fired to inform you whenever specific events are fired in the Goji Platform.

You can register a URL to receive webhooks by calling [POST https://api-sandbox.goji.investments/platformApi/webhooks](/#webhooks-post-webhooks) with example body:

## Creating an Investor

> Create Investor

```json
{
  "title": "MS",
  "firstName": "Jane",
  "lastName": "Doe",
  "accountTypes": [
    "GOJI_INVESTMENT",
    "ISA"
  ],
  "address": {
    "country": "GBR",
    "lineOne": "1 The High Street",
    "lineTwo": "",
    "lineThree": "",
    "postcode": "AA1 1AA",
    "region": "County",
    "townCity": "Town"
  },
  "contactDetails": {
    "emailAddress": "me@email.com",
    "telephoneNumber": "01234567890"
  },
  "dateOfBirth": "1970-01-01",
  "entityType": "INDIVIDUAL",
  "investorDeclarationType": "RESTRICTED",
  "nationalInsuranceNumber": "JT123456D"
}
```

To create an Investor, the Investor must first agree to the Terms and Conditions, and optionally the ISA declaration if the Investor is opening an ISA.

Goji supports hosting the Terms and Conditions, retrieved by calling [GET https://api-sandbox.goji.investments/platformApi/terms](/#investors-get-terms).

The ISA Declaration can be retrieved by calling [GET https://api-sandbox.goji.investments/platformApi/isaDeclaration](/#investors-get-platformapi-isadeclaration)

An Investor is created by calling [POST https://api-sandbox.goji.investments/platformApi/investors](/#investors-post-platformapi-investors) with example body:

The Goji Platform will generate a `clientId` which should be saved as this is used for subsequent calls.

## Checking the KYC details
Once the Investor has been created, a KYC check is done in the background and the status can be checked by calling [GET https://api-sandbox.goji.investments/platformApi/investors/{clientId}/kyc](/#investors-get-platformapi-investors-clientid-kyc)

In the sandbox environment, all Investors are considered verified unless the `lastName` contains `referred` or `forcekyc`.

## Depositing Test Funds

> Bank Transfer Details

```json
{
  "amount": {
    "amount": 10000.00,
    "currency": "GBP"
  },
  "clientId": "<client-id>",
  "paymentReference": "ISA<client-id>",
  "paymentType": "DEPOSIT"
}
```

Once an Investor is KYC approved, funds can be deposited.

### An Investor's Bank Details
The Investor's unique bank details for depositing funds can be retrieved by calling: [GET https://api-sandbox.goji.investments/platformApi/investors/{clientId}/bankTransferDetails](/#payments-investors-get-platformapi-investors-clientid-banktransferdetails)

### An ISA Investor's Bank Details
For an ISA account, use: [GET https://api-sandbox.goji.investments/platformApi/investors/{clientId}/bankTransferDetails/isa](/#payments-investors-get-platformapi-investors-clientid-banktransferdetails-isa)

### Testing
You can simulate depositing funds by calling [POST https://api-sandbox.goji.investments/platformApi/test/account/topup](/#payments-investors-post-test-account-topup).

The payment reference must start with `ISA` if the funds are to be deposited to the ISA account.

Once funds are deposited, a webhook will be fired with type `INVESTOR_FUNDS_RECEIVED`.

### An Investor's Balance
An Investor's balance can be queried by calling:

[GET https://api-sandbox.goji.investments/platformApi/investors/{clientId}/accounts/balances](/#payments-investors-get-platformapi-investors-clientid-accounts-balances)

## Settling an Investment
Once an Investor has a cash balance, the funds can be invested by calling the settlement API. This will move the funds from one or more investors to a predetermined account. This account may be with the Investment Manager, a Solicitor or the borrower directly.

## Register the Investment Product

> Investment Product

```json
{
  "id": "PRODUCT-1",
  "investmentDocument": "https://document.url",
  "isaEligible": "true"
}
```

First register the investment product:

[POST https://api-sandbox.goji.investments/platformApi/settlement/product](/#settlement-debt-post-platformapi-settlement-product)

*This can be reused multiple times.*

## Register a Payment Destination

> Payment Destination

```json
{
  "accountName": "Account name",
  "accountNumber": "00004588",
  "sortCode": "203002"
}
```

Next, register a payment destination. This is where the funds will be sent.

[POST https://api-sandbox.goji.investments/platformApi/bankAccountDetails](/#payments-manager-post-platformapi-bankaccountdetails)

This returns a payment destination ID which must be saved and used for the subsequent call.


<%= partial "partials/enabling_payment_destination_bank_account_details" %>
<%= partial "partials/valid_test_account_numbers" %>

After the payment destination is enabled, settle the investment.

The following example includes a single investment from a single Investor:

> Settle Investment

```json
{
  "id": "investment1",
  "reference": "investment1",
  "productId": "PRODUCT-1",
  "bankAccountId": "bankAccountId",
  "investments": [
    {
      "id": "client-investment-1",
      "clientId": "<client-id>",
      "accountType": "ISA",
      "amount": {
        "amount": 10000.00,
        "currency": "GBP"
      }
    }
  ]
}
```

[POST https://api-sandbox.goji.investments/platformApi/settlement/tranche](/#settlement-debt-post-platformapi-settlement-tranche)

The investor's investment can be queried by calling:

[GET https://api-sandbox.goji.investments/platformApi/settlement/investors/{clientId}/accounts/{accountType}/investments](/#settlement-debt-get-platformapi-settlement-investors-clientid-accounts-accounttype-investments)

## Repaying the Investment

This applies if you are not using our flexible payments (wallets) functionality.

> Repaying Investment

```json
{
  "accountNumber": "123456",
  "reference": "some-ref",
  "sortCode": "112233"
}
```

To record a repayment against an investment, firstly generate a unique reference that will be used when sending the funds to the Goji Platform.

[GET https://api-sandbox.goji.investments/platformApi/settlement/repayment/reference](/#settlement-debt-get-platformapi-settlement-repayment-reference)

This will return the account details to use when sending the funds to repay.

> Record Repayment

```json
{
  "investorRepayments": [
    {
      "amount": {
        "amount": 123.45,
        "currency": "GBP"
      },
      "investmentId": "client-investment-1",
      "tax": {
        "amount": 0.00,
        "currency": "GBP"
      },
      "type": "INTEREST"
    }
  ],
  "reference": "some-ref"
}
```

[POST https://api-sandbox.goji.investments/platformApi/settlement/repayment](/#settlement-debt-post-platformapi-settlement-repayment)

 - The system will record the repayments and wait for a deposit into your receiving account matching the amount and reference you specified
when making the API call.
 - Once the money is deposited the system will automatically distribute the funds to investors and notify them of a repayment.
 - The system will publish a <a href="/#webhooks-batch_update">BATCH_UPDATE</a> webhook with a type of `REPAYMENTS` to update you on the progress of the distribution.

<aside class="notice">
This behaviour is the default for newly integrating clients who are not using our flexible payments integration. If you wish to enable this feature please contact customer support. Prior to this
the system will validate the funds are already present matching the reference and amount and will return an error otherwise.
</aside>

## Repaying the Investment (customers using wallets)

This applies if you are using our flexible payments (wallets) functionality.

> Record Repayment

```json
{
  "reference" : "reference",
  "sourceWalletId": "sourceWalletId",
  "investorRepayments" : [ {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  }, {
    "amount" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "investmentId" : "investmentId",
    "tax" : {
      "amount" : 2.68,
      "currency" : "currency"
    },
    "type" : "CAPITAL"
  } ]
}
```

[POST https://api-sandbox.goji.investments/platformApi/settlement/investor-repayment](/#settlement-debt-post-platformapi-settlement-investor-repayment)

 - The system will move money from the wallet specified referenced by "sourceWalletId" to all the investors specified in the investorRepayments array.
 - It is not guaranteed that there will be as many money movements as there are investors in the investorRepayments array so your system should not rely on it.
 - We publish a set of webhooks to update your system on the status of the repayment batch going from accepted all the way through to completed.
 - These webhooks should allow full visibility of the repayment batch throughout the course of the instruction being carried out.

<aside class="notice">
This behaviour is the default for clients who are using our flexible payments functionality alongside the Settlement module.
</aside>

## Withdrawing Funds

> Register Bank Details

```json
{
  "accountName": "Jane Doe",
  "accountNumber": "00004588",
  "sortCode": "203002"
}
```

> Withdraw Funds

```json
{
  "amount": {
    "amount": "101234.56",
    "currency": "GBP"
  },
  "reference": "my withdrawal ref"
}
```

An Investor can withdraw funds by firstly registering bank account details:

### Register Withdrawal Bank Details

<%= partial "partials/valid_test_account_numbers" %>

[POST https://api-sandbox.goji.investments/platformApi/investors/{clientId}/bankDetails](#payments-investors-post-platformapi-investors-clientid-bankdetails)

### Process Withdrawal

Then the funds can be withdrawn:

[POST https://api-sandbox.goji.investments/platformApi/investors/{clientId}/accounts/{accountType}/withdrawal](/#payments-investors-post-platformapi-investors-clientid-accounts-accounttype-withdrawal)
