
<ul class="toc-footer">

<li><a href='https://bons.ai/sign-up'>Sign Up for our Private Beta!</a></li>
<li><a href='https://github.com/BonsaiAI/slate'>Contribute to the Docs</a></li>
<li><a href='http://forums.bons.ai/'>Bonsai Forums</a></li>
<li><a href='mailto:support@bons.ai?subject=I need help with'>Email Us</a></li>
<li><a href='https://bons.ai'>Bonsai Home</a></li>

</ul>