<aside class="notice">
Please note that by default the payment destination bank account details are disabled and has to be enabled by Goji before they can be used.<br>
In sandbox use <code>PUT /platformApi/test/bankAccountDetails/{id}/enable</code> <a href="#payments-manager-put-platformapi-test-bankaccountdetails-id-enable">endpoint</a> to enable bank details.
</aside>
