@import "../buttons";
@import "../variables";

details {
  max-width: 550px;
  padding: 0.2em 1em;
  summary {
    padding: 1em;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 100ms;
  }

  &[open] {
    summary {
      background: lighten($code-bg, 3%);
      box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
      margin: -0.5em -0.9em 0;
      position: relative;
      z-index: 9999;
      ~ * {
        animation: open 50ms;
      }
    }
  }

  .go-to-top {
    cursor: pointer;
    display: block;
    margin: 0 0 0 auto;
    width: 25%;
    position: sticky;
    bottom: 20px;
    transition: 200ms;
    &:active {
      bottom: -15%;
    }
  }

  p {
    text-align: justify;
  }

  table {
    width: 100%;
  }

  @keyframes open {
    0% {
      opacity: 0;
      margin-top: -20px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }
}
