ul {
  margin: 0;
  padding: 0;
  list-style: none;
  &.list {
    &__disc {
      list-style: disc;
    }
    &__padded {
      padding: 0 1.5em;
    }
    &--request-params {
      p {
        margin: 0
      }
      > li {
        padding: 4px 8px;
      }
      .param {
        &__desc {
          display: block;
        }
        &__name {
          font-family: monospace;
          margin-right: 1em;
        }
        &__type {
          font-size: 0.85rem;
          opacity: 0.4;
        }
        &__required {
          color: lightpink;
          font-size: 1.5em;
        }
        &--enums {
          margin: 5px 1.5em;
        }
        &__child {
          @for $depth from 1 to 10 {
            &#{$depth} {
              min-height: 45px;
              padding-left: #{$depth * 25px};
              // background: lighten($color: $code-bg, $amount: 1%);
            }
          }
          &1  {
            margin-top: 10px;
            & + .param__child2 {
              margin: 0 !important;
            }
            & ~ .param__child1 {
              margin-top: 10px;
            }
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
