@import "../variables";

.tag {
  background: $purple-bg;
  border-radius: 4px;
  color: white !important;
  display: inline;
  font-size: 0.8rem;
  padding: 5px 10px;
  text-align: center;
  transition: 100ms;
  &__green {
    background: green;
  }
  &__orange {
    background: #c37e00;
  }
  &__red {
    background: darkred;
  }
  &--list {
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
    min-height: 50px;
    li {
      height: 15px;
      margin-right: 5px;
      font-size: 0.8em;
    }
  }
  &:hover {
    filter: opacity(0.8);
  }
}
