doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Quadency - Professional tools
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@quadency')
    meta(property='og:image', content='https://quadency.com/images/trade.jpg')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='635')
    meta(property='og:image:height', content='475')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://quadency.com')
    meta(property='og:title', content='Quadency - Professional tools for digital assets')
    meta(property='og:description', content='Multi-exchange management tools.')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png')
    link(rel='manifest', href='/images/favicons/site.webmanifest')
    link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#3023ae')
    link(rel='shortcut icon', href='/images/favicons/favicon.ico')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    //- G Optimize page hiding snippet
    style.
      .async-hide {
        opacity: 0 !important;
      }

    block head
      link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
      link(rel='stylesheet', href='/stylesheets/common.css')

    body
      section.section-content.bg-offwhite
        .container
          .row.mb-4.justify-content-center
            .col-md-12.col-lg-8.text-center
              img(src="/images/economic-hitman.png").w-75
          .row
            .col-md-12.col-lg-12.text-center
              p.section-heading-small.mb-5.px-4 Featuring 15 explosive new chapters, this expanded edition of Perkins’s classic bestseller brings the story of economic hit men (EHMs) up to date and, chillingly, home to the US. Over 40 percent of the book is new, including chapters identifying today’s EHMs and a detailed chronology extensively documenting EHM activity since the first edition was published in 2004.
              p.section-heading-small.mb-5.px-4 Former economic hit man John Perkins shares new details about the ways he and others cheated countries around the globe out of trillions of dollars. Then he reveals how the deadly EHM cancer he helped create has spread far more widely and deeply than ever in the US and everywhere else—to become the dominant system of business, government, and society today. Finally, he gives an insider view of what we each can do to change it.
              p.section-heading-small.mb-5.px-4 Economic hit men are the shock troops of what Perkins calls the corporatocracy, a vast network of corporations, banks, colluding governments, and the rich and powerful people tied to them. If the EHMs can’t maintain the corrupt status quo through nonviolent coercion, the jackal assassins swoop in. The heart of this book is a completely new section, over 100 pages long, that exposes the fact that all the EHM and jackal tools—false economics, false promises, threats, bribes, extortion, debt, deception, coups, assassinations, unbridled military power—are used around the world today exponentially more than during the era Perkins exposed over a decade ago.
              p.section-heading-small.mb-5.px-4 The material in this new section ranges from the Seychelles, Honduras, Ecuador, and Libya to Turkey, Western Europe, Vietnam, China, and, in perhaps the most unexpected and sinister development, the United States, where the new EHMs—bankers, lobbyists, corporate executives, and others—“con governments and the public into submitting to policies that make the rich richer and the poor poorer.”
              p.section-heading-small.mb-5.px-4
                a.btn.intro-btn(href="https://www.amazon.com/New-Confessions-Economic-Hit-Man/dp/1626566747") Click here to order

    block scripts
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")