extends ../layouts/layout
block title
  title Quadency - Privacy Policy
block content
  section.section-content.bg-offwhite
    .text-center.mb-5.mt-5
      h4.title.text-purple Privacy Policy
    .container
      .row
        .col-sm-12
          p
            | This page is to inform website visitors regarding our policies with the collection, use, and disclosure of Information of Quadency users.
          p
            | If you choose to use Quadency, then you agree to the collection and use of information in relation with this policy. Any Information that we collect is used for providing and improving the Quadency platform. We will not use or share your information with anyone except as described in this Privacy Policy.
          br
          h4 Information Collection, Use, and Sharing
          br
          p
            | We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
          p
            | We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. linking an exchange.
          p
            | Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
          br
          h4 Registration
          br
          p
            | In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.
          br
          h4 Log Data
          br
          p
            | We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer's Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
          br
          h4 Cookies
          br
          p
            | Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer's hard drive.
          p
            | Our website uses these “cookies” to collection information and to improve our platform. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.
          br
          h4 Service Providers
          br
          p We may employ third-party companies for the following:
          ul
            li To facilitate communication on our behalf
            li To perform platform-related services
            li To assist us in analyzing how our platform is used
          p
            | We want to inform our users that these third parties may have access to your Non-PII Information. However, they are obligated not to disclose or use the information for any other purpose other than carrying out tasks assigned to them.
          br
          h4 Links
          br
          p
            | This website may contain links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
          br
          h4 Surveys and Contests
          br
          p
            | From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.
          br
          h4 Security
          br
          p
            | We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
          p
            | Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
          p
            | While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information.
          br
          h4 Changes to This Privacy Policy
          br
          p
            | We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
          br
          small Version 1.0 - Effective: April 29, 2018