extends layouts/layout
block title
  title Quadency - 404
block content
  section(style="height: 650px").section-content.bg-offwhite.mt-5.d-flex.align-items-center
    .container
      .row.mb-5
        .col-sm-12.text-center
          h4.title.text-purple Whoops. There's nothing here (404)
      .row
        .col-sm-12.text-center
          a(href="/") Goto Homepage
