extends layouts/layout
block title
  title Quadency - About the team
block append head
  link(rel='stylesheet', href='/stylesheets/about.css')

block content
  section.bg-purple-pattern
    .container.hero
      .row
        .col.col-12.text-center
          h1.intro-heading About Quadency
  section.bg-quad-nomad

  section#team.section-content.pb-0
    .container
      .row
        .col-sm-12.px-3
          .text-center.mb-4
            h4.title.text-purple Our Mission
          p.section-text.text-secondary There are thousands of coins and tokens, traded across hundreds of exchanges - and new ones are popping up all the time. Trading or holding a diverse basket of assets requires opening several exchange accounts - making portfolio management and analysis ripe for inefficiencies.
          p.section-text.text-secondary Our mission is to provides a comprehensive toolset to traders of all levels. The Quadency platform gives users a beautiful and holistic picture of their holdings across exchanges, and it does so automatically - with advanced trading features built right in. And we're only getting started.

  section#team.section-content.pb-0
    .container
      .row.mb-4
        .col-sm-12.px-3
          .text-center.mb-4
            h4.title.text-purple Meet The Team
          p.section-text.text-secondary Quadency is led by an experienced team of industry insiders, engineers, and digital strategists. As traders themselves, the original concept was driven simply by their own frustrations with the fragmented landscape.
          p.section-text.text-secondary With feedback and support from an amazing community, it's quickly flourished into a robust, professional-grade trading platform with an equally ambitious product roadmap for the future.
      .row.text-center
        .col-sm-12.col-md-4.mt-5
          img.rounded-circle.img-fluid.profile-img(src="/images/founders/rs-profile-image.jpg" alt="quadency founder ceo roshan singh ")
          h3.mb-2.mt-4.founder-name-text.text-dark Rosh Singh
          h4.mb-4.founder-position-text Co-Founder / CEO
          p Rosh is a seasoned entrepreneur and technologist passionate about cryptocurrencies. He has a background in Forex markets, trading technologies, personal finance, and compliance.
          p
            a(href="https://www.linkedin.com/in/singhrosh" target="_blank").social-icons
              i.fab.fa-linkedin
            a(href="https://github.com/roshsingh" target="_blank").social-icons
              i.fab.fa-github
            a(href="https://twitter.com/rosh2point0" target="_blank").social-icons
              i.fab.fa-twitter
        .col-sm-12.col-md-4.mt-5
          img.rounded-circle.img-fluid.profile-img(src="/images/founders/tt-profile-image.jpg" alt="quadency founder cto tony tran")
          h3.mb-2.mt-4.founder-name-text.text-dark Tony Tran
          h4.mb-4.founder-position-text Co-Founder / CTO
          p Tony is an experienced engineer and solutions architect with a decade of technology experience working in industries such as defense, finance, film, marketing, and blockchain.
          p
            a(href="https://www.linkedin.com/in/tony-tran-a059983b" target="_blank").social-icons
              i.fab.fa-linkedin
            a(href="https://github.com/toant13" target="_blank").social-icons
              i.fab.fa-github
            a(href="https://angel.co/tony-tran-1" target="_blank").social-icons
              i.fab.fa-angellist
        .col-sm-12.col-md-4.mt-5
          img.rounded-circle.img-fluid.profile-img(src="/images/founders/mk-profile-image.jpg" alt="quadency founder coo manish kataria")
          h3.mb-2.mt-4.founder-name-text.text-dark Manish Kataria
          h4.mb-4.founder-position-text Co-Founder / COO
          P Manish is a digital strategist with focus areas including blockchain, innovation methodology, customer experience design, and omni-channel marketing+commerce.
          p
            a(href="https://www.linkedin.com/in/manish-kataria/" target="_blank").social-icons
              i.fab.fa-linkedin
            a(href="https://angel.co/quadency" target="_blank").social-icons
              i.fab.fa-angellist

  section.section-content.bg-white
    .container
      .row.mb-4
        .col-sm-12.px-3
          .text-center.mb-4
            h4.title.text-purple Join Us
          p.section-text.text-secondary We are looking for talented full-stack engineers, user experience designers and marketers. If you're interested in helping build the best digital asset trading tools, reach us at <a class="careers-email">careers@quadency.com</a>.
  section.bg-quad-office