extends layouts/layout
block title
  title Quadency - Referral Program
block append head
  link(rel="stylesheet" href="stylesheets/referrals.css")
  link(rel="stylesheet" href="/stylesheets/faq.css")

block content
  section.bg-purple-gradient.pb-5
    .container.mt-5
      .row.pt-5
        .col-md-12.text-center
          h1.mt-5.pt-5.pb-3.text-light.heading Refer your friends and earn <span class="price">$<strong>20</strong></span> in BTC
          p.text-light.tagline Get rewarded for referring friends who subscribe to Quadency Pro
      .row.mt-5.pt-5
        .col-sm-12.col-lg-3.mb-5.offset-lg-1.text-center
          img(src="/images/icons/clipboard.svg").img-fluid.mb-5.three-col-img.w-50
          h3.mb-4.text-light.three-col-heading Sign Up Free
          p.text-light.three-col-para You do not need to be a Pro member in order to earn referral rewards.
        .col-sm-12.col-lg-4.mb-5.text-center
          img(src="/images/icons/smartphone.svg").img-fluid.mb-5.three-col-img.smartphone-icon
          h3.mb-4.text-light.three-col-heading Share your Referral Link
          p.px-4.text-light.three-col-para Once you’ve signed up, click below to get your referral link and share it with your friends.
        .col-sm-12.col-lg-3.mb-5.text-center
          img(src="/images/icons/saving.svg").img-fluid.mb-5.three-col-img.saving-icon
          h3.mb-4.text-light.three-col-heading Earn Bitcoin
          p.text-light.three-col-para Get rewarded with Bitcoin when your referrals sign up and subscripe to Quadency PRO.
      .row.mb-5.pt-5
        .col-md-12.text-center
          a(href="/platform/settings/referrals" target="__blank")#referral-button.btn.btn-info.btn-lg.button.button-info.px-4.py-2 Start Earning
  section.section-content.bg-white
    .container
      .row.mb-3.mb-md-5
        .col-md-12.text-center
          h3.title.text-purple Frequently Asked Questions
      .row.mb-5
        .col-md-12
          h3.font-weight-bold.text-dark.mb-3.pricing-faq-text How often do I get a payout for my referrals?
        .col-md-12
          p.pricing-faq-text Payments are made on the 1st of every month for rewards earned during the previous month. Rewards are earned when any of your referrals upgrades to a PRO subscription.
      .row.mb-5
        .col-md-12
          h3.font-weight-bold.text-dark.mb-3.pricing-faq-text Where can I track my referrals?
        .col-md-12
          p.pricing-faq-text Once you've created your free Quadency account, sign in and visit <a href="/platform/settings/referrals" target="_blank">My Referrals</a> to see your rewards and their payout status.
      .row.mb-5
        .col-md-12
          h3.font-weight-bold.text-dark.mb-3.pricing-faq-text Where will my reward be sent?
        .col-md-12
          p.pricing-faq-text Your BTC reward will be sent to the address of your choice, which you can designate in the wallet address field within <a href="/platform/settings/referrals" target="_blank">My Referrals</a>. Be sure to enter only your BTC address.
      .row.mb-5
        .col-md-12
          h3.font-weight-bold.text-dark.mb-3.pricing-faq-text What is the rate used for USD to BTC conversion?
        .col-md-12
          p.pricing-faq-text The rate used for payouts is based on the global average price of Bitcoin at the time of payout. So if you've earned $500 USD in rewards for a given month, you will receive the equivalent value in BTC as calculated on the first day of the following month.
      .row.mb-5
        .col-md-12
          h3.font-weight-bold.text-dark.mb-3.pricing-faq-text Is there a limit to how many users I can refer?
        .col-md-12
          p.pricing-faq-text No. There's no limit on the number of users you can refer. If 10 of your referrals become a subscriber, you earn $200. It's that simple!
      .row.mb-5
        .col-md-12
          h3.font-weight-bold.text-dark.mb-3.pricing-faq-text Can I advertise on behalf of Quadency?
        .col-md-12
          p.pricing-faq-text Yes, you may advertise on any channels you'd like, so long as you don't misrepresent Quadency or make any false claims about our products. If you plan to do paid search advertisement (ie Adwords), you may not bid on keywords related to our brand, including "Quadency". Violation of this rule will result in termination of your referral account and forfeiture of any rewards earned. 