@import './partials/functions';
@import './partials/variables';
@import './partials/breakpoints';

.hero {
  width: 100vw;
  height: 300px;
}

.bg-purple-pattern {
  background-color: #30118a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2341119a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%235211ab' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236311bb' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%237411cc' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%238511dc' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.bg-quad-nomad {
  height: 200px;
  width: 100%;
  background-image: url("/images/quadency-nomad.jpg");
  background-size: cover;
  background-position: center;
}

.bg-quad-office {
  height: 400px;
  width: 100%;
  background-image: url("/images/quadency-office.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.intro-heading {
  margin-top: 150px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5;
  color: #fff;
}

.profile-img {
  max-height: 250px;
}

.founder-name-text {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
}

.founder-position-text {
  color: #8c8c8c;
}

@include media-breakpoint-up(md) {

  .bg-quad-nomad {
    height: 400px;
  }
}
