@import './partials/functions';
@import './partials/variables';
@import './partials/breakpoints';

.heading {
  font-weight: 400;
  line-height: 2.7142857142857144rem;
}

.price {
  color: #B8E986;
  font-size: 3.7142857142857144rem;
}

.tagline {
  font-size: 1.3571428571428572rem;
  line-height: 1.2857142857142858rem;
  word-spacing: 0.07142857142857142rem;
}

.three-col-img {
  min-height: 9.142857142857142rem;
}

.smartphone-icon {
  width: 36%;
}

.saving-icon {
  width: 48%;
}

.three-col-heading {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
}

.three-col-para {
  font-size: 18px;
  line-height: 24px;
}

#referral-button {
  font-size: 1.7142857142857142rem;
  font-weight: bold;
  line-height: 1.9285714285714286rem
}

@include media-breakpoint-down(md) {
  .heading {
    line-height: 3.5714285714285716rem;
  }

  .tagline {
    line-height: 2.142857142857143rem;
  }

  .three-col-img {
    width: 30% !important;
  }
}

@include media-breakpoint-down(sm) {
  .heading {
    font-size: 2rem;
    margin-bottom: 1.7857142857142858rem;
  }
}
