footer.bg-purple-gradient.pt-md-5
  .container.pt-5
    .row.mb-5
      .col-sm-12.col-md-3.mb-4.mb-md-0
        h5.footer-heading.text-uppercase.mb-3.text-teal Quadency
        ul.list-unstyled
          li
            a(href="/platform" ).text-white.opacity-50 Platform
          li
            a(href="/pricing" ).text-white.opacity-50 Pricing
          li
            a(href="/referrals" ).text-white.opacity-50 Referral Program
          li
            a(href="/institutional" ).text-white.opacity-50 Institutional Tools
          li
            a(href="/institutional" ).text-white.opacity-50 Professional APIs
          li
            a(href="/institutional" ).text-white.opacity-50 Market Data

      .col-sm-12.col-md-3.mb-4.mb-md-0
        h5.footer-heading.text-uppercase.mb-3.text-teal The Company
        ul.list-unstyled
          li
            a(href="/about" ).text-white.opacity-50 Team
          li
            a(href="https://blog.quadency.com" target="_blank").text-white.opacity-50 Blog
          li
            a(href="https://support.quadency.com" target="_blank").text-white
              .opacity-50 Support Center
          li
            a(href="https://support.quadency.com/account-and-security/is-quadency-secure" target="_blank").text-white
              .opacity-50 Security
          li
            a.text-white.opacity-50.info-email Contact Us
        ul.list-unstyled
          li
            p.text-white.opacity-50 79 Madison Ave <br> New York, NY
      .col-sm-12.col-md-3
        h5.footer-heading.text-uppercase.mb-3.text-teal Connect / Follow
        ul.list-inline
          li.d-inline-block.mr-2
            a(href="https://twitter.com/quadency" target="_blank")
              img(src="/images/twitter.png")
          li.d-inline-block.mr-2
            a(href="https://t.me/joinchat/Fbj0HRHlGePeT8QeV-4uBg" target="_blank")
              img(src="/images/telegram.png")
          li.d-inline-block.mr-2
            a(href="https://www.linkedin.com/company/quadency" target="_blank")
              img(src="/images/linkedin.png")
          li.d-inline-block.mr-2
            a(href="https://www.youtube.com/channel/UCREIcRdNIjzrUHMqDQs4Vuw" target="_blank")
              img(src="/images/youtube-play.png")
        ul.list-unstyled
          li
            #google_translate_element
    .row.d-md-none
      .col-sm-12.d-flex.justify-content-between
        a.mr-3(href="/privacy-policy").text-white.opacity-50 Privacy Policy
        a(href="/terms-of-use").text-white.opacity-50 Terms of Use
  hr.divider-light.opacity-50.mt-0
  .container.py-2
    .row
      .col-md-4.d-none.d-md-block
        a(href="/privacy-policy").text-white.opacity-50 Privacy Policy
      .col-md-4.text-center
        p.text-white.opacity-50 Copyright &copy; 2019 Quadency
      .col-md-4.d-none.d-md-block.text-right
        a(href="/terms-of-use").text-white.opacity-50 Terms of Use
    .row
      .col-sm-12.text-center
        p.mt-5.mb-5.text-white.opacity-25.footer-disclaimer Disclaimer: Contents of this website are for general product information and are not intended to serve as financial, investment, or any other type of advice. Quadency does not hold custody of client funds and is not liable to you for any (direct or indirect) damage you suffer as a result of the use of the Website or Software or the content provided thereon.
