div(id="teaserVideo" tabindex="-1" role="dialog" aria-labelledby="videoTeaserCenterTitle" aria-hidden="true").modal.fade
  div(role="document").modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-body
        .embed-responsive.embed-responsive-16by9
          iframe(width="560" height="315" src="https://www.youtube.com/embed/3w6bWH7h2qo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen).embed-responsive-item
          
