<section id="primary-nav" class="navigation">
  <div class="nav-container">
    <div class="brand">
     <% link_to '.' do %><img class="bonsai-logo" src="https://dl.dropboxusercontent.com/s/d37ndmizplio8mw/bonsai-logo-color-docs.svg?dl=0"><% end %>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
         <%= link_to 'Getting Started', '/getting_started.html' %>
        </li>
        <li>
         <%= link_to 'Inkling', '/inkling.html' %>
        </li>
        <li>
         <%= link_to 'References', '/reference.html' %>
        </li>
        <li>
          <a href="https://bons.ai">Bonsai Home</a>
        </li>

      </ul>
    </nav>
  </div>
</section>
