	<div id="primary-nav">
		<% link_to '/' do %><img class="bonsai-logo" src="https://dl.dropboxusercontent.com/s/d37ndmizplio8mw/bonsai-logo-color-docs.svg?dl=0"><% end %>
		<div id="nav-links"><%= link_to 'Getting Started', '/getting_started.html' %> <%= link_to 'Inkling', '/inkling_classic.html' %> <%= link_to 'References', '/reference_everything.html' %> 		<a href="https://bons.ai">Bonsai Home</a> 
		</div> 
	</div>