---
title: Clientela v1
language_tabs:
  - java: Java
  - python: Python
  - javascript: Javascript
toc_footers: []
includes: []
search: true
highlight_theme: darkula
headingLevel: 2

---

<!-- Generator: Widdershins v4.0.1 -->

<h1 id="clientela">Clientela v1</h1>

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

Clientela API

Base URLs:

* <a href="/">/</a>

<a href="https://www.admetricks.com/terms/">Terms of service</a>
Email: <a href="mailto:dev@admetricks.com">Support</a> 

# Authentication

* API Key (Access_token)
    - Parameter Name: **Authorization**, in: header. Access Token

<h1 id="clientela-active-campaign">active-campaign</h1>

## active-campaign_create

<a id="opIdactive-campaign_create"></a>

`POST /active-campaign/`

<h3 id="active-campaign_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-ad">ad</h1>

## ad_create

<a id="opIdad_create"></a>

`POST /ad/`

Create Web Ad_files zip.

<h3 id="ad_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-advertiser">advertiser</h1>

## advertiser_list

<a id="opIdadvertiser_list"></a>

`GET /advertiser/`

List Advertiser filtered by countries.

<h3 id="advertiser_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-analytics">analytics</h1>

## analytics_email

<a id="opIdanalytics_email"></a>

`POST /analytics/email/`

Email open tracking analytics.

<h3 id="analytics_email-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-brand-report">brand-report</h1>

## brand-report_xlsx

<a id="opIdbrand-report_xlsx"></a>

`POST /brand-report/xlsx/`

*Create Excel file from Report data*

<h3 id="brand-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="brand-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-brand">brand</h1>

## brand_list

<a id="opIdbrand_list"></a>

`GET /brand/`

List Brands filtered by name_autocomplete query param for autocomplete, and optionally by countries.

<h3 id="brand_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-brands-report">brands-report</h1>

## brands-report_xlsx

<a id="opIdbrands-report_xlsx"></a>

`POST /brands-report/xlsx/`

*Create Excel file from Report data*

<h3 id="brands-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="brands-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-campaigns">campaigns</h1>

## campaigns_xlsx

<a id="opIdcampaigns_xlsx"></a>

`POST /campaigns/xlsx/`

*Create Excel file from Report data*

<h3 id="campaigns_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="campaigns_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-community">community</h1>

## community_list

<a id="opIdcommunity_list"></a>

`GET /community/`

Public endpoint for landing page.

<h3 id="community_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-country">country</h1>

## country_list

<a id="opIdcountry_list"></a>

`GET /country/`

Get User's Access.

<h3 id="country_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-download">download</h1>

## download_list

<a id="opIddownload_list"></a>

`GET /download/`

List Users' Downloads.

<h3 id="download_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-industry-report">industry-report</h1>

## industry-report_xlsx

<a id="opIdindustry-report_xlsx"></a>

`POST /industry-report/xlsx/`

*Create Excel file from Report data*

<h3 id="industry-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="industry-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-industry">industry</h1>

## industry_list

<a id="opIdindustry_list"></a>

`GET /industry/`

List Industries filtered by name_autocomplete query param for autocomplete.

<h3 id="industry_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-market-report">market-report</h1>

## market-report_data_create

<a id="opIdmarket-report_data_create"></a>

`POST /market-report/data/`

*Create Market Data Report (V1)*

Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups

> Body parameter

```json
{
  "required": [
    "day",
    "device",
    "country",
    "ad_type"
  ],
  "type": "object",
  "properties": {
    "day": {
      "title": "Day",
      "description": "Date and Time from which the report will take things into account",
      "type": "string",
      "format": "date-time"
    },
    "device": {
      "title": "Device",
      "description": "Filter by Device ID",
      "type": "integer"
    },
    "country": {
      "title": "Country",
      "description": "Filter by Country ID",
      "type": "integer"
    },
    "ad_type": {
      "title": "Ad type",
      "description": "Filter by Ad type ID",
      "type": "integer"
    }
  }
}
```

<h3 id="market-report_data_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[MarketReportQuery](#schemamarketreportquery)|true|none|

<h3 id="market-report_data_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|Success|None|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|Missing or invalid query params|None|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|No results, no data or response too long|None|
|502|[Bad Gateway](https://tools.ietf.org/html/rfc7231#section-6.6.3)|Unavailable service|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## market-report_data_v2_create

<a id="opIdmarket-report_data_v2_create"></a>

`POST /market-report/data/v2/`

*Create Market Data Report (V2)*

Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups

<h3 id="market-report_data_v2_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|day|query|string(date-time)|true|Date and Time from which the report will take things into account|
|device|query|integer|true|Filter by Device ID|
|country|query|integer|true|Filter by Country ID|
|ad_type|query|integer|true|Filter by Ad type ID|

<h3 id="market-report_data_v2_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|Success|None|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|Missing or invalid query params|None|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|No results, no data or response too long|None|
|502|[Bad Gateway](https://tools.ietf.org/html/rfc7231#section-6.6.3)|Unavailable service|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
Access_token
</aside>

## market-report_data_v3_create

<a id="opIdmarket-report_data_v3_create"></a>

`POST /market-report/data/v3/`

*Create Market Data Report (V3)*

This is the current, most up-to-date version of the Create Market Data report endpoint. Lorem ipsum dolor sit amet.

<h3 id="market-report_data_v3_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|day|query|string(date-time)|true|Date and Time from which the report will take things into account|
|device|query|integer|true|Filter by Device ID|
|country|query|integer|true|Filter by Country ID|
|ad_type|query|integer|true|Filter by Ad type ID|

> Example responses

> 201 Response

```json
{
  "required": [
    "name",
    "query"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "name": {
      "title": "Name",
      "type": "string",
      "maxLength": 100,
      "minLength": 1
    },
    "query": {
      "title": "Query",
      "type": "string",
      "minLength": 1
    },
    "filter": {
      "title": "Filter",
      "type": "string",
      "minLength": 1
    },
    "period": {
      "title": "Period",
      "type": "integer"
    },
    "daily_updates": {
      "title": "Daily updates",
      "type": "boolean"
    },
    "weekly_updates": {
      "title": "Weekly updates",
      "type": "boolean"
    },
    "monthly_updates": {
      "title": "Monthly updates",
      "type": "boolean"
    },
    "monthly_memories": {
      "title": "Monthly memories",
      "type": "boolean"
    },
    "last_delivered_date": {
      "title": "Last delivered date",
      "type": "string",
      "format": "date-time",
      "nullable": true
    },
    "last_delivered_status": {
      "title": "Last delivered status",
      "type": "string",
      "maxLength": 50,
      "nullable": true
    },
    "weekly_updates_delivery_day": {
      "title": "Weekly updates delivery day",
      "type": "integer",
      "enum": [
        1,
        2,
        4,
        8,
        16,
        32,
        64
      ]
    },
    "report_type": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      },
      "readOnly": true
    }
  }
}
```

<h3 id="market-report_data_v3_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|Created report|[Report](#schemareport)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|Missing or invalid query params|None|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|No results, no data or response too long|None|
|502|[Bad Gateway](https://tools.ietf.org/html/rfc7231#section-6.6.3)|Unavailable service|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
Access_token
</aside>

## market-report_xlsx

<a id="opIdmarket-report_xlsx"></a>

`POST /market-report/xlsx/`

*Create Excel file from Report data*

<h3 id="market-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="market-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-newdeals-report">newdeals-report</h1>

## newdeals-report_xlsx

<a id="opIdnewdeals-report_xlsx"></a>

`POST /newdeals-report/xlsx/`

*Create Excel file from Report data*

<h3 id="newdeals-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="newdeals-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-opportunity-brand-report">opportunity-brand-report</h1>

## opportunity-brand-report_xlsx

<a id="opIdopportunity-brand-report_xlsx"></a>

`POST /opportunity-brand-report/xlsx/`

*Create Excel file from Report data*

<h3 id="opportunity-brand-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="opportunity-brand-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-opportunity-campaign-report">opportunity-campaign-report</h1>

## opportunity-campaign-report_create

<a id="opIdopportunity-campaign-report_create"></a>

`POST /opportunity-campaign-report/`

Mock Opportunity Campaign Report.

<h3 id="opportunity-campaign-report_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-payment">payment</h1>

## payment_create_customer

<a id="opIdpayment_create_customer"></a>

`POST /payment/customer/`

Create customer.

<h3 id="payment_create_customer-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## payment_create_session

<a id="opIdpayment_create_session"></a>

`POST /payment/session/`

Create session.

<h3 id="payment_create_session-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-printer">printer</h1>

## printer_create

<a id="opIdprinter_create"></a>

`POST /printer/`

Set Authorization header and call to PRINTER_URL.

<h3 id="printer_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-profile">profile</h1>

## profile_update

<a id="opIdprofile_update"></a>

`PUT /profile/{id}/`

Update user.profile.terms_accepted_at.

<h3 id="profile_update-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|string|true|none|

<h3 id="profile_update-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-publisher">publisher</h1>

## publisher_list

<a id="opIdpublisher_list"></a>

`GET /publisher/`

List Publishers filtered by countries.

<h3 id="publisher_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-report">report</h1>

## report_list

<a id="opIdreport_list"></a>

`GET /report/`

List Users' Reports.

<h3 id="report_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## report_create

<a id="opIdreport_create"></a>

`POST /report/`

Create a Users' Report.

<h3 id="report_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## report_read

<a id="opIdreport_read"></a>

`GET /report/{id}/`

Retrieve a Users' Report.

<h3 id="report_read-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|string|true|none|

<h3 id="report_read-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## report_update

<a id="opIdreport_update"></a>

`PUT /report/{id}/`

Update a Users' Report.

<h3 id="report_update-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|string|true|none|

<h3 id="report_update-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## report_delete

<a id="opIdreport_delete"></a>

`DELETE /report/{id}/`

Destroy a Users' Report.

<h3 id="report_delete-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|string|true|none|

<h3 id="report_delete-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-screenshot">screenshot</h1>

## screenshot_create

<a id="opIdscreenshot_create"></a>

`POST /screenshot/`

Create Screenshot View.

<h3 id="screenshot_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-translate">translate</h1>

## translate_list

<a id="opIdtranslate_list"></a>

`GET /translate/`

Public endpoint to translate common_filters and xlsx columns.

<h3 id="translate_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-user-access">user-access</h1>

## user-access_list

<a id="opIduser-access_list"></a>

`GET /user-access/`

Get User's Access.

<h3 id="user-access_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## user-access_data

<a id="opIduser-access_data"></a>

`GET /user-access/data/`

Megatime User Access.

<h3 id="user-access_data-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-user-feedback">user-feedback</h1>

## user-feedback_list

<a id="opIduser-feedback_list"></a>

`GET /user-feedback/`

> Example responses

> 200 Response

```json
{
  "type": "array",
  "items": {
    "required": [
      "feedback",
      "report_type"
    ],
    "type": "object",
    "properties": {
      "id": {
        "title": "ID",
        "type": "integer",
        "readOnly": true
      },
      "link": {
        "title": "Link",
        "type": "string",
        "format": "uri",
        "maxLength": 4000,
        "minLength": 1,
        "nullable": true
      },
      "feedback": {
        "title": "Feedback",
        "type": "string",
        "minLength": 1
      },
      "created_at": {
        "title": "Created at",
        "type": "string",
        "format": "date-time",
        "readOnly": true
      },
      "user": {
        "title": "User",
        "type": "integer",
        "nullable": true
      },
      "report_type": {
        "title": "Report type",
        "type": "integer"
      }
    }
  }
}
```

<h3 id="user-feedback_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|Inline|

<h3 id="user-feedback_list-responseschema">Response Schema</h3>

Status Code **200**

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|[[UserFeedback](#schemauserfeedback)]|false|none|none|
|» id|integer|false|read-only|none|
|» link|string(uri)¦null|false|none|none|
|» feedback|string|true|none|none|
|» created_at|string(date-time)|false|read-only|none|
|» user|integer¦null|false|none|none|
|» report_type|integer|true|none|none|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## user-feedback_create

<a id="opIduser-feedback_create"></a>

`POST /user-feedback/`

> Body parameter

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[UserFeedback](#schemauserfeedback)|true|none|

> Example responses

> 201 Response

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|[UserFeedback](#schemauserfeedback)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## user-feedback_read

<a id="opIduser-feedback_read"></a>

`GET /user-feedback/{id}/`

<h3 id="user-feedback_read-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|integer|true|A unique integer value identifying this user feedback.|

> Example responses

> 200 Response

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_read-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[UserFeedback](#schemauserfeedback)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## user-feedback_update

<a id="opIduser-feedback_update"></a>

`PUT /user-feedback/{id}/`

> Body parameter

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_update-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[UserFeedback](#schemauserfeedback)|true|none|
|id|path|integer|true|A unique integer value identifying this user feedback.|

> Example responses

> 200 Response

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_update-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[UserFeedback](#schemauserfeedback)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## user-feedback_partial_update

<a id="opIduser-feedback_partial_update"></a>

`PATCH /user-feedback/{id}/`

> Body parameter

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_partial_update-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[UserFeedback](#schemauserfeedback)|true|none|
|id|path|integer|true|A unique integer value identifying this user feedback.|

> Example responses

> 200 Response

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}
```

<h3 id="user-feedback_partial_update-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|[UserFeedback](#schemauserfeedback)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## user-feedback_delete

<a id="opIduser-feedback_delete"></a>

`DELETE /user-feedback/{id}/`

<h3 id="user-feedback_delete-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|id|path|integer|true|A unique integer value identifying this user feedback.|

<h3 id="user-feedback_delete-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-verification-report">verification-report</h1>

## verification-report_xlsx

<a id="opIdverification-report_xlsx"></a>

`POST /verification-report/xlsx/`

*Create Excel file from Report data*

<h3 id="verification-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="verification-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-website-report">website-report</h1>

## website-report_xlsx

<a id="opIdwebsite-report_xlsx"></a>

`POST /website-report/xlsx/`

*Create Excel file from Report data*

<h3 id="website-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|order_by|query|integer|true|Lorem|
|ad_types|query|integer|true|Lorem|
|countries|query|integer|true|Lorem|
|devices|query|integer|true|Lorem|
|date_range|query|integer|true|Lorem|

<h3 id="website-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

<h1 id="clientela-website">website</h1>

## website_list

<a id="opIdwebsite_list"></a>

`GET /website/`

List Websites filtered by domain_autocomplete query param for autocomplete, and optionally by countries.

<h3 id="website_list-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|none|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

# Schemas

<h2 id="tocS_MarketReportQuery">MarketReportQuery</h2>
<!-- backwards compatibility -->
<a id="schemamarketreportquery"></a>
<a id="schema_MarketReportQuery"></a>
<a id="tocSmarketreportquery"></a>
<a id="tocsmarketreportquery"></a>

```json
{
  "required": [
    "day",
    "device",
    "country",
    "ad_type"
  ],
  "type": "object",
  "properties": {
    "day": {
      "title": "Day",
      "description": "Date and Time from which the report will take things into account",
      "type": "string",
      "format": "date-time"
    },
    "device": {
      "title": "Device",
      "description": "Filter by Device ID",
      "type": "integer"
    },
    "country": {
      "title": "Country",
      "description": "Filter by Country ID",
      "type": "integer"
    },
    "ad_type": {
      "title": "Ad type",
      "description": "Filter by Ad type ID",
      "type": "integer"
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|day|string(date-time)|true|none|Date and Time from which the report will take things into account|
|device|integer|true|none|Filter by Device ID|
|country|integer|true|none|Filter by Country ID|
|ad_type|integer|true|none|Filter by Ad type ID|

<h2 id="tocS_Report">Report</h2>
<!-- backwards compatibility -->
<a id="schemareport"></a>
<a id="schema_Report"></a>
<a id="tocSreport"></a>
<a id="tocsreport"></a>

```json
{
  "required": [
    "name",
    "query"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "name": {
      "title": "Name",
      "type": "string",
      "maxLength": 100,
      "minLength": 1
    },
    "query": {
      "title": "Query",
      "type": "string",
      "minLength": 1
    },
    "filter": {
      "title": "Filter",
      "type": "string",
      "minLength": 1
    },
    "period": {
      "title": "Period",
      "type": "integer"
    },
    "daily_updates": {
      "title": "Daily updates",
      "type": "boolean"
    },
    "weekly_updates": {
      "title": "Weekly updates",
      "type": "boolean"
    },
    "monthly_updates": {
      "title": "Monthly updates",
      "type": "boolean"
    },
    "monthly_memories": {
      "title": "Monthly memories",
      "type": "boolean"
    },
    "last_delivered_date": {
      "title": "Last delivered date",
      "type": "string",
      "format": "date-time",
      "nullable": true
    },
    "last_delivered_status": {
      "title": "Last delivered status",
      "type": "string",
      "maxLength": 50,
      "nullable": true
    },
    "weekly_updates_delivery_day": {
      "title": "Weekly updates delivery day",
      "type": "integer",
      "enum": [
        1,
        2,
        4,
        8,
        16,
        32,
        64
      ]
    },
    "report_type": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      },
      "readOnly": true
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|id|integer|false|read-only|none|
|name|string|true|none|none|
|query|string|true|none|none|
|filter|string|false|none|none|
|period|integer|false|none|none|
|daily_updates|boolean|false|none|none|
|weekly_updates|boolean|false|none|none|
|monthly_updates|boolean|false|none|none|
|monthly_memories|boolean|false|none|none|
|last_delivered_date|string(date-time)¦null|false|none|none|
|last_delivered_status|string¦null|false|none|none|
|weekly_updates_delivery_day|integer|false|none|none|
|report_type|object|false|read-only|none|
|» id|integer|false|read-only|none|
|» name|string|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|weekly_updates_delivery_day|1|
|weekly_updates_delivery_day|2|
|weekly_updates_delivery_day|4|
|weekly_updates_delivery_day|8|
|weekly_updates_delivery_day|16|
|weekly_updates_delivery_day|32|
|weekly_updates_delivery_day|64|

<h2 id="tocS_UserFeedback">UserFeedback</h2>
<!-- backwards compatibility -->
<a id="schemauserfeedback"></a>
<a id="schema_UserFeedback"></a>
<a id="tocSuserfeedback"></a>
<a id="tocsuserfeedback"></a>

```json
{
  "required": [
    "feedback",
    "report_type"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "ID",
      "type": "integer",
      "readOnly": true
    },
    "link": {
      "title": "Link",
      "type": "string",
      "format": "uri",
      "maxLength": 4000,
      "minLength": 1,
      "nullable": true
    },
    "feedback": {
      "title": "Feedback",
      "type": "string",
      "minLength": 1
    },
    "created_at": {
      "title": "Created at",
      "type": "string",
      "format": "date-time",
      "readOnly": true
    },
    "user": {
      "title": "User",
      "type": "integer",
      "nullable": true
    },
    "report_type": {
      "title": "Report type",
      "type": "integer"
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|id|integer|false|read-only|none|
|link|string(uri)¦null|false|none|none|
|feedback|string|true|none|none|
|created_at|string(date-time)|false|read-only|none|
|user|integer¦null|false|none|none|
|report_type|integer|true|none|none|

