---
title: API Reference

includes:
  - embed2.md.erb
  - ios.md.erb
  - android.md.erb
  - reactnative.md.erb
  - data_api.md.erb
  - questions.md.erb

search: true

toc_footers:
  - <a href='https://www.ada.support/'>Learn more about Ada</a>
  - <a href='https://www.ada.support/demo'>Request a demo</a>

---

# Introduction

Hello, and welcome to the Ada documentation hub! This is our place to store documentation on our publicly accessible APIs, libraries, and utilities.

## Audience

This document is primarily intended for developers and individuals with some practical programming experience.

<%= image_tag "images/telescope.png", class: 'telescope-img' %>

<script>
  window.adaSettings = {
    handle: "ada"
  }

  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "https://static.ada.support/embed2.js"
  document.head.appendChild(script);
</script>
