---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript

includes:
  - embed2.md.erb
  - ios.md.erb
  - android.md.erb
  - questions.md.erb

search: true

toc_footers:
  - <a href='https://www.ada.support/'>Learn more about Ada</a>
  - <a href='https://www.ada.support/demo'>Request a demo</a>

---

# Introduction

Hello, and welcome to the Ada documentation repository! This is our place to store documentation on our publicly accessible APIs, libraries, and utilities.

## Audience

This document is intended for bot specialists and developers with working knowledge of HTML. For some of the advanced setup, basic knowledge of JavaScript is required. The document also assumes you have a hosted web page that you have write access to.

<%= image_tag "images/telescope.png", class: 'telescope-img' %>

<script>
  window.adaSettings = {
    handle: "ada"
  }

  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "https://static.ada.support/embed2.js"
  document.head.appendChild(script);
</script>