<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quintype for Developers</title>
    <%= stylesheet_link_tag :homepage  %>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="title" content="Quintype For Developers" />
    <meta name="description" content="Quintype is a media tech company that focus on building a suite of digital publishing tools to simplify content creation, distribution, audience engagement and monetization." />
    <meta property="og:title" content="Quintype For Developers" />
    <meta property="og:site_name" content="Quintype for Developers" />
    <meta property="og:url" content="https://developers.quintype.com" />
    <meta property="og:description" content="Quintype is a media tech company that focus on building a suite of digital publishing tools to simplify content creation, distribution, audience engagement and monetization." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://images.assettype.com/quintype-website/2018-10/013e8cbe-92b4-435f-bbbb-3e101efbc99a/quintype_logo.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@quintype_inc" />
    <meta property="twitter:title" content="Quintype for Developers" />
    <meta property="twitter:description" content="Quintype is a media tech company that focus on building a suite of digital publishing tools to simplify content creation,distribution, audience engagement and monetization. Get a free demo." />
    <meta property="twitter:image" content="https://images.assettype.com/quintype-website/2018-10/013e8cbe-92b4-435f-bbbb-3e101efbc99a/quintype_logo.png" />
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Quintype","legalName":"Quintype Technologies India Pvt Ltd","url":"https://www.quintype.com","logo":"https://www.quintype.com/quintype.png","foundingDate":"2014","address":{"@type":"PostalAddress","streetAddress":"#29, 3rd Floor, Old Airport Road","addressLocality":"Murgesh Palya","addressRegion":"Bangalore","postalCode":"560017","addressCountry":"INDIA"},"contactPoint":[{"@type":"ContactPoint","contactType":"customer support","telephone":"+919019218218","areaServed":"INDIA","email":"sales@quintype.com"}],"sameAs":["https://www.facebook.com/Quintypetechnologies","https://twitter.com/quintype_inc","https://www.linkedin.com/company/quintype/","https://plus.google.com/109975125732886477523"]}</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66074042-1"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', "UA-66074042-1");</script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="header-links">
          <li class="header-link"><a href="https://www.quintype.com"><img src="https://images.assettype.com/quintype-website/2018-10/013e8cbe-92b4-435f-bbbb-3e101efbc99a/quintype_logo.png" class="qt-logo" alt="Quintype Logo" /></a></li>
          <li class="header-link desktop-only"><a href="https://developers.quintype.com/malibu/">Malibu</a></li>
          <li class="header-link desktop-only"><a href="https://help.quintype.com/">Help Documentation</a></li>
          <li class="header-link"><a href="mailto:support@quintype.com">Support</a></li>
        </ul>
      </nav>
    </header>

    <div class="large-image">
      <h1 class="headline">Quintype for Developers</h1>
      <h2 class="subheadline">Quintype helps publishers hit the ground running with a powerful, data-driven, headless CMS.</h2>
    </div>

    <p class="large-para">Fully featured, to help you get productive, fast!</p>
    <div class="container">
      <ul class="cards">
        <li class="card malibu-feature">
          <div>
            <img class="logo" src="/pwa-logo.jpg" alt="PWA"/>
            <h3>PWA, Out of the Box!</h3>
          </div>
        </li>
        <li class="card malibu-feature">
          <div>
            <img class="logo" src="/seo.png" alt="SEO"/>
            <h3>SEO Best Practices</h3>
          </div>
        </li>
        <li class="card malibu-feature">
          <div>
            <img class="logo" src="/reusable-blocks.png" alt="Reusable Blocks"/>
            <h3>Ready to Integrate Components</h3>
          </div>
        </li>
        <li class="card malibu-feature">
          <div>
            <img class="logo" src="/integration.png" alt="Integrations"/>
            <h3>Integrates with Everything</h3>
          </div>
        </li>
      </ul>

      <p class="large-para">Choose Your Tech Stack to Get Started</p>

      <ul class="cards">
        <li class="card tech-stack">
          <a href="https://developers.quintype.com/malibu/">
            <img class="logo" src="/node.jpg" alt="Node.js" />
            <div>React + Node.js</div>
          </a>
        </li>
        <li class="card tech-stack">
          <div>
            <img class="logo" src="/react-native.jpg" alt="React Native" />
            <div>React Native (Coming Soon)</div>
          </div>
        </li>
        <li class="card tech-stack">
          <a href="https://developers.quintype.com/swagger/">
            <img class="logo" src="/restful-api.jpg" alt="REST logo" />
            <div>REST API Reference</div>
          </a>
        </li>
      </ul>

      <p class="large-para">Not a developer? You might be looking for the <a href="https://help.quintype.com">help documentation</a> instead.</p>
    </div>
    <footer>
      <p>Copyright (c) 2014-2019 Quintype</p>
      <p style="font-size: 0.9rem;font-style: italic;"><a
          href="https://www.flickr.com/photos/26641068@N05/15325936926">"DSC_0418"</a><span>by <a
            href="https://www.flickr.com/photos/26641068@N05">jivagoalves</a></span> is licensed under <a
          href="https://creativecommons.org/licenses/by-sa/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY-SA
          2.0</a></p>
      <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
      <p>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </footer>
  </body>
</html>
