---
title: Clientela v1
language_tabs:
  - shell: cURL
  - java: Java
  - python: Python
  - javascript: Javascript
toc_footers: []
includes: []
search: true
highlight_theme: darkula
headingLevel: 2

---

<!-- Generator: Widdershins v4.0.1 -->

<%= partial "includes/introduction.md" %>
<%= partial "includes/auth-guide.md.erb" %>

- HTTP Authentication, scheme: basic

* API Key (Bearer)
    - Parameter Name: **Authorization**, in: header. Access Token

- oAuth2 authentication. OAuth Access

    - Flow: authorizationCode
    - Authorization URL = [https://example.com/oauth/authorize](https://example.com/oauth/authorize)

|Scope|Scope Description|
|---|---|

<h1 id="clientela-market-report">market-report</h1>

## market-report_create

<a id="opIdmarket-report_create"></a>

`POST /market-report/`

*Create a Report (base)*

Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde exercitationem enim molestias sed consequuntur? Alias deleniti voluptatem officia corporis porro. Doloremque in atque ab debitis, fugiat dicta tempore ratione soluta?

> Body parameter

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ReportRequest](#schemareportrequest)|true|none|

> Example responses

> 201 Response

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|[ReportRequest](#schemareportrequest)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## market-report_data_create

<a id="opIdmarket-report_data_create"></a>

`POST /market-report/data/`

*Create Market Data Report*

Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups

> Body parameter

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_data_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ReportRequest](#schemareportrequest)|true|none|

> Example responses

> 201 Response

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_data_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|[ReportRequest](#schemareportrequest)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|On missing params (e.g. day, device, ad_type or country)|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## market-report_data_v2_create

<a id="opIdmarket-report_data_v2_create"></a>

`POST /market-report/data/v2/`

*Create Market Data Report*

Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups

> Body parameter

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_data_v2_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ReportRequest](#schemareportrequest)|true|none|

> Example responses

> 201 Response

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_data_v2_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|[ReportRequest](#schemareportrequest)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|On missing params (e.g. day, device, ad_type or country)|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## market-report_data_v3_create

<a id="opIdmarket-report_data_v3_create"></a>

`POST /market-report/data/v3/`

*Create Market Data Report*

Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups

> Body parameter

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_data_v3_create-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ReportRequest](#schemareportrequest)|true|none|

> Example responses

> 201 Response

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_data_v3_create-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|none|[ReportRequest](#schemareportrequest)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|On missing params (e.g. day, device, ad_type or country)|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

## market-report_xlsx

<a id="opIdmarket-report_xlsx"></a>

`POST /market-report/xlsx/`

*Get XLSX File from Report*

Create Excel

> Body parameter

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}
```

<h3 id="market-report_xlsx-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ReportRequest](#schemareportrequest)|true|none|

<h3 id="market-report_xlsx-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None & None & None & None & None & None
</aside>

# Schemas

<h2 id="tocS_ObjectRequest">ObjectRequest</h2>
<!-- backwards compatibility -->
<a id="schemaobjectrequest"></a>
<a id="schema_ObjectRequest"></a>
<a id="tocSobjectrequest"></a>
<a id="tocsobjectrequest"></a>

```json
{
  "required": [
    "id"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "Id",
      "type": "integer"
    },
    "name": {
      "title": "Name",
      "type": "string",
      "minLength": 1
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|id|integer|true|none|none|
|name|string|false|none|none|

<h2 id="tocS_IncludeRequest">IncludeRequest</h2>
<!-- backwards compatibility -->
<a id="schemaincluderequest"></a>
<a id="schema_IncludeRequest"></a>
<a id="tocSincluderequest"></a>
<a id="tocsincluderequest"></a>

```json
{
  "title": "Devices",
  "required": [
    "include"
  ],
  "type": "object",
  "properties": {
    "include": {
      "type": "array",
      "items": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "integer"
          },
          "name": {
            "title": "Name",
            "type": "string",
            "minLength": 1
          }
        }
      }
    }
  }
}

```

Devices

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|include|[[ObjectRequest](#schemaobjectrequest)]|true|none|none|

<h2 id="tocS_SoldByRequest">SoldByRequest</h2>
<!-- backwards compatibility -->
<a id="schemasoldbyrequest"></a>
<a id="schema_SoldByRequest"></a>
<a id="tocSsoldbyrequest"></a>
<a id="tocssoldbyrequest"></a>

```json
{
  "required": [
    "id"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "Id",
      "type": "string",
      "minLength": 1
    },
    "name": {
      "title": "Name",
      "type": "string",
      "minLength": 1
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|id|string|true|none|none|
|name|string|false|none|none|

<h2 id="tocS_SoldByIncludeRequest">SoldByIncludeRequest</h2>
<!-- backwards compatibility -->
<a id="schemasoldbyincluderequest"></a>
<a id="schema_SoldByIncludeRequest"></a>
<a id="tocSsoldbyincluderequest"></a>
<a id="tocssoldbyincluderequest"></a>

```json
{
  "title": "Sold by",
  "required": [
    "include"
  ],
  "type": "object",
  "properties": {
    "include": {
      "type": "array",
      "items": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string",
            "minLength": 1
          },
          "name": {
            "title": "Name",
            "type": "string",
            "minLength": 1
          }
        }
      }
    }
  }
}

```

Sold by

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|include|[[SoldByRequest](#schemasoldbyrequest)]|true|none|none|

<h2 id="tocS_DateRangeRequest">DateRangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemadaterangerequest"></a>
<a id="schema_DateRangeRequest"></a>
<a id="tocSdaterangerequest"></a>
<a id="tocsdaterangerequest"></a>

```json
{
  "title": "Date range",
  "required": [
    "start",
    "end"
  ],
  "type": "object",
  "properties": {
    "start": {
      "title": "Start",
      "type": "string",
      "format": "date-time"
    },
    "end": {
      "title": "End",
      "type": "string",
      "format": "date-time"
    },
    "group_by": {
      "title": "Group by",
      "type": "string",
      "minLength": 1
    }
  }
}

```

Date range

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|start|string(date-time)|true|none|none|
|end|string(date-time)|true|none|none|
|group_by|string|false|none|none|

<h2 id="tocS_RangeRequest">RangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemarangerequest"></a>
<a id="schema_RangeRequest"></a>
<a id="tocSrangerequest"></a>
<a id="tocsrangerequest"></a>

```json
{
  "title": "Share",
  "required": [
    "start",
    "end"
  ],
  "type": "object",
  "properties": {
    "start": {
      "title": "Start",
      "type": "integer"
    },
    "end": {
      "title": "End",
      "type": "integer"
    }
  }
}

```

Share

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|start|integer|true|none|none|
|end|integer|true|none|none|

<h2 id="tocS_WebsiteObjectRangeRequest">WebsiteObjectRangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemawebsiteobjectrangerequest"></a>
<a id="schema_WebsiteObjectRangeRequest"></a>
<a id="tocSwebsiteobjectrangerequest"></a>
<a id="tocswebsiteobjectrangerequest"></a>

```json
{
  "required": [
    "id"
  ],
  "type": "object",
  "properties": {
    "id": {
      "title": "Id",
      "type": "integer"
    },
    "domain": {
      "title": "Domain",
      "type": "string",
      "minLength": 1
    },
    "share": {
      "title": "Share",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "integer"
        },
        "end": {
          "title": "End",
          "type": "integer"
        }
      }
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|id|integer|true|none|none|
|domain|string|false|none|none|
|share|[RangeRequest](#schemarangerequest)|false|none|none|

<h2 id="tocS_WebsiteIncludeExcludeRangeRequest">WebsiteIncludeExcludeRangeRequest</h2>
<!-- backwards compatibility -->
<a id="schemawebsiteincludeexcluderangerequest"></a>
<a id="schema_WebsiteIncludeExcludeRangeRequest"></a>
<a id="tocSwebsiteincludeexcluderangerequest"></a>
<a id="tocswebsiteincludeexcluderangerequest"></a>

```json
{
  "title": "Websites",
  "type": "object",
  "properties": {
    "include": {
      "type": "array",
      "items": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "integer"
          },
          "domain": {
            "title": "Domain",
            "type": "string",
            "minLength": 1
          },
          "share": {
            "title": "Share",
            "required": [
              "start",
              "end"
            ],
            "type": "object",
            "properties": {
              "start": {
                "title": "Start",
                "type": "integer"
              },
              "end": {
                "title": "End",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "exclude": {
      "type": "array",
      "items": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "type": "integer"
          },
          "domain": {
            "title": "Domain",
            "type": "string",
            "minLength": 1
          },
          "share": {
            "title": "Share",
            "required": [
              "start",
              "end"
            ],
            "type": "object",
            "properties": {
              "start": {
                "title": "Start",
                "type": "integer"
              },
              "end": {
                "title": "End",
                "type": "integer"
              }
            }
          }
        }
      }
    }
  }
}

```

Websites

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|include|[[WebsiteObjectRangeRequest](#schemawebsiteobjectrangerequest)]|false|none|none|
|exclude|[[WebsiteObjectRangeRequest](#schemawebsiteobjectrangerequest)]|false|none|none|

<h2 id="tocS_ReportRequest">ReportRequest</h2>
<!-- backwards compatibility -->
<a id="schemareportrequest"></a>
<a id="schema_ReportRequest"></a>
<a id="tocSreportrequest"></a>
<a id="tocsreportrequest"></a>

```json
{
  "required": [
    "devices",
    "ad_types",
    "countries",
    "date_range"
  ],
  "type": "object",
  "properties": {
    "devices": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "ad_types": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "countries": {
      "title": "Devices",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "sold_by": {
      "title": "Sold by",
      "required": [
        "include"
      ],
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "string",
                "minLength": 1
              },
              "name": {
                "title": "Name",
                "type": "string",
                "minLength": 1
              }
            }
          }
        }
      }
    },
    "date_range": {
      "title": "Date range",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "start": {
          "title": "Start",
          "type": "string",
          "format": "date-time"
        },
        "end": {
          "title": "End",
          "type": "string",
          "format": "date-time"
        },
        "group_by": {
          "title": "Group by",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "order_by": {
      "title": "Order by",
      "type": "string",
      "minLength": 1
    },
    "websites": {
      "title": "Websites",
      "type": "object",
      "properties": {
        "include": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "exclude": {
          "type": "array",
          "items": {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "type": "integer"
              },
              "domain": {
                "title": "Domain",
                "type": "string",
                "minLength": 1
              },
              "share": {
                "title": "Share",
                "required": [
                  "start",
                  "end"
                ],
                "type": "object",
                "properties": {
                  "start": {
                    "title": "Start",
                    "type": "integer"
                  },
                  "end": {
                    "title": "End",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "new_campaigns": {
      "title": "New campaigns",
      "type": "boolean"
    },
    "ad_format": {
      "title": "Ad format",
      "type": "boolean"
    },
    "api_version": {
      "title": "Api version",
      "type": "string",
      "minLength": 1
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|devices|[IncludeRequest](#schemaincluderequest)|true|none|none|
|ad_types|[IncludeRequest](#schemaincluderequest)|true|none|none|
|countries|[IncludeRequest](#schemaincluderequest)|true|none|none|
|sold_by|[SoldByIncludeRequest](#schemasoldbyincluderequest)|false|none|none|
|date_range|[DateRangeRequest](#schemadaterangerequest)|true|none|none|
|order_by|string|false|none|none|
|websites|[WebsiteIncludeExcludeRangeRequest](#schemawebsiteincludeexcluderangerequest)|false|none|none|
|new_campaigns|boolean|false|none|none|
|ad_format|boolean|false|none|none|
|api_version|string|false|none|none|

