---
title: Clientela API
language_tabs:
  - shell
  - java
  - python
  - javascript
toc_footers: []
includes: ["quickstart"]
search: true
highlight_theme: darkula
headingLevel: 2
---

<!-- Generator: Widdershins v4.0.1 -->

<h1 id="">API Clientela</h1>

<%= partial "includes/quickstart.md.erb" %>
<%= partial "includes/faq.md.erb" %>

<h1 id="-active-campaign">active-campaign</h1>

## active-campaign_create

<a id="opIdactive-campaign_create"></a>

`POST /active-campaign/`

<h3 id="active-campaign_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-ad">ad</h1>

## ad_create

<a id="opIdad_create"></a>

`POST /ad/`

Create Web Ad_files zip.

<h3 id="ad_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-advertiser">advertiser</h1>

## advertiser_list

<a id="opIdadvertiser_list"></a>

`GET /advertiser/`

List Advertiser filtered by countries.

<h3 id="advertiser_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-analytics">analytics</h1>

## analytics_email

<a id="opIdanalytics_email"></a>

`POST /analytics/email/`

Email open tracking analytics.

<h3 id="analytics_email-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-brand-report">brand-report</h1>

## brand-report_create

<a id="opIdbrand-report_create"></a>

`POST /brand-report/`

List

<h3 id="brand-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## brand-report_xlsx

<a id="opIdbrand-report_xlsx"></a>

`POST /brand-report/xlsx/`

Create Excel

<h3 id="brand-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-brand">brand</h1>

## brand_list

<a id="opIdbrand_list"></a>

`GET /brand/`

List Brands filtered by name_autocomplete query param for autocomplete, and optionally by countries.

<h3 id="brand_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-brands-report">brands-report</h1>

## brands-report_create

<a id="opIdbrands-report_create"></a>

`POST /brands-report/`

List

<h3 id="brands-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## brands-report_xlsx

<a id="opIdbrands-report_xlsx"></a>

`POST /brands-report/xlsx/`

Create Excel

<h3 id="brands-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-campaign-report">campaign-report</h1>

## campaign-report_create

<a id="opIdcampaign-report_create"></a>

`POST /campaign-report/`

List

<h3 id="campaign-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-campaigns">campaigns</h1>

## campaigns_create

<a id="opIdcampaigns_create"></a>

`POST /campaigns/`

List

<h3 id="campaigns_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## campaigns_xlsx

<a id="opIdcampaigns_xlsx"></a>

`POST /campaigns/xlsx/`

Create Excel

<h3 id="campaigns_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-community">community</h1>

## community_list

<a id="opIdcommunity_list"></a>

`GET /community/`

Public endpoint for landing page.

<h3 id="community_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-country">country</h1>

## country_list

<a id="opIdcountry_list"></a>

`GET /country/`

Get User's Access.

<h3 id="country_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-download">download</h1>

## download_list

<a id="opIddownload_list"></a>

`GET /download/`

List Users' Downloads.

<h3 id="download_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-industry-report">industry-report</h1>

## industry-report_create

<a id="opIdindustry-report_create"></a>

`POST /industry-report/`

List

<h3 id="industry-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## industry-report_xlsx

<a id="opIdindustry-report_xlsx"></a>

`POST /industry-report/xlsx/`

Create Excel

<h3 id="industry-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-industry">industry</h1>

## industry_list

<a id="opIdindustry_list"></a>

`GET /industry/`

List Industries filtered by name_autocomplete query param for autocomplete.

<h3 id="industry_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-market-report">market-report</h1>

## market-report_create

```java
OkHttpClient client = new OkHttpClient();

Request request = new Request.Builder()
  .url("https://clientela.admetricks.com/market-report/")
  .post()
  .build();

Response response = client.newCall(request).execute();
```

```javascript
const report = {
  name: "dean",
  login: "dean",
};

const payload = {
  method: "POST",
  headers: {
    Authorization: "Bearer __TOKEN__",
  },
  body: JSON.stringify(report),
};

fetch("https://clientela.admetricks.com/market-report/", payload)
  .then((data) => {
    console.log("Report created successfully: ", report);
  })
  .catch((error) => {
    console.log("Request failure: ", error);
  });
```

> Asegúrate de reemplazar `__TOKEN__` por el token que obtuviste al registrarte.

<a id="opIdmarket-report_create"></a>

`POST /market-report/`

List

<h3 id="market-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## market-report_xlsx

<a id="opIdmarket-report_xlsx"></a>

`POST /market-report/xlsx/`

Create Excel

<h3 id="market-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-newdeals-report">newdeals-report</h1>

## newdeals-report_create

<a id="opIdnewdeals-report_create"></a>

`POST /newdeals-report/`

List

<h3 id="newdeals-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## newdeals-report_xlsx

<a id="opIdnewdeals-report_xlsx"></a>

`POST /newdeals-report/xlsx/`

Create Excel

<h3 id="newdeals-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-opportunity-brand-report">opportunity-brand-report</h1>

## opportunity-brand-report_create

<a id="opIdopportunity-brand-report_create"></a>

`POST /opportunity-brand-report/`

List

<h3 id="opportunity-brand-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## opportunity-brand-report_xlsx

<a id="opIdopportunity-brand-report_xlsx"></a>

`POST /opportunity-brand-report/xlsx/`

Create Excel

<h3 id="opportunity-brand-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-opportunity-campaign-report">opportunity-campaign-report</h1>

## opportunity-campaign-report_create

<a id="opIdopportunity-campaign-report_create"></a>

`POST /opportunity-campaign-report/`

Mock Opportunity Campaign Report.

<h3 id="opportunity-campaign-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-payment">payment</h1>

## payment_create_customer

<a id="opIdpayment_create_customer"></a>

`POST /payment/customer/`

Create customer.

<h3 id="payment_create_customer-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## payment_create_session

<a id="opIdpayment_create_session"></a>

`POST /payment/session/`

Create session.

<h3 id="payment_create_session-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-printer">printer</h1>

## printer_create

<a id="opIdprinter_create"></a>

`POST /printer/`

Set Authorization header and call to PRINTER_URL.

<h3 id="printer_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-profile">profile</h1>

## profile_update

<a id="opIdprofile_update"></a>

`PUT /profile/{id}/`

Update user.profile.terms_accepted_at.

<h3 id="profile_update-parameters">Parameters</h3>

| Name | In   | Type   | Required | Description |
| ---- | ---- | ------ | -------- | ----------- |
| id   | path | string | true     | none        |

<h3 id="profile_update-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-publisher">publisher</h1>

## publisher_list

<a id="opIdpublisher_list"></a>

`GET /publisher/`

List Publishers filtered by countries.

<h3 id="publisher_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-report">report</h1>

## report_list

<a id="opIdreport_list"></a>

`GET /report/`

List Users' Reports.

<h3 id="report_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## report_create

<a id="opIdreport_create"></a>

`POST /report/`

Create a Users' Report.

<h3 id="report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## report_delete

<a id="opIdreport_delete"></a>

`DELETE /report/{id}/`

Destroy a Users' Report.

<h3 id="report_delete-parameters">Parameters</h3>

| Name | In   | Type   | Required | Description |
| ---- | ---- | ------ | -------- | ----------- |
| id   | path | string | true     | none        |

<h3 id="report_delete-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## report_read

<a id="opIdreport_read"></a>

`GET /report/{id}/`

Retrieve a Users' Report.

<h3 id="report_read-parameters">Parameters</h3>

| Name | In   | Type   | Required | Description |
| ---- | ---- | ------ | -------- | ----------- |
| id   | path | string | true     | none        |

<h3 id="report_read-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## report_update

<a id="opIdreport_update"></a>

`PUT /report/{id}/`

Update a Users' Report.

<h3 id="report_update-parameters">Parameters</h3>

| Name | In   | Type   | Required | Description |
| ---- | ---- | ------ | -------- | ----------- |
| id   | path | string | true     | none        |

<h3 id="report_update-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-screenshot">screenshot</h1>

## screenshot_create

<a id="opIdscreenshot_create"></a>

`POST /screenshot/`

Create Screenshot View.

<h3 id="screenshot_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-translate">translate</h1>

## translate_list

<a id="opIdtranslate_list"></a>

`GET /translate/`

Public endpoint to translate common_filters and xlsx columns.

<h3 id="translate_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-user-access">user-access</h1>

## user-access_list

<a id="opIduser-access_list"></a>

`GET /user-access/`

Get User's Access.

<h3 id="user-access_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## user-access_data

<a id="opIduser-access_data"></a>

`GET /user-access/data/`

Megatime User Access.

<h3 id="user-access_data-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-user-feedback">user-feedback</h1>

## user-feedback_list

<a id="opIduser-feedback_list"></a>

`GET /user-feedback/`

<h3 id="user-feedback_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## user-feedback_create

<a id="opIduser-feedback_create"></a>

`POST /user-feedback/`

<h3 id="user-feedback_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## user-feedback_delete

<a id="opIduser-feedback_delete"></a>

`DELETE /user-feedback/{id}/`

<h3 id="user-feedback_delete-parameters">Parameters</h3>

| Name | In   | Type    | Required | Description |
| ---- | ---- | ------- | -------- | ----------- |
| id   | path | integer | true     | none        |

<h3 id="user-feedback_delete-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## user-feedback_read

<a id="opIduser-feedback_read"></a>

`GET /user-feedback/{id}/`

<h3 id="user-feedback_read-parameters">Parameters</h3>

| Name | In   | Type    | Required | Description |
| ---- | ---- | ------- | -------- | ----------- |
| id   | path | integer | true     | none        |

<h3 id="user-feedback_read-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## user-feedback_partial_update

<a id="opIduser-feedback_partial_update"></a>

`PATCH /user-feedback/{id}/`

<h3 id="user-feedback_partial_update-parameters">Parameters</h3>

| Name | In   | Type    | Required | Description |
| ---- | ---- | ------- | -------- | ----------- |
| id   | path | integer | true     | none        |

<h3 id="user-feedback_partial_update-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## user-feedback_update

<a id="opIduser-feedback_update"></a>

`PUT /user-feedback/{id}/`

<h3 id="user-feedback_update-parameters">Parameters</h3>

| Name | In   | Type    | Required | Description |
| ---- | ---- | ------- | -------- | ----------- |
| id   | path | integer | true     | none        |

<h3 id="user-feedback_update-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-verification-report">verification-report</h1>

## verification-report_create

<a id="opIdverification-report_create"></a>

`POST /verification-report/`

List

<h3 id="verification-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## verification-report_xlsx

<a id="opIdverification-report_xlsx"></a>

`POST /verification-report/xlsx/`

Create Excel

<h3 id="verification-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-website-report">website-report</h1>

## website-report_create

<a id="opIdwebsite-report_create"></a>

`POST /website-report/`

List

<h3 id="website-report_create-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

## website-report_xlsx

<a id="opIdwebsite-report_xlsx"></a>

`POST /website-report/xlsx/`

Create Excel

<h3 id="website-report_xlsx-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>

<h1 id="-website">website</h1>

## website_list

<a id="opIdwebsite_list"></a>

`GET /website/`

List Websites filtered by domain_autocomplete query param for autocomplete, and optionally by countries.

<h3 id="website_list-responses">Responses</h3>

| Status | Meaning | Description | Schema |
| ------ | ------- | ----------- | ------ |


<aside class="success">
This operation does not require authentication
</aside>
