---
title: Clientela v1
language_tabs:
  - shell: cURL
  - python: Python
  - javascript: JavaScript
toc_footers: []
includes: []
search: true
highlight_theme: darkula
headingLevel: 2

---

<!-- Generator: Widdershins v4.0.1 -->

<h1 id="clientela">Clientela</h1>

<%= partial "includes/auth.md.erb" %>
<%= partial "includes/faq.md.erb" %>


<h1 id="clientela-market-report">market-report</h1>

## Create Market Report

<a id="opIdCreate Market Report"></a>

`POST /market-report/data/v3/`

> Example Request

```shell
curl -X POST -H "Authorization: Bearer YOUR_TOKEN" "https://clientela.admetricks.com/market-report/data/v3/?day=2020-10-01&country=1&device=1&ad_type=1"
```

```python
import requests

headers = {
    'Authorization': 'Bearer YOUR_TOKEN',
    'content-type': 'application/json'
}

params = (
    ('day', '2020-10-01'),
    ('country', '1'),
    ('device', '1'),
    ('ad_type', '1'),
)

response = requests.post(
  'https://clientela.admetricks.com/market-report/data/v3/',
  headers=headers,
  params=params
)
```

```javascript
const endpoint = "https://clientela.admetricks.com/market-report/data/v3/?day=2020-10-01&country=1&device=1&ad_type=1"

fetch(endpoint, {
    method: 'POST',
    headers: {
        'Authorization': 'Bearer YOUR_TOKEN',
        'content-type': 'application/json'
    }
});
```


<h3 id="create-market-report-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|object|true|none|
|» ad_type|body|integer|true|Include data from these Ad Types|
|» country|body|integer|true|Include data from these Countries|
|» day|body|date|true|Include data since this Date|
|» device|body|integer|true|Include data from these Devices|


> Example Response

```json
{
  "data": {
     "metrics_valuation": 5740,
      "campaign_name": "Sostenibilidad | Parque del Recuerdo",
     "skip": 0.0,
     "campaign_tags": "adaptación, amistad, feliz, gesto, mañana, personas naturaleza, pie foto, póster, árbol",
     "industry": "servicios públicos y privados - servicios de empresas",
     "metrics_count": 150,
     "duration": "0",
     "position": "First scroll: 100.00%, Second scroll: 0.00%, Third or more: 0.00%",
     "brand_id": 20017,
     "metrics_valuation_usd": 7.9236213918219764,
     "website_sections": "interior,home",
     "ad_type": "display",
     "device": "desktop",
     "country_id": 1,
     "publisher": "red 13.cl",
     "hosted_by": "googlesyndication.com",
     "industry_id": 279,
     "campaign_id": 6783369,
     "device_id": 1,
     "screenshot_link": "https://screenshots.admetricks.com/cache_ide7cdd2738c7545218a80f04cae335386.jpg",
     "website_id": 4254,
     "web_report": "https://web.admetricks.com/#/campaign?name=Sostenibilidad%20%7C%20Parque%20del%20Recuerdo&request_filters=eyJjYW1wYWlnbnMiOiB7ImluY2x1ZGUiOiBbeyJpZCI6IDY3ODMzNjl9XX0sICJkYXRlX3JhbmdlIjogeyJzdGFydCI6ICIyMDE5LTEwLTIzVDAwOjAwOjAwLjAwMFoiLCAiZW5kIjogIjIwMTktMTAtMjNUMjM6NTk6NTkuOTk5WiJ9LCAiYWRfdHlwZXMiOiB7ImluY2x1ZGUiOiBbeyJpZCI6IDF9XX0sICJkZXZpY2VzIjogeyJpbmNsdWRlIjogW3siaWQiOiAxfV19LCAiY291bnRyaWVzIjogeyJpbmNsdWRlIjogW3siaWQiOiAxfV19fQ%3D%3D",
     "date": "2019-10-23",
     "advertiser": "Not classified",
     "ad_link": "https://ads.admetricks.com/banner_cde655f46e2ee4707f846dbe52aac863.jpg",
     "metrics_impressions": 4950,
     "website": "oasisfm.cl",
     "ad_sizes": "120x600",
     "ad_type_id": 1,
     "country": "chile",
     "metrics_impact": 450,
     "sold_bys": "direct",
     "brand": "parque del recuerdo",
     "campaign_landing_page": "parquedelrecuerdo.cl/sostenibilidad"
   }
}
```

<h3 id="create-market-report-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|URL with the generated file|None|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|Missing `day` parameter|None|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Missing `Authentication` header|None|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|Service not found|None|
|409|[Conflict](https://tools.ietf.org/html/rfc7231#section-6.5.8)|No results, no data available or response too long|None|
|502|[Bad Gateway](https://tools.ietf.org/html/rfc7231#section-6.6.3)|Service not available|None|

<h3 id="create-market-report-responseschema">Response Schema</h3>

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
Bearer
</aside>
