doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block title
      title Quadency - Advanced Crypto Trading Platform
    meta(name='description', content="Professional grade platform for trading and monitoring cryptocurrencies across all major exchanges")
    meta(name='keywords', content='Cryptocurrency trading platform, bitcoin, ethereum, litecoin, altcoins, technical analysis, portfolio, charts, exchanges, tokens, icos, market')
    meta(name='referrer', content='no-referrer')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@quadency')
    meta(property='og:image', content='https://quadency.com/images/trade.jpg')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='635')
    meta(property='og:image:height', content='475')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://quadency.com')
    meta(property='og:title', content='Quadency | Advanced Crypto Trading Platform')
    meta(property='og:description', content='All-in-one cryptocurrency trading platform, automatic portfolio tracker and market analysis dashboard.')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png')
    link(rel='manifest', href='/images/favicons/site.webmanifest')
    link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#3023ae')
    link(rel='shortcut icon', href='/images/favicons/favicon.ico')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    //- G Optimize page hiding snippet
    style.
      .async-hide {
        opacity: 0 !important;
      }

    script.
      (function (a, s, y, n, c, h, i, d, e) {
      s.className += ' ' + y;
      h.end = i = function () {
      s.className = s.className.replace(RegExp(' ?' + y), '')
      };
      (a[n] = a[n] || []).hide = h;
      setTimeout(function () {
        i();
        h.end = null
      }, c);
      })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,   {'GTM-K7F6N58': true});

    //- Google Tag Manager
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
        'gtm.start':
         new Date().getTime(), event: 'gtm.js'
        });
      var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-K7F6N58');

    block head
      link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
      link(rel='stylesheet', href='/stylesheets/common.css')

    body(data-spy="scroll" data-target=".navabar" data-offset="-40")

    include ../partials/header

    block content

    include ../partials/footer

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
      script(src="/scripts/vendor/cookies.min.js")
      script(src="/scripts/common.js")
      //- Google Tag Manager (noscript)
      noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K7F6N58" height="0" width="0" style="display:none;visibility:hidden")

